.btn-success {
  display: inline-block;
  padding: .5em 1.5em;
  font: 400 15px/1em Roboto, Arial, 'Open Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  background: none;
  border: 1px solid #b6b6b6;
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: none;
  -webkit-appearance: none;
}
.btn-success {
  color: #555555;
  text-decoration: none;
}
