.svg-sprite-landing-firms {
  background: url(sprite.svg) no-repeat;
}
.svg-icon-assistant {
  background-position: 33.333333333333336% 0;
  width: 50px;
  height: 50px;
}
.svg-icon-autograph {
  background-position: 33.333333333333336% 66.66666666666667%;
  width: 50px;
  height: 50px;
}
.svg-icon-clock {
  background-position: 0 33.333333333333336%;
  width: 50px;
  height: 50px;
}
.svg-icon-collect {
  background-position: 33.333333333333336% 33.333333333333336%;
  width: 50px;
  height: 50px;
}
.svg-icon-conference {
  background-position: 66.66666666666667% 0;
  width: 50px;
  height: 50px;
}
.svg-icon-cup {
  background-position: 66.66666666666667% 33.333333333333336%;
  width: 50px;
  height: 50px;
}
.svg-icon-filter {
  background-position: 0 66.66666666666667%;
  width: 50px;
  height: 50px;
}
.svg-icon-money-box {
  background-position: 0 0;
  width: 50px;
  height: 50px;
}
.svg-icon-office-phone {
  background-position: 66.66666666666667% 66.66666666666667%;
  width: 50px;
  height: 50px;
}
.svg-icon-organization {
  background-position: 100% 0;
  width: 50px;
  height: 50px;
}
.svg-icon-registry-editor {
  background-position: 100% 33.333333333333336%;
  width: 50px;
  height: 50px;
}
.svg-icon-speed {
  background-position: 100% 66.66666666666667%;
  width: 50px;
  height: 50px;
}
.svg-icon-thumb-up {
  background-position: 0 100%;
  width: 50px;
  height: 50px;
}
.svg-icon-todo-list {
  background-position: 33.333333333333336% 100%;
  width: 50px;
  height: 50px;
}
.svg-icon-wallet {
  background-position: 66.66666666666667% 100%;
  width: 50px;
  height: 50px;
}
.svg-sprite-landing-firms {
  background-image: url("../img/sprites/landing-firms/sprite.svg");
}
.top-menu .top-menu-bg {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: none;
  border-bottom: 0 none;
}
.top-menu ul li {
  border-bottom: 0 none;
}
.top-menu ul li.active a,
.top-menu ul li a:hover {
  background: none;
  border-top-color: #fff;
  color: #fff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.2);
}
.page-landing-firms {
  background: url("../img/landing/bg_spb.jpg") no-repeat center top;
  background-size: 100% 570px;
}
.section-intro {
  padding: 150px 0;
}
.section-intro .title {
  margin: 0;
  padding: 0 22%;
  text-align: center;
  color: #fff;
  font-size: 75px;
  line-height: .8em;
  font-weight: 400;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  text-transform: uppercase;
}
.section-intro .title > span {
  font-size: 50px;
  font-weight: 300;
  text-transform: none;
}
.section-intro .btn-main-action {
  width: 320px;
}
.section-intro .btn-cnt {
  margin: 20px 0 0;
  text-align: center;
}
.section-infographic-text-icon {
  background: #fff;
  background: -webkit-linear-gradient(top, #e7fdff, #ffffff);
  background: -moz-linear-gradient(top, #e7fdff, #ffffff);
  background: linear-gradient(to bottom, #e7fdff, #ffffff);
  border-top: 5px solid #63bdc5;
}
.section-infographic-text-icon .item {
  padding: 80px 0;
}
.section-infographic-text-icon .item-icon {
  text-align: center;
}
.section-infographic-text-icon .svg-icon {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.section-infographic-text-icon .item-title {
  margin: 5px 0;
  text-align: center;
  font: 28px/1.5em 'Roboto Condensed', Tahoma, sans-serif;
  color: #5f5f5f;
}
.section-infographic-text-icon .item-text {
  text-align: center;
  font-size: 18px;
  line-height: 1.4em;
  color: #787878;
}
.section-infographic-numeric {
  background: #c5fbff;
  padding: 80px 0;
}
.section-infographic-numeric .title {
  font: 700 32px/1.2em 'Roboto Condensed', Tahoma, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #5a8b92;
  letter-spacing: 2px;
}
.section-infographic-numeric .subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.2em;
  text-align: center;
  color: #869a9d;
}
.section-infographic-numeric .items {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 25px 0 50px;
  border-spacing: 0;
}
.section-infographic-numeric .item {
  display: table-cell;
  vertical-align: middle;
  padding: 40px 10px 40px 30px;
  background: #f9ffff;
}
.section-infographic-numeric .item:nth-of-type(even) {
  background: #b0f5ff;
}
.section-infographic-numeric .item-icon {
  width: 85px;
  float: left;
  margin: 20px 15px 0 0;
  text-align: center;
}
.section-infographic-numeric .svg-icon {
  -webkit-transform: scale(1.8);
  -moz-transform: scale(1.8);
  -ms-transform: scale(1.8);
  transform: scale(1.8);
}
.section-infographic-numeric .item-number {
  font: 700 60px/1em 'Roboto Condensed', Tahoma, sans-serif;
  color: #383838;
}
.section-infographic-numeric .item-number small {
  font-size: 22px;
  margin-left: 5px;
}
.section-infographic-numeric .item-text {
  font: 24px/1em 'Roboto Condensed', Tahoma, sans-serif;
  overflow: hidden;
}
.section-infographic-numeric .btn-cnt {
  text-align: center;
}
.section-infographic-numeric .btn-order {
  display: inline-block;
  padding: 17px 20px 15px;
  background: #00c2de;
  background: -webkit-linear-gradient(top, #00dfff, #00a5bd);
  background: -moz-linear-gradient(top, #00dfff, #00a5bd);
  background: linear-gradient(to bottom, #00dfff, #00a5bd);
  border: 0 none;
  border-bottom: 1px solid #00a5bd;
  box-shadow: 0 0 10px #00dfff inset;
  border-radius: 7px;
  font-size: 19px;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  font-size: 22px;
  font-weight: 700;
}
.section-infographic-numeric .btn-order,
.section-infographic-numeric .btn-order:link,
.section-infographic-numeric .btn-order:visited {
  color: #fff;
  text-decoration: none;
}
.section-infographic-numeric .btn-order:hover {
  background: #00d8f8;
  background: -webkit-linear-gradient(top, #00dfff, #00c9e6);
  background: -moz-linear-gradient(top, #00dfff, #00c9e6);
  background: linear-gradient(to bottom, #00dfff, #00c9e6);
  color: #fff;
  text-decoration: none;
}
.section-infographic-numeric .btn-order:active {
  background: #00c2de;
  background: -webkit-linear-gradient(top, #00a5bd, #00dfff);
  background: -moz-linear-gradient(top, #00a5bd, #00dfff);
  background: linear-gradient(to bottom, #00a5bd, #00dfff);
}
.section-infographic-numeric .btn-order[disabled] {
  background: #afafaf;
  background: -webkit-linear-gradient(top, #b6b6b6, #a7a7a7);
  background: -moz-linear-gradient(top, #b6b6b6, #a7a7a7);
  background: linear-gradient(to bottom, #b6b6b6, #a7a7a7);
  box-shadow: none;
  border-bottom-color: #b6b6b6;
}
