.main {
  padding-top: 92px;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1020;
}
.header-shadow {
  position: fixed;
  width: 100%;
  height: 92px;
  left: 0;
  top: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.3);
  z-index: 3;
}
@media (min-width: 1024px) {
  .main {
    padding-top: 104px;
  }
  .header-shadow {
    height: 104px;
  }
}
@media (min-width: 1280px) {
  .header-shadow {
    display: none;
  }
  .section-cnt {
    padding-right: 310px;
  }
}
.breadcrumbs {
  position: fixed;
  left: 0;
  top: 46px;
  width: 50%;
  height: 46px;
  overflow: hidden;
  text-align: center;
  z-index: 1005;
}
.breadcrumbs .breadcrumbs-level-1 {
  display: none;
}
.breadcrumbs-open-services {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: 46px;
  background: #f9f9f9;
  background: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background: linear-gradient(to bottom, #ffffff, #f0f0f0);
  cursor: pointer;
  border-right: 1px solid #fff;
}
.breadcrumbs-open-services:hover {
  background: -webkit-linear-gradient(top, #ffffff, #e4e4e4);
  background: -moz-linear-gradient(top, #ffffff, #e4e4e4);
  background: linear-gradient(to bottom, #ffffff, #e4e4e4);
}
.breadcrumbs-open-services .icon {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -moz-box-flex: 1;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  color: #63bdc5;
  font-family: 'Roboto Condensed', Tahoma, sans-serif;
  font-size: 18px;
  line-height: 1em;
  text-transform: uppercase;
}
.breadcrumbs-open-services .icon i {
  vertical-align: bottom;
}
.breadcrumbs-open-services .icon-close {
  display: none;
}
.breadcrumbs-open-services.active {
  background: #63bdc5;
}
.breadcrumbs-open-services.active .icon {
  color: #fff;
}
.breadcrumbs-open-services.active .icon-close {
  display: inline-block;
}
.breadcrumbs-open-services.active .icon-normal {
  display: none;
}
@media (min-width: 768px) {
  .breadcrumbs-open-services .icon {
    font-size: 21px;
  }
}
@media (min-width: 1024px) {
  .breadcrumbs {
    top: 58px;
  }
}
@media (min-width: 1280px) {
  .breadcrumbs {
    width: 100% !important;
    padding-right: 310px;
    z-index: 1040;
    position: relative;
    left: 0;
    top: 0;
    text-align: left !important;
    overflow: visible;
  }
  .breadcrumbs .breadcrumbs-level-1 {
    display: inline-block;
    width: 1075px;
    height: 46px;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: visible;
    vertical-align: top;
  }
  .breadcrumbs .breadcrumbs-level-1:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff 100px, #ffffff);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff 100px, #ffffff);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff 100px, #ffffff);
    z-index: 30;
  }
  .breadcrumbs .breadcrumbs-level-1 > li {
    display: inline-block;
    height: 100%;
    margin: 0 0 0 10px;
    position: relative;
  }
  .breadcrumbs .breadcrumbs-level-1 > li > a,
  .breadcrumbs .breadcrumbs-level-1 > li > span {
    display: inline-block;
    height: 100%;
    padding: 12px 0 0 15px;
    vertical-align: top;
    position: relative;
    z-index: 20;
  }
  .breadcrumbs .breadcrumbs-level-1 > li > a:before,
  .breadcrumbs .breadcrumbs-level-1 > li > span:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: -15px;
    top: 50%;
    margin: -4px 0 0;
    border-width: 5px;
    border-color: transparent;
    border-left-color: currentColor;
    border-style: solid;
    left: 0;
  }
  .breadcrumbs .breadcrumbs-level-1 > li > a:link,
  .breadcrumbs .breadcrumbs-level-1 > li > a:visited,
  .breadcrumbs .breadcrumbs-level-1 > li > a:hover {
    color: #63bdc5;
    text-decoration: none;
  }
  .breadcrumbs .breadcrumbs-level-1 > li > a:hover {
    color: #f16d38;
  }
  .breadcrumbs .breadcrumbs-level-1 > li > span {
    color: #b6b6b6;
  }
  .breadcrumbs-open-services {
    display: inline-block;
    height: 46px;
    vertical-align: top;
  }
  .breadcrumbs-open-services .icon {
    padding: 0 20px;
    background: #63bdc5;
    font-size: 18px;
    color: #fff;
    line-height: 46px;
    -webkit-transition: background .2s;
    -moz-transition: background .2s;
    transition: background .2s;
  }
  .breadcrumbs-open-services .icon:hover {
    background: #50b5be;
  }
  .breadcrumbs-open-services .icon i {
    vertical-align: middle;
    margin-top: -4px;
    font-size: 1.4em;
  }
  .breadcrumbs-cnt {
    white-space: nowrap;
  }
}
.breadcrumbs-level-2 {
  display: none;
}
@media (min-width: 1280px) {
  .breadcrumbs-level-1 > li:hover .breadcrumbs-level-2 {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  .breadcrumbs-level-2 {
    display: block;
    min-width: 275px;
    max-width: 400px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 46px;
    z-index: 10;
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -moz-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    transition: opacity .3s;
    border-top: 1px solid #f2f2f2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  .breadcrumbs-level-2 > li {
    display: block;
    padding: 0;
    margin: 0;
    background: #fcfcfc;
    border: 1px solid #f2f2f2;
    border-top: 0 none;
  }
  .breadcrumbs-level-2 > li > a,
  .breadcrumbs-level-2 > li > span {
    display: block;
    padding: 6px 10px 6px 15px;
    font-size: 13px;
    line-height: 1.3em;
    white-space: normal;
  }
  .breadcrumbs-level-2 > li > a:link,
  .breadcrumbs-level-2 > li > a:visited,
  .breadcrumbs-level-2 > li > a:hover {
    color: #63bdc5;
    text-decoration: none;
  }
  .breadcrumbs-level-2 > li > a:hover {
    color: #f16d38;
  }
}
@media (min-width: 1280px) {
  .fixed-nav {
    position: fixed;
    left: 0;
    top: 58px;
    width: 100%;
    height: 46px;
    background: #fff;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
  .fixed-nav .section-cnt {
    padding: 0 !important;
  }
  .fixed-nav:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1020;
    background: #fcfcfc;
  }
  .fixed-nav:after {
    content: '';
    display: block;
    position: absolute;
    left: -webkit-calc((100% - 1240px)/2 + 1240px);
    left: -moz-calc((100% - 1240px)/2 + 1240px);
    left: calc((100% - 1240px)/2 + 1240px);
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    background: #fff;
  }
}
.fixed-menu {
  position: fixed;
  right: 0;
  top: 46px;
  width: 50%;
  z-index: 1010;
}
.fixed-menu-nav {
  width: 100%;
  height: 46px;
  position: relative;
}
.fixed-menu-nav ul {
  margin: 0;
  padding: 0;
  background: #fff;
  border-left: 1px solid #e0e0e0;
}
.fixed-menu-nav ul li {
  display: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #f2f2f2;
}
.fixed-menu-nav ul li a {
  display: block;
  position: relative;
  padding: 8px 5px;
  font-family: 'Roboto Condensed', Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1em;
  font-weight: 500;
  text-align: center;
  color: #63bdc5;
}
.fixed-menu-nav ul li a,
.fixed-menu-nav ul li a:link,
.fixed-menu-nav ul li a:visited,
.fixed-menu-nav ul li a:hover {
  color: #63bdc5;
  text-decoration: none;
}
.fixed-menu-nav ul li a:hover {
  background: #63bdc5;
  color: #fff;
}
.fixed-menu-nav ul li.current-item-mobile {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: 46px;
  margin-bottom: 1px;
  background: #f9f9f9;
}
.fixed-menu-nav ul li .current {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
  -moz-box-flex: 1;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-family: 'Roboto Condensed', Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1em;
  font-weight: 500;
  text-align: center;
  color: #63bdc5;
  padding: 0;
}
.fixed-menu-nav ul li .current i {
  vertical-align: middle;
  line-height: 0;
}
.fixed-menu-nav ul li.active a {
  background: #63bdc5;
  color: #fff;
}
.fixed-menu-nav .back-link {
  position: fixed;
  left: 15px;
  bottom: 15px;
}
.fixed-menu-nav .back-link .icon {
  background: #63bdc5;
  font-size: 28px;
  border-radius: 50%;
  padding: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: #fff;
  opacity: .9;
}
.fixed-menu-nav .back-link:hover {
  opacity: 1;
}
.fixed-menu-nav .back-link .text {
  display: none;
}
.fixed-menu-nav-cnt {
  position: fixed;
  right: 0;
  top: 46px;
  width: 50%;
  height: 46px;
  z-index: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.fixed-menu-nav-trigger {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
}
.fixed-menu-nav.opened .fixed-menu-nav-cnt {
  height: 80%;
  overflow: hidden;
  overflow-y: visible;
}
.fixed-menu-nav.opened .fixed-menu-nav-trigger {
  display: none;
}
.fixed-menu-nav.opened ul {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
.fixed-menu-nav.opened ul li {
  display: block;
}
.fixed-menu-main-action {
  display: block;
  width: 100%;
  height: 46px;
  border-left: 1px solid #e0e0e0;
  font: 13px/46px 'Roboto Condensed', Tahoma, sans-serif;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
}
.fixed-menu-main-action:link,
.fixed-menu-main-action:visited {
  color: #63bdc5;
  text-decoration: none;
}
.fixed-menu-main-action:hover {
  color: #f16d38;
  text-decoration: none;
}
@media (min-width: 375px) {
  .fixed-menu-main-action {
    font-size: 15px;
  }
}
@media (min-width: 480px) {
  .fixed-menu-main-action {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .fixed-menu-nav ul li a {
    padding: 10px;
  }
  .fixed-menu-nav ul li a,
  .fixed-menu-nav ul li .current {
    font-size: 19px;
  }
}
@media (min-width: 1024px) {
  .fixed-menu,
  .fixed-menu-nav,
  .fixed-menu-nav-cnt,
  .fixed-menu-nav ul li a.current-item-mobile {
    top: 58px;
  }
  .fixed-menu {
    background: #fff;
  }
  .fixed-menu-nav-cnt {
    right: auto;
    left: 50%;
    width: 25%;
    overflow: hidden;
  }
  .fixed-menu-nav ul {
    border-right: 1px solid #e8e8e8;
  }
}
@media (min-width: 1280px) {
  .fixed-menu,
  .fixed-menu-nav,
  .fixed-menu-nav-cnt,
  .fixed-menu-nav ul li a.current-item-mobile {
    top: auto;
  }
  .fixed-menu {
    position: fixed;
    right: 0;
    top: 150px;
    width: 280px;
    background: none;
    margin-left: 30px;
  }
  .fixed-menu.not-fixed {
    position: absolute;
  }
  .fixed-menu-nav-cnt {
    position: relative;
    right: auto;
    left: auto;
    top: auto;
    width: 100%;
    height: auto;
    z-index: 0;
    margin: 0;
    padding: 0;
    overflow: visible;
  }
  .fixed-menu-nav {
    height: auto;
  }
  .fixed-menu-nav ul {
    background: none;
    border: 0 none;
  }
  .fixed-menu-nav ul li {
    display: block;
    border: 0 none;
    margin-bottom: 1px;
  }
  .fixed-menu-nav ul li.current-item-mobile {
    display: none !important;
  }
  .fixed-menu-nav ul li a {
    padding: 10px 0 8px 15px;
    border-left: 3px solid transparent;
    font-size: 21px;
    color: #b6d5d8 !important;
    text-align: left;
    text-transform: uppercase;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    transition: all .15s;
  }
  .fixed-menu-nav ul li a:hover {
    color: #63bdc5 !important;
    background: rgba(99, 189, 197, 0.12);
  }
  .fixed-menu-nav ul li.active a {
    background: rgba(99, 189, 197, 0.12);
    border-left-color: #63bdc5;
    color: #63bdc5 !important;
  }
  .fixed-menu-nav .back-link {
    display: block;
    position: relative;
    left: auto;
    bottom: auto;
    margin: 10px 0 0 14px;
  }
  .fixed-menu-nav .back-link .icon {
    background: none;
    font-size: 24px;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    opacity: 1;
    vertical-align: top;
    color: #addce1;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    transition: color .2s;
  }
  .fixed-menu-nav .back-link .text {
    display: inline-block;
    margin: 0 0 0 2px;
    padding: 2px 0;
    border-bottom: 1px solid transparent;
    vertical-align: top;
    font-size: 18px;
    line-height: 1em;
    -webkit-transition: border .2s;
    -moz-transition: border .2s;
    transition: border .2s;
  }
  .fixed-menu-nav .back-link:link,
  .fixed-menu-nav .back-link:visited,
  .fixed-menu-nav .back-link:hover {
    color: #63bdc5;
    text-decoration: none;
  }
  .fixed-menu-nav .back-link:hover .icon {
    color: #63bdc5;
  }
  .fixed-menu-nav .back-link:hover .text {
    border-bottom-color: #cbe9ec;
  }
  .fixed-menu-nav-trigger {
    display: none;
  }
  .fixed-menu-main-action {
    margin: 10px 0 0 14px;
    width: auto;
    height: auto;
    border-left: none;
    font-size: 18px;
    white-space: normal;
    text-align: left;
    display: inline-block;
    padding: 17px 20px 15px;
    background: #00d31b;
    background: -webkit-linear-gradient(top, #00ff2a, #00a70c);
    background: -moz-linear-gradient(top, #00ff2a, #00a70c);
    background: linear-gradient(to bottom, #00ff2a, #00a70c);
    border: 0 none;
    border-bottom: 1px solid #00a70c;
    box-shadow: 0 0 10px #00ff2a inset;
    border-radius: 7px;
    font-size: 19px;
    font-weight: 700;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    padding: 8px 15px;
    font-size: 15px;
    text-shadow: none;
    font-weight: 500;
  }
  .fixed-menu-main-action,
  .fixed-menu-main-action:link,
  .fixed-menu-main-action:visited {
    color: #fff;
    text-decoration: none;
  }
  .fixed-menu-main-action:hover {
    background: #00ed1d;
    background: -webkit-linear-gradient(top, #00ff2a, #00d00f);
    background: -moz-linear-gradient(top, #00ff2a, #00d00f);
    background: linear-gradient(to bottom, #00ff2a, #00d00f);
    color: #fff;
    text-decoration: none;
  }
  .fixed-menu-main-action:active {
    background: #00d31b;
    background: -webkit-linear-gradient(top, #00a70c, #00ff2a);
    background: -moz-linear-gradient(top, #00a70c, #00ff2a);
    background: linear-gradient(to bottom, #00a70c, #00ff2a);
  }
  .fixed-menu-main-action[disabled] {
    background: #afafaf;
    background: -webkit-linear-gradient(top, #b6b6b6, #a7a7a7);
    background: -moz-linear-gradient(top, #b6b6b6, #a7a7a7);
    background: linear-gradient(to bottom, #b6b6b6, #a7a7a7);
    box-shadow: none;
    border-bottom-color: #b6b6b6;
  }
}
.services-list {
  position: relative;
  margin: 20px 0;
  font-family: 'Roboto Condensed', Tahoma, sans-serif;
}
.services-list .services-list-level-1 {
  z-index: 1000;
}
.services-list.level-2-active .services-list-level-1,
.services-list.level-3-active .services-list-level-2.active {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.services-list .tiles {
  border-top: 1px solid #f2f2f2;
}
.services-list .tile {
  width: 310px;
  margin: 0 auto;
  padding: 15px 0;
  border-bottom: 1px solid #f2f2f2;
  position: relative;
  cursor: pointer;
}
.services-list .tile-header {
  margin: 0 0 12px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.services-list .tile-header-link {
  position: relative;
  border-bottom: 1px dashed #63bdc5;
  font-size: 17px;
  font-weight: 700;
  white-space: nowrap;
}
.services-list .tile-header-link:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  margin: -4px 0 0 6px;
  border-width: 6px;
  border-color: transparent;
  border-top-color: #63bdc5;
  border-style: solid;
  margin-top: -1px;
}
.services-list .tile-header-link,
.services-list .tile-header-link:link,
.services-list .tile-header-link:visited {
  color: #63bdc5;
  text-decoration: none;
}
.services-list .tile-header-link:hover {
  border-bottom-color: transparent;
  color: #63bdc5;
  text-decoration: none;
}
.services-list .tile:hover .tile-header-link {
  border-bottom-color: transparent;
  color: #63bdc5;
  text-decoration: none;
}
.services-list .tile:hover .tile-header-link:hover {
  text-decoration: underline;
}
.services-list .tile-list-item {
  margin: 4px 0 2px;
  padding: 6px 10px 6px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.services-list .tile-list-link {
  position: relative;
  font-size: 18px;
  /*white-space: nowrap;*/
  line-height: 1.2em;
}
.services-list .tile-list-link,
.services-list .tile-list-link:link,
.services-list .tile-list-link:visited {
  color: #63bdc5;
  text-decoration: none;
}
.services-list .tile-list-link:hover {
  color: #63bdc5;
  text-decoration: underline;
}
.services-list .level-1-overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.services-list-level-2 {
  width: 310px;
  min-height: 300px;
  padding: 0 0 55px;
  position: fixed;
  z-index: 1100;
  left: 5px;
  top: 5px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateX(-5000px);
  -moz-transform: translateX(-5000px);
  -ms-transform: translateX(-5000px);
  transform: translateX(-5000px);
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  transition: transform .5s;
}
.services-list-level-2.active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.services-list-level-2 .level-2 {
  padding: 15px 0;
}
.services-list-level-2 .level-2-header {
  margin: 0 0 12px 20px;
  padding-right: 25px;
}
.services-list-level-2 .level-2-header-link {
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
}
.services-list-level-2 .level-2-header-link,
.services-list-level-2 .level-2-header-link:link,
.services-list-level-2 .level-2-header-link:visited,
.services-list-level-2 .level-2-header-link:hover {
  color: #63bdc5;
  text-decoration: none;
}
.services-list-level-2 .level-2-item {
  margin: 4px 0 2px;
  padding: 6px 10px 6px 20px;
  position: relative;
}
.services-list-level-2 .level-2-item:hover {
  background: #effeff;
}
.services-list-level-2 .level-2-item:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -5px;
  opacity: 0;
  border-width: 6px;
  border-color: transparent;
  border-right-color: #ffffff;
  border-style: solid;
}
.services-list-level-2 .level-2-item-link {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 1.2em;
  /*white-space: nowrap;*/
}
.services-list-level-2 .level-2-item-link,
.services-list-level-2 .level-2-item-link:link,
.services-list-level-2 .level-2-item-link:visited {
  color: #63bdc5;
  text-decoration: none;
}
.services-list-level-2 .level-2-item-link:hover {
  color: #63bdc5;
  text-decoration: none;
}
.services-list-level-2 .level-2-item-more {
  display: none;
  margin-top: 3px;
  color: #c2dfe2;
  font-size: 13px;
  line-height: 1em;
  text-transform: uppercase;
}
.services-list-level-2 .level-2-item-more-link {
  display: inline-block;
  margin: 0 10px 0 0;
}
.services-list-level-2 .level-2-item-more-link,
.services-list-level-2 .level-2-item-more-link:link,
.services-list-level-2 .level-2-item-more-link:visited {
  color: inherit;
  text-decoration: underline;
}
.services-list-level-2 .level-2-item-more-link:hover {
  color: inherit;
  text-decoration: none;
}
.services-list-level-2 .level-2-item.active {
  background: #63bdc5;
}
.services-list-level-2 .level-2-item.active:after {
  opacity: 1;
}
.services-list-level-2 .level-2-item.active .level-2-item-more {
  display: block;
}
.services-list-level-2 .level-2-item.active .level-2-item-link,
.services-list-level-2 .level-2-item.active .level-2-item-link:link,
.services-list-level-2 .level-2-item.active .level-2-item-link:visited,
.services-list-level-2 .level-2-item.active .level-2-item-link,
.services-list-level-2 .level-2-item.active .level-2-item-link:hover {
  color: #fff;
}
.services-list-level-2-back {
  position: absolute;
  bottom: 0;
  margin: 20px 0 10px;
  padding: 0 0 0 20px;
  font-size: 23px;
  color: #63bdc5;
  cursor: pointer;
}
.services-list-level-2-back > i {
  font-size: 1.5em;
  vertical-align: middle;
}
.services-list-level-2-back:hover {
  color: #88cdd3;
}
@media (min-width: 568px) {
  .services-list-level-2 {
    width: 284px;
    left: 0;
  }
}
@media (min-width: 667px) {
  .services-list-level-2 {
    width: 333px;
  }
}
@media (min-width: 768px) {
  .services-list-level-2 {
    min-height: 450px;
  }
}
@media (min-width: 1024px) {
  .services-list-level-2 {
    width: 333px;
  }
}
@media (min-width: 1280px) {
  .services-list-level-2 {
    width: 310px;
    position: absolute;
    top: 0;
  }
  .services-list-level-2 .level-2-item {
    margin: 0;
  }
}
.services-list-level-3 {
  width: 310px;
  min-height: 300px;
  height: 70%;
  overflow: hidden;
  overflow-y: visible;
  position: fixed;
  z-index: 1100;
  left: 5px;
  top: 5px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateX(-5000px);
  -moz-transform: translateX(-5000px);
  -ms-transform: translateX(-5000px);
  transform: translateX(-5000px);
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  transition: transform .5s;
}
.services-list-level-3.active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.services-list-level-3 .level-3 {
  padding: 15px 0;
}
.services-list-level-3 .level-3-header {
  margin: 0 0 12px 20px;
  padding-right: 25px;
}
.services-list-level-3 .level-3-col {
  padding: 0 1% 0 0;
}
.services-list-level-3 .level-3-header-link {
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
}
.services-list-level-3 .level-3-header-link,
.services-list-level-3 .level-3-header-link:link,
.services-list-level-3 .level-3-header-link:visited,
.services-list-level-3 .level-3-header-link:hover {
  color: #63bdc5;
  text-decoration: none;
}
.services-list-level-3 .level-3-item {
  margin: 4px 0 2px;
  padding: 6px 10px 6px 20px;
  padding-right: 25px;
  position: relative;
}
.services-list-level-3 .level-3-item-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  line-height: 1.2em;
}
.services-list-level-3 .level-3-item-link,
.services-list-level-3 .level-3-item-link:link,
.services-list-level-3 .level-3-item-link:visited {
  color: #63bdc5;
  text-decoration: none;
}
.services-list-level-3 .level-3-item-link:hover {
  color: #63bdc5;
  text-decoration: underline;
}
.services-list-level-3 .level-3-item-more {
  display: none;
  color: #c2dfe2;
  font-size: 13px;
  line-height: 1em;
  text-transform: uppercase;
}
.services-list-level-3 .level-3-item-more-link {
  display: inline-block;
  margin: 0 10px 0 0;
}
.services-list-level-3 .level-3-item-more-link,
.services-list-level-3 .level-3-item-more-link:link,
.services-list-level-3 .level-3-item-more-link:visited {
  color: inherit;
  text-decoration: underline;
}
.services-list-level-3 .level-3-item-more-link:hover {
  color: inherit;
  text-decoration: none;
}
.services-list-level-3-back {
  margin: 20px 0 10px;
  padding: 0 0 0 20px;
  font-size: 23px;
  color: #63bdc5;
}
.services-list-level-3-back > i {
  font-size: 1.5em;
  vertical-align: middle;
}
.services-list-level-2-close,
.services-list-level-3-close {
  position: absolute;
  right: 3px;
  top: 17px;
  color: #b6b6b6;
  font-size: 25px;
  cursor: pointer;
  -webkit-transition: -webkit-transform .4s;
  -moz-transition: -moz-transform .4s;
  transition: transform .4s;
}
.services-list-level-2-close:hover,
.services-list-level-3-close:hover {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
@media (min-width: 568px) {
  .services-list-level-3 {
    width: 568px;
    left: 0;
  }
  .services-list-level-3 .level-3-col {
    float: left;
    width: 50%;
    padding: 0 1% 0 0;
  }
}
@media (min-width: 667px) {
  .services-list-level-3 {
    width: 667px;
    left: 0;
  }
  .services-list-level-3 .level-3-item {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .services-list-level-3 {
    left: 101px;
    min-height: 450px;
    height: auto;
    overflow: auto;
  }
}
@media (min-width: 1024px) {
  .services-list-level-3 {
    left: 333px;
  }
}
@media (min-width: 1280px) {
  .services-list-level-3 {
    width: 930px;
    left: 310px;
    position: absolute;
    top: 0;
  }
  .services-list-level-3 .level-3-col {
    width: 33%;
  }
  .services-list-level-3 .level-3-item {
    padding-left: 25px;
    padding-right: 20px;
  }
}
@media (min-width: 568px) {
  .services-list-level-1 {
    width: 568px;
    margin: 0 auto;
  }
  .services-list-level-1 .tiles {
    border-top: 0 none;
  }
  .services-list-level-1 .tile {
    float: left;
    width: 284px;
    margin: 0;
    border: 1px solid transparent;
  }
  .services-list-level-1 .tile:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  .services-list-level-1 .tile:hover .tile-second-level-trigger:before,
  .services-list-level-1 .tile:hover .tile-second-level-trigger:after {
    opacity: 1;
  }
  .services-list-level-1 .tile:nth-of-type(2n+3) {
    clear: both;
  }
  .services-list-level-1 .tile-second-level-trigger {
    position: absolute;
    right: 1px;
    bottom: 1px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .services-list-level-1 .tile-second-level-trigger:before {
    opacity: 0;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    border: 20px solid transparent;
    border-right-color: #c8e4e7;
    border-bottom-color: #c8e4e7;
  }
  .services-list-level-1 .tile-second-level-trigger:after {
    opacity: 0;
    content: "\f10a";
    font-family: 'Material Design Iconic Font', serif;
    position: absolute;
    right: 1px;
    bottom: 0;
    color: #fff;
    font-size: 20px;
  }
  .services-list-level-1 .tile-second-level-trigger:hover:before {
    border-right-color: #b5d1d4;
    border-bottom-color: #b5d1d4;
  }
}
@media (min-width: 667px) {
  .services-list-level-1 {
    width: 667px;
  }
  .services-list-level-1 .tile {
    width: 333px;
  }
  .services-list-level-1 .tile-header-link {
    font-size: 19px;
  }
}
@media (min-width: 1024px) {
  .services-list-level-1 {
    width: 1000px;
  }
  .services-list-level-1 .tile {
    width: 333px;
  }
  .services-list-level-1 .tile:nth-of-type(2n+3) {
    clear: none;
  }
  .services-list-level-1 .tile:nth-of-type(3n+4) {
    clear: both;
  }
}
@media (min-width: 1280px) {
  .services-list-level-1 {
    width: 1240px;
  }
  .services-list-level-1 .tile {
    width: 310px;
  }
  .services-list-level-1 .tile:nth-of-type(2n+3) {
    clear: none;
  }
  .services-list-level-1 .tile:nth-of-type(3n+4) {
    clear: none;
  }
  .services-list-level-1 .tile:nth-of-type(4n+5) {
    clear: both;
  }
  .services-list-level-1 .tile-list-item {
    margin: 0;
  }
}
.services-filter {
  margin: 20px 0;
  padding: 0 20px;
  position: relative;
  text-align: center;
}
.services-filter-location {
  vertical-align: middle;
  position: relative;
  text-align: center;
}
.services-filter-location-current {
  display: inline-block;
  position: relative;
  padding: 0 0 3px;
  font: 15px/1em 'Roboto Condensed', Tahoma, sans-serif;
  border-bottom: 1px dotted #63bdc5;
  text-transform: uppercase;
  color: #63bdc5;
  cursor: pointer;
}
.services-filter-location-current:hover {
  border-bottom-color: transparent;
}
.services-filter-location-current:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  margin: -4px 0 0 6px;
  border-width: 5px;
  border-color: transparent;
  border-top-color: currentColor;
  border-style: solid;
}
.services-filter-location-select {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.services-filter-type {
  vertical-align: top;
  position: relative;
  margin: 10px 0;
  text-align: center;
  cursor: pointer;
}
.services-filter-type-list {
  display: none;
  margin: 0;
  padding: 0;
}
.services-filter-type-list > li {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
}
.services-filter-type-list > li > a {
  display: inline-block;
  padding: .3em 1.2em .6em;
  border-bottom: 3px solid transparent;
  font: 15px/1em 'Roboto Condensed', Tahoma, sans-serif;
  text-transform: uppercase;
}
.services-filter-type-list > li > a,
.services-filter-type-list > li > a:link,
.services-filter-type-list > li > a:visited {
  color: #b6b6b6;
  text-decoration: none;
}
.services-filter-type-list > li > a:hover {
  color: #63bdc5;
  text-decoration: none;
}
.services-filter-type-list > li.active > a,
.services-filter-type-list > li:hover > a,
.services-filter-type-list > li.active > a:visited,
.services-filter-type-list > li:hover > a:visited,
.services-filter-type-list > li.active > a:hover,
.services-filter-type-list > li:hover > a:hover {
  color: #63bdc5;
  border-bottom-color: #63bdc5;
}
.services-filter-type-select {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: none;
  border: 0 none;
  box-shadow: none;
  opacity: 0;
}
.services-filter-type-current {
  display: inline-block;
  position: relative;
  padding: 0 0 3px;
  font: 15px/1em 'Roboto Condensed', Tahoma, sans-serif;
  border-bottom: 1px dotted #63bdc5;
  text-transform: uppercase;
  color: #63bdc5;
  cursor: pointer;
}
.services-filter-type-current:hover {
  border-bottom-color: transparent;
}
.services-filter-type-current:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  margin: -4px 0 0 6px;
  border-width: 5px;
  border-color: transparent;
  border-top-color: currentColor;
  border-style: solid;
}
.services-search {
  display: inline-block;
  vertical-align: top;
  color: #63bdc5;
  text-align: center;
}
.services-search .input {
  display: inline-block;
  width: 100px;
  background: none;
  border: 0 none;
  box-shadow: none;
  outline: 0 none;
  padding: 0;
  -webkit-appearance: none;
  border-radius: 0;
  vertical-align: top;
  border-bottom: 1px solid transparent;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  font: 15px/1.7em 'Roboto Condensed', Tahoma, sans-serif;
  color: #63bdc5;
}
.services-search .input::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #63bdc5;
}
.services-search .input:-moz-placeholder {
  text-transform: uppercase;
  color: #63bdc5;
}
.services-search .input::-moz-placeholder {
  text-transform: uppercase;
  color: #63bdc5;
}
.services-search .input:-ms-input-placeholder {
  text-transform: uppercase;
  color: #63bdc5;
}
.services-search .input::placeholder {
  text-transform: uppercase;
  color: #63bdc5;
}
.services-search .input:focus {
  width: 150px;
  border-bottom-color: #63bdc5;
}
.services-search .icon {
  font-size: 28px;
  vertical-align: bottom;
}
.services-filter-search {
  margin: 25px 0 0;
}
@media (min-width: 768px) {
  .services-filter {
    margin: 20px 0;
    padding: 0 0 0 15px;
    text-align: left;
  }
  .services-filter-location {
    display: inline-block;
    vertical-align: top;
  }
  .services-filter-location-current {
    padding: 4px 18px 3px 0;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .services-filter-location-current:after {
    margin-top: -2px;
  }
  .services-filter-type {
    display: inline-block;
    margin: 0;
    float: right;
  }
  .services-filter-location-select,
  .services-filter-type-select,
  .services-filter-type-current {
    display: none;
  }
  .services-filter-type-list {
    display: block;
  }
  .services-filter-search {
    margin: 20px 0 0;
  }
}
@media (min-width: 1024px) {
  .services-filter {
    text-align: center;
    padding-right: 140px;
  }
  .services-filter-location {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    float: left;
  }
  .services-filter-location-current {
    max-width: 350px;
  }
  .services-filter-type {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    float: none;
  }
  .services-filter-search {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    vertical-align: top;
    margin: 0 10px 0 0;
  }
}
@media (min-width: 1280px) {
  .services-filter {
    padding-right: 0;
  }
  .services-filter-location-current {
    max-width: 500px;
  }
  .services-filter-location + .services-filter-type {
    margin-left: -140px;
  }
}
.section-product-filter .filter-header {
  margin: 0 0 30px;
  padding: 30px 15px 20px;
  border-bottom: 5px solid #f2f2f2;
  text-align: center;
}
.section-product-filter .header-h1 {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 10px 0;
  font: 300 37px/1em 'Roboto Condensed', Tahoma, sans-serif;
  text-transform: uppercase;
}
.section-product-filter .header-count {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 10px 0;
  font-size: 14px;
  line-height: 1.25em;
}
.section-product-filter .header-social {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 20px 10px 0;
}
.section-product-filter .header-favorites {
  display: inline-block;
  vertical-align: top;
}
.section-product-filter .filter-more {
  margin: 20px 0;
}
.section-product-filter .filter-buttons {
  max-width: 375px;
  margin: 20px auto;
  text-align: center;
}
.section-product-filter .filter-buttons .btn {
  width: 235px;
  margin: 0 10px 10px;
  padding: 15px 0 13px !important;
  text-transform: uppercase;
  font-size: 18px !important;
  line-height: 1em !important;
}
.section-product-filter .filter-buttons .btn-advanced {
  display: inline-block;
  padding: 10px 20px;
  background: #63bdc5;
  border: 3px solid #63bdc5;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}
.section-product-filter .filter-buttons .btn-advanced,
.section-product-filter .filter-buttons .btn-advanced:link,
.section-product-filter .filter-buttons .btn-advanced:visited {
  color: #fff;
  text-decoration: none;
}
.section-product-filter .filter-buttons .btn-advanced:hover {
  background: #63bdc5;
  background: -webkit-linear-gradient(top, #63bdc5, #88cdd3);
  background: -moz-linear-gradient(top, #63bdc5, #88cdd3);
  background: linear-gradient(to bottom, #63bdc5, #88cdd3);
  color: #fff;
  text-decoration: none;
}
.section-product-filter .filter-buttons .btn-advanced:active {
  background: #63bdc5;
  background: -webkit-linear-gradient(top, #63bdc5, #63bdc5);
  background: -moz-linear-gradient(top, #63bdc5, #63bdc5);
  background: linear-gradient(to bottom, #63bdc5, #63bdc5);
}
.section-product-filter .filter-buttons .btn-advanced.transparent {
  background: transparent;
  color: #63bdc5;
  text-shadow: none;
}
.section-product-filter .filter-buttons .btn-advanced.transparent:hover {
  background: #63bdc5;
  color: #fff;
}
.section-product-filter .filter-buttons .btn-submit {
  display: inline-block;
  padding: 17px 20px 15px;
  background: #00d31b;
  background: -webkit-linear-gradient(top, #00ff2a, #00a70c);
  background: -moz-linear-gradient(top, #00ff2a, #00a70c);
  background: linear-gradient(to bottom, #00ff2a, #00a70c);
  border: 0 none;
  border-bottom: 1px solid #00a70c;
  box-shadow: 0 0 10px #00ff2a inset;
  border-radius: 7px;
  font-size: 19px;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  padding: 8px 15px;
  font-size: 15px;
  text-shadow: none;
  font-weight: 500;
}
.section-product-filter .filter-buttons .btn-submit,
.section-product-filter .filter-buttons .btn-submit:link,
.section-product-filter .filter-buttons .btn-submit:visited {
  color: #fff;
  text-decoration: none;
}
.section-product-filter .filter-buttons .btn-submit:hover {
  background: #00ed1d;
  background: -webkit-linear-gradient(top, #00ff2a, #00d00f);
  background: -moz-linear-gradient(top, #00ff2a, #00d00f);
  background: linear-gradient(to bottom, #00ff2a, #00d00f);
  color: #fff;
  text-decoration: none;
}
.section-product-filter .filter-buttons .btn-submit:active {
  background: #00d31b;
  background: -webkit-linear-gradient(top, #00a70c, #00ff2a);
  background: -moz-linear-gradient(top, #00a70c, #00ff2a);
  background: linear-gradient(to bottom, #00a70c, #00ff2a);
}
.section-product-filter .filter-buttons .btn-submit[disabled] {
  background: #afafaf;
  background: -webkit-linear-gradient(top, #b6b6b6, #a7a7a7);
  background: -moz-linear-gradient(top, #b6b6b6, #a7a7a7);
  background: linear-gradient(to bottom, #b6b6b6, #a7a7a7);
  box-shadow: none;
  border-bottom-color: #b6b6b6;
}
.section-product-filter .filter-view {
  display: none;
}
.section-product-filter .output-item {
  margin: 0 0 40px;
  text-align: center;
}
.section-product-filter .output-item-image {
  position: relative;
}
.section-product-filter .output-item-image-cnt {
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.section-product-filter .output-item-image-cnt img {
  width: 320px;
  height: auto;
}
.section-product-filter .output-item-buttons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.section-product-filter .output-item-buttons .btn-more {
  display: inline-block;
  vertical-align: top;
  padding: 13px 0 0;
  font-size: 16px;
  line-height: 1em;
  text-transform: uppercase;
}
.section-product-filter .output-item-buttons .btn-more:link,
.section-product-filter .output-item-buttons .btn-more:visited,
.section-product-filter .output-item-buttons .btn-more:hover {
  color: #fff;
  text-decoration: none;
}
.section-product-filter .output-item-buttons .btn-more .icon {
  font-size: 1.2em;
  vertical-align: text-bottom;
}
.section-product-filter .output-item-buttons .dropup,
.section-product-filter .output-item-buttons .dropdown {
  float: left;
  display: inline-block;
  vertical-align: middle;
}
.section-product-filter .output-item-buttons .dropdown-toggle {
  background: #000;
  border: 0 none;
  margin: 0;
  padding: 10px;
  border-radius: 0;
  font-size: 25px;
  line-height: 1em;
  color: #fff;
}
.section-product-filter .output-item-text {
  padding: 0 10px;
}
.section-product-filter .output-item-header {
  margin: 10px 0 0;
}
.section-product-filter .output-item-name {
  display: inline-block;
  font: 30px/1em 'Roboto Condensed', Tahoma, sans-serif;
  -ms-word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.section-product-filter .output-item-name a {
  color: #555555;
  text-decoration: none;
}
.section-product-filter .output-item-feature {
  display: inline-block;
  margin-left: 5px;
  color: #a7a7a7;
  white-space: nowrap;
  font-size: 16px;
  line-height: 2em;
}
.section-product-filter .output-item-rating {
  margin: 0 0 10px;
  font-size: 20px;
  color: #fbc02d;
}
.section-product-filter .output-item-param {
  font-size: 16px;
}
.section-product-filter .output-item-price {
  margin: 10px 0;
  font-size: 20px;
  line-height: 1.2em;
}
.section-product-filter .output-item-modifiers {
  width: 320px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  text-align: right;
  font-size: 0;
  line-height: 0;
}
.section-product-filter .output-item-modifier {
  display: inline-block;
}
.section-product-filter .output-item-modifier .icon {
  display: block;
  padding: 5px;
  background: #fbc02d;
  font-size: 30px;
  line-height: 1em;
  color: #000;
  font-weight: 900;
}
.section-product-filter .output-item-button .btn-main {
  background: #fff;
  font-weight: 500;
}
.section-product-filter .output-item-button .btn-main:active {
  box-shadow: none;
}
.section-product-filter .filter-view-notes {
  display: none;
}
.section-product-filter .output-item-menu {
  display: none;
}
.section-product-filter .dropdown-menu-right {
  left: 0;
}
@media (min-width: 480px) {
  .section-product-filter .filter-view {
    display: block;
    margin: 0 0 20px;
    text-align: center;
  }
  .section-product-filter .filter-view .btn-view {
    width: 40px;
    height: 40px;
    padding: 8px 8px 0 7px;
    border-radius: 50%;
    text-align: center;
    font-size: 23px;
    line-height: 1em;
    box-shadow: none;
  }
  .section-product-filter .filter-view .btn-view:link,
  .section-product-filter .filter-view .btn-view:visited,
  .section-product-filter .filter-view .btn-view:hover {
    color: #63bdc5;
    text-decoration: none;
  }
  .section-product-filter .filter-view .btn-view:hover,
  .section-product-filter .filter-view .btn-view.active {
    background: #63bdc5;
    color: #fff;
  }
  .section-product-filter .filter-more {
    margin: 0;
  }
  .section-product-filter .filter-buttons {
    max-width: none;
    margin: 0 0 30px;
  }
  .section-product-filter .filter-output {
    padding: 0 15px;
    text-align: center;
  }
  .section-product-filter .output-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 40px;
    padding: 0 12px;
    width: 267px;
    text-align: left;
  }
  .section-product-filter .output-item-image-cnt img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .section-product-filter .output-item-buttons {
    width: 100%;
  }
  .section-product-filter .output-item-text {
    padding: 0 10px;
  }
  .section-product-filter .output-item-header {
    margin: 10px 0 0;
  }
  .section-product-filter .output-item-name {
    font-size: 20px;
  }
  .section-product-filter .output-item-feature {
    font-size: 14px;
  }
  .section-product-filter .output-item-price {
    margin: 5px 0 10px;
    font-size: 18px;
  }
  .section-product-filter .output-item-modifiers {
    width: 100%;
  }
  .section-product-filter .dropdown-menu-right {
    left: auto;
  }
  .section-product-filter .filter-output--list .output-item {
    display: block;
    width: 100%;
    margin: 0 0 35px;
    padding: 0;
    position: relative;
    text-align: left;
  }
  .section-product-filter .filter-output--list .output-item-image {
    display: table-cell;
    vertical-align: top;
    /*width: 35%;*/
    position: static;
  }
  .section-product-filter .filter-output--list .output-item-text {
    display: table-cell;
    vertical-align: top;
    width: 65%;
    padding: 0 0 0 15px;
  }
  .section-product-filter .filter-output--list .output-item-buttons {
    width: auto;
    background: none;
    left: auto;
    right: 0;
    top: 0;
    bottom: auto;
    z-index: 1;
  }
  .section-product-filter .filter-output--list .output-item-buttons .btn-more {
    display: none;
  }
  .section-product-filter .filter-output--list .output-item-buttons .dropdown-toggle {
    background: none;
    padding: 3px;
    color: #555555;
  }
  .section-product-filter .filter-output--list .output-item-header {
    margin: 0;
    padding: 0 45px 0 0;
  }
  .section-product-filter .filter-output--list .output-item-image-cnt {
    padding-top: 3px;
  }
  .section-product-filter .filter-output--list .output-item-modifiers {
    padding-top: 3px;
    text-align: left;
  }
  .section-product-filter .filter-output--list .output-item-rating {
    margin: 0 0 5px;
  }
  .section-product-filter .filter-output--list .output-item-name {
    font-size: 22px;
  }
  .section-product-filter .filter-output--list .output-item-price {
    margin: 0 0 15px;
    font-size: 16px;
  }
}
@media (min-width: 568px) {
  .section-product-filter .filter-output--list .output-item-header {
    padding-right: 60px;
  }
  .section-product-filter .filter-output--list .output-item-rating {
    margin: 0 0 10px;
  }
  .section-product-filter .filter-output--list .output-item-name {
    font-size: 26px;
  }
  .section-product-filter .filter-output--list .output-item-param,
  .section-product-filter .filter-output--list .output-item-price {
    font-size: 20px;
    line-height: 1.5em;
  }
  .section-product-filter .filter-output--list .output-item-price {
    margin: 0 0 20px;
  }
  .section-product-filter .filter-output--list .output-item-buttons .dropdown-toggle {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .section-product-filter .filter-header {
    margin: 0 0 30px;
    padding: 30px 30px 10px;
    text-align: left;
  }
  .section-product-filter .filter-header-left {
    width: 50%;
    float: left;
  }
  .section-product-filter .filter-header-right {
    width: 50%;
    float: left;
    text-align: right;
  }
  .section-product-filter .output-item {
    width: 367px;
    text-align: center;
  }
  .section-product-filter .output-item-name {
    font-size: 30px;
  }
  .section-product-filter .output-item-feature {
    font-size: 16px;
  }
  .section-product-filter .output-item-price {
    margin: 10px 0 15px;
    font-size: 20px;
  }
  .section-product-filter .filter-output--list {
    padding: 0;
  }
  .section-product-filter .filter-output--list .output-item {
    margin: 0;
    padding: 30px;
    border-top: 1px solid #e0e0e0;
  }
  .section-product-filter .filter-output--list .output-item:nth-of-type(odd) {
    background: #fcfcfc;
  }
  .section-product-filter .filter-output--list .output-item-text {
    padding-left: 30px;
  }
  .section-product-filter .filter-output--list .output-item-buttons {
    padding: 25px 20px 0 0;
  }
  .section-product-filter .filter-output--list .output-item-buttons .dropdown-toggle {
    padding: 5px 8px;
  }
  .section-product-filter .filter-output--list .output-item-name {
    font-size: 30px;
  }
  .section-product-filter .filter-output--list .output-item-modifiers {
    padding: 30px 0 0 30px;
  }
  .section-product-filter .filter-output--list .output-item-image-cnt {
    padding: 3px;
    border: 1px solid #e0e0e0;
    background: #fff;
    border-radius: 3px;
  }
}
@media (min-width: 1024px) {
  .section-product-filter .filter-header {
    padding: 30px 15px 10px;
  }
  .section-product-filter .filter-header-left {
    width: 60%;
  }
  .section-product-filter .filter-header-right {
    width: 40%;
  }
  .section-product-filter .header-h1 {
    max-width: 70%;
    margin: 0 0 10px;
    padding: 0 20px 0 0;
  }
  .section-product-filter .header-count {
    max-width: 30%;
    margin: 0 0 10px;
  }
  .section-product-filter .filter-main,
  .section-product-filter .filter-more {
    float: left;
  }
  .section-product-filter .filter-main {
    width: 43%;
    margin: 0 7% 0 0;
  }
  .section-product-filter .filter-more {
    width: 43%;
    margin: 0 0 0 7%;
  }
  .section-product-filter .filter-buttons {
    margin: -80px 0 20px;
  }
  .section-product-filter .filter-buttons .btn {
    width: 192px;
    margin: 0;
    text-transform: uppercase;
  }
  .section-product-filter .filter-buttons .btn-advanced {
    font-size: 15px !important;
    font-weight: 400 !important;
    border-width: 1px;
  }
  .section-product-filter .filter-buttons .btn-submit {
    margin-right: 10px;
  }
  .section-product-filter .filter-buttons-cnt {
    width: 43%;
    float: right;
  }
  .section-product-filter .filter-output--list .output-item-buttons {
    display: none;
  }
  .section-product-filter .filter-output--list .output-item-image-cnt {
    padding: 5px;
    border-radius: 5px;
  }
  .section-product-filter .filter-output--list .output-item-image {
    width: 30%;
  }
  .section-product-filter .filter-output--list .output-item-text {
    width: 45%;
    padding-left: 50px;
  }
  .section-product-filter .filter-output--list .output-item-menu {
    display: table-cell;
    width: 25%;
    vertical-align: top;
  }
  .section-product-filter .filter-output--list .output-item-menu-cnt {
    margin: 0;
    padding: 0 0 0 30px;
    position: relative;
    z-index: 1;
  }
  .section-product-filter .filter-output--list .output-item-menu-cnt > li {
    display: block;
    margin: 0 0 12px;
    padding: 0;
  }
  .section-product-filter .filter-output--list .output-item-menu-cnt .btn {
    display: block;
    width: 100%;
    background: #fff;
    border: 0 none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    padding: 12px 20px 11px;
    font: 17px/1em 'Roboto Condensed', Tahoma, sans-serif;
    text-transform: uppercase;
  }
  .section-product-filter .filter-output--list .output-item-menu-cnt .btn:link,
  .section-product-filter .filter-output--list .output-item-menu-cnt .btn:visited,
  .section-product-filter .filter-output--list .output-item-menu-cnt .btn:hover {
    color: #555555;
    text-decoration: none;
  }
  .section-product-filter .filter-output--list .output-item-menu-cnt .btn:hover {
    color: #000;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  }
  .section-product-filter .filter-output--list .output-item-menu-cnt .btn.btn-primary {
    background: #63bdc5;
  }
  .section-product-filter .filter-output--list .output-item-menu-cnt .btn.btn-primary:link,
  .section-product-filter .filter-output--list .output-item-menu-cnt .btn.btn-primary:visited,
  .section-product-filter .filter-output--list .output-item-menu-cnt .btn.btn-primary:hover {
    color: #fff;
  }
}
@media (min-width: 1280px) {
  .section-product-filter .filter-header {
    margin: 0 0 20px;
    padding: 40px 10px 10px 0;
  }
  .section-product-filter .filter-view {
    text-align: left;
  }
  .section-product-filter .filter-output {
    margin: 0 0 50px;
    padding: 0;
  }
  .section-product-filter .filter-view-notes {
    display: inline-block;
    float: right;
    background: #fbc02d;
    padding: 10px;
    border: 2px solid #000;
    color: #000;
    font-size: 14px;
    line-height: 1.1em;
  }
  .section-product-filter .filter-view-notes .icon {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 0;
    padding: 5px 0 0;
    font-size: 30px;
    font-weight: 900;
  }
  .section-product-filter .filter-view-notes .text {
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }
  .section-product-filter .filter-view-notes .text > b {
    display: block;
  }
  .section-product-filter .output-item {
    width: 220px;
    margin: 0 6px;
    padding: 0;
    border-bottom: 1px solid #fff;
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
  }
  .section-product-filter .output-item:hover {
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .section-product-filter .output-item:first-child,
  .section-product-filter .output-item:nth-of-type(n+5) {
    margin-left: 0;
  }
  .section-product-filter .output-item:nth-of-type(n+4) {
    margin-right: 0;
  }
  .section-product-filter .output-item-header {
    margin: 15px 0 0;
  }
  .section-product-filter .output-item-name {
    font-size: 19px;
  }
  .section-product-filter .output-item-feature {
    font-size: 13px;
    margin-left: 3px;
  }
  .section-product-filter .output-item-param {
    font-size: 15px;
  }
  .section-product-filter .output-item-price {
    margin: 10px 0 15px;
    font-size: 15px;
  }
  .section-product-filter .output-item-text {
    padding: 0 5px;
  }
  .section-product-filter .output-item-buttons {
    -webkit-transition: background .2s, opacity .2s;
    -moz-transition: background .2s, opacity .2s;
    transition: background .2s, opacity .2s;
    opacity: 0;
  }
  .section-product-filter .dropdown-toggle:hover {
    background: none;
  }
  .section-product-filter .output-item-buttons {
    bottom: -1px;
  }
  .section-product-filter .output-item-buttons .btn-more:hover {
    color: #e0e0e0;
  }
  .section-product-filter .output-item-button {
    margin: 20px -5px 0;
  }
  .section-product-filter .output-item-button .btn-main {
    width: 100%;
    padding: 10px 0;
    border: 0 none;
    background: none;
    border-radius: 0;
    -webkit-transition: background .2s, color .2s;
    -moz-transition: background .2s, color .2s;
    transition: background .2s, color .2s;
  }
  .section-product-filter .output-item-button .btn-main:hover {
    border: 0 none;
    background: none;
  }
  .section-product-filter .output-item:hover .output-item-buttons {
    opacity: 1;
  }
  .section-product-filter .output-item:hover .output-item-button .btn-main {
    background: #63bdc5;
    color: #fff;
  }
  .section-product-filter .output-item:hover .output-item-button .btn-main:hover {
    background: #76c5cc;
  }
  .section-product-filter .filter-output--list .output-item-menu-cnt .btn {
    -webkit-transition: box-shadow 0.2s, color 0.2s;
    -moz-transition: box-shadow 0.2s, color 0.2s;
    transition: box-shadow 0.2s, color 0.2s;
  }
  .section-product-filter .filter-output--list .output-item-button {
    margin: 15px 0 0;
  }
  .section-product-filter .filter-output--list .output-item-button .btn-main {
    width: auto;
    padding: 0;
    background: none;
    color: #63bdc5;
  }
  .section-product-filter .filter-output--list .output-item:hover .output-item-button .btn-main {
    background: none;
    color: #63bdc5;
  }
  .section-product-filter .filter-output--list .output-item:hover .output-item-button .btn-main:hover {
    color: #4fb2c1;
  }
}
.form-filter-standard {
  max-width: 375px;
  margin: 0 auto;
}
.form-filter-standard .form-group {
  margin: 0 0 10px;
  padding: 0 15px;
}
.form-filter-standard .slider-native {
  margin: 0 0 10px;
}
.form-filter-standard .slider-native-left,
.form-filter-standard .slider-native-right {
  width: 48%;
}
.form-filter-standard .slider-native-left {
  float: left;
}
.form-filter-standard .slider-native-right {
  float: right;
}
.form-filter-standard .slider.slider-horizontal {
  width: 100%;
}
.form-filter-standard .slider-custom {
  margin-bottom: 20px;
}
.form-filter-standard .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
  margin-top: 0;
  font: normal normal normal 20px/1 'Material Design Iconic Font';
  speak: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.form-filter-standard .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark:before {
  content: "\f299";
}
.form-filter-standard .bootstrap-select .dropdown-menu li:focus,
.form-filter-standard .bootstrap-select .dropdown-menu li a:focus,
.form-filter-standard .bootstrap-select .dropdown-toggle:focus {
  outline: 0 none !important;
}
.form-filter-standard .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.form-filter-standard .tooltip {
  display: none;
}
@media (min-width: 568px) {
  .form-filter-standard {
    max-width: none;
  }
  .form-filter-standard .form-group {
    float: left;
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .form-filter-standard .tooltip-main {
    display: block;
  }
  .form-filter-standard .form-group {
    float: none;
    width: 100%;
  }
  .form-filter-standard .slider-custom {
    padding: 0 10px;
  }
}
@media (min-width: 1280px) {
  .form-filter-standard .form-group {
    padding: 0;
  }
  .form-filter-standard .slider-custom {
    padding: 0 10px;
  }
}
.slider-custom {
  position: relative;
}
.slider-handle {
  background: #00a5bd;
}
