.section-company-intro {
	.company-h1 {
		margin: 20px 0;
		font: 400 25px/1em @font-condensed;
		.word-break();
	}
}

@media (min-width: @vw-iphone-5-land) {
	.section-company-intro {
		.company-h1 {
			margin: 20px 0;
			font-size: 38px;
			font-weight: 300;
		}
	}
}