.section-company-contacts {
	img {
		max-width: 100%;
		height: auto;
	}
	dl {}
	dt {
		width: 100px;
		float: left;
		clear: both;
	}
	dd {}
	.cols {}
	.col {}
}

@media (min-width: @vw-iphone-6-land) {
	.section-company-contacts {
		.cols {}
		.col {
			width: 50%;
			float: left;
		}
	}
}