.section-company-experts {
	margin: 70px 0;
	.wrap {
		position: relative;
	}
	.title {
		font: 300 30px/1em @font-condensed;
		text-transform: uppercase;
		text-align: center;
		.title-text {
			display: block;
		}
	}
}

@media (min-width: @vw-iphone-5-land) {
	.section-company-experts {
		.title {
			.title-text {
				display: inline;
			}
		}
	}
}
@media (min-width: @vw-tablet-sm) {
	.section-company-experts {
		
	}
}
@media (min-width: @vw-tablet-lg) {
	.section-company-experts {
		
	}
}
@media (min-width: @vw-laptop-sm) {
	.section-company-experts {
		
	}
}