.company-common-header {

}
.company-common-header-subtitle {
	margin: 0 0 20px;
	padding: 0 15px;
	color: @color-blue-1;
	text-align: center;
	a {
		font: 300 16px/1em @font-condensed;
		border-bottom: 1px solid lighten(@color-blue-1, 15%);
		&, &:visited {
			color: @color-blue-1;
			text-decoration: none;
		}
		&:hover {
			color: @color-blue-1;
			text-decoration: none;
			border-bottom-color: transparent;
		}
	}
	.icon {
		font-size: 1.3em;
		vertical-align: text-bottom;
	}
}
.company-common-header-title {
	font: 300 30px/1em @font-condensed;
	text-transform: uppercase;
	text-align: center;
}

@media (min-width: @vw-iphone-5-land) {
	.company-common-header-subtitle {
		a {
			font-size: 20px;
		}
	}
	.company-common-header-title {
		font-size: 37px;
	}
}