.section-company-mobile-phone {
	text-align: center;
	.title {
		font: 300 30px/1.5em @font-condensed;
		text-transform: uppercase;
	}
	.phone-form {
		margin-top: 15px;
	}
}

@media (min-width: @vw-tablet-sm) {
	.section-company-mobile-phone {
		display: none;
	}
}