.section-company-intro {
	.wrap {
		padding: 25px 0 20px;
		border-bottom: 1px solid @color-grey-4;
	}
	.company-h1 {
		margin: .3em 0 .5em;
		font: 300 30px/1em @font-condensed;
		text-align: center;
		.word-break();
	}
	.buttons {
		text-align: center;
	}
	.btn {
		margin: 0 0 10px;
		vertical-align: top;
	}
	.block {
		display: block;
	}
	.btn-callback {
		.btn-green-small();
		padding: 10px 20px;
		font: 400 15px/1.3em @font-default;
	}
	.btn-review {
		.favorite-button();
		.icon {
			color: inherit;
		}
	}
	.btn-favorites {
		.favorite-button();
	}
	.btn-verified {
		display: inline-block;
		max-width: @vw-iphone - 30px;
		margin: 10px auto 0;
		padding: 7px 11px;
		font: 700 18px/1em @font-condensed;
		text-transform: uppercase;
		border: 2px solid currentColor;
		white-space: nowrap;
		&, &:visited {
			text-decoration: none;
			color: @color-blue-1;
		}
		&:hover {
			text-decoration: none;
			color: darken(@color-blue-1, 10%);
		}
		.icon {
			font-size: 1.3em;
			vertical-align: text-bottom;
		}
	}
	.rating {
		padding: 5px 0;
		color: @color-orange-1;
		font-size: 24px;
	}
	.col-left {

	}
	.col-right {
		text-align: center;
	}
}

@media (min-width: @vw-iphone-5-land) {
	.section-company-intro {
		.company-h1 {
			margin: 16px 0;
			font-size: 37px;
			font-weight: 300;
		}
		.btn-review {
			.strong-button(@color-blue-1);
			padding: 6px 20px;
			font-size: 19px;
		}
	}
}

@media (min-width: @vw-tablet-sm) {
	.section-company-intro {
		.block {
			display: inline;
		}
	}
}
@media (min-width: @vw-tablet-lg) {
	.section-company-intro {
		.col {
			float: left;
		}
		.col-left {
			width: 70%;
		}
		.col-right {
			width: 30%;
		}
	}
}
@media (min-width: @vw-laptop-sm) {
	.section-company-intro {
		.wrap {
			padding: 10px 0 15px;
		}
		.company-h1 {
			text-align: left;
		}
		.buttons {
			text-align: left;
		}
		.block {
			display: inline;
		}
		.btn-verified {
			margin-top: 26px;
		}
		.col {

		}
		.col-left {

		}
		.col-right {

		}
	}
}