@media (min-width: @vw-laptop-sm) {
	@tile-height: 90px;

	.section-categories {
		.categories-list {
			font-size: 0;
		}
		.category {
			display: table;
			float: left;
			position: relative;
			width: 25%;
			min-height: @tile-height;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 15%;
				width: 1px;
				height: 70%;
				background: @color-grey-2;
				transition: background .2s;
			}
			&.active, &:hover {
				&:before {
					background: @color-red-2;
				}
			}
		}
		.category-link {
			display: table-cell;
			position: relative;
			width: 100%;
			min-height: @tile-height;
			vertical-align: middle;
			font-size: 19px;
			line-height: 1.25em;
			text-align: left;
			font-weight: 300;
			transition: color .2s;
			&, &:visited {
				color: @color-default;
				text-decoration: none;
			}
			&:hover {
				color: @color-red-2;
				text-decoration: none;
			}
		}
		.category.active {
			.category-link {
				font-weight: 400;
				&, &:visited {
					color: @color-red-2;
				}
			}
		}
		.category-label {
			display: block;
			padding: 0 25px;
		}
		.category-counter {
			position: absolute;
			left: 7px;
			top: 22%;
			font-size: 12px;
			line-height: 0;
			font-weight: 600;
		}
	}
}