@media (min-width: @vw-laptop-sm) {
	.section-section-header {
		.h1 {
			position: relative;
			padding-left: 60px;
			color: @color-blue-1;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: -15px;
				top: -17px;
				transform: scale(.5);
				.spriteImage(@icon-advertise);
				.spriteWidth(@icon-advertise);
				.spriteHeight(@icon-advertise);

			}
		}
		&.section-section-header_registry {
			.h1 {
				&:before {
					.spritePosition(@icon-registry_blue);
				}
			}
		}
		&.section-section-header_advertise {
			.h1 {
				&:before {
					.spritePosition(@icon-advertise_blue);
				}
			}
		}
		&.section-section-header_polygraphy {
			.h1 {
				&:before {
					.spritePosition(@icon-polygraphy_blue);
				}
			}
		}
		&.section-section-header_finance {
			.h1 {
				&:before {
					.spritePosition(@icon-finance_blue);
				}
			}
		}
		&.section-section-header_engineer {
			.h1 {
				&:before {
					.spritePosition(@icon-engineer_blue);
				}
			}
		}
		&.section-section-header_construction {
			.h1 {
				&:before {
					.spritePosition(@icon-construction_blue);
				}
			}
		}
		&.section-section-header_country {
			.h1 {
				&:before {
					.spritePosition(@icon-country_blue);
				}
			}
		}
		&.section-section-header_expertise {
			.h1 {
				&:before {
					.spritePosition(@icon-expertise_blue);
				}
			}
		}
		&.section-section-header_car {
			.h1 {
				&:before {
					.spritePosition(@icon-car_blue);
				}
			}
		}
		&.section-section-header_transport {
			.h1 {
				&:before {
					.spritePosition(@icon-transport_blue);
				}
			}
		}
		&.section-section-header_car-repair {
			.h1 {
				&:before {
					.spritePosition(@icon-car-repair_blue);
				}
			}
		}
		&.section-section-header_insurance {
			.h1 {
				&:before {
					.spritePosition(@icon-insurance_blue);
				}
			}
		}
	}
}