.section-section-header {
	.h1 {
		position: relative;
		color: @color-blue-1;
	}
	&--iconic {
		.h1 {
			padding-left: 60px;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: -15px;
				top: -17px;
				transform: scale(.5);
				.spriteImage(@icon-advertise);
				.spriteWidth(@icon-advertise);
				.spriteHeight(@icon-advertise);

			}
		}
	}

	.btn-main-action {
		margin: 15px 0;
		/*background: @color-blue-1;
		border: 0 none;
		position: relative;
		width: auto;
		height: auto;
		left: auto;
		bottom: auto;
		display: inline-block;
		padding: 5px 20px 6px 10px;
		margin: 15px 0 20px 8px;
		vertical-align: top;
		font-size: 16px;
		line-height: 1em;
		text-transform: none;
		font-weight: 400;
		white-space: normal;
		border-radius: 0;
		box-shadow: none;
		&, &:link, &:visited {
			color: #fff;
			text-decoration: none;
		}
		&:hover {
			background: lighten(@color-blue-1, 5%);
			color: #fff;
			text-decoration: none;
		}
		&:after {
			content: "";
			.arrow-after(4px, currentColor, left);
		}*/
	}
	&_registry {
		.h1 {
			&:before {
				.spritePosition(@icon-registry_blue);
			}
		}
	}
	&_advertise {
		.h1 {
			&:before {
				.spritePosition(@icon-advertise_blue);
			}
		}
	}
	&_polygraphy {
		.h1 {
			&:before {
				.spritePosition(@icon-polygraphy_blue);
			}
		}
	}
	&_finance {
		.h1 {
			&:before {
				.spritePosition(@icon-finance_blue);
			}
		}
	}
	&_engineer {
		.h1 {
			&:before {
				.spritePosition(@icon-engineer_blue);
			}
		}
	}
	&_construction {
		.h1 {
			&:before {
				.spritePosition(@icon-construction_blue);
			}
		}
	}
	&_country {
		.h1 {
			&:before {
				.spritePosition(@icon-country_blue);
			}
		}
	}
	&_expertise {
		.h1 {
			&:before {
				.spritePosition(@icon-expertise_blue);
			}
		}
	}
	&_car {
		.h1 {
			&:before {
				.spritePosition(@icon-car_blue);
			}
		}
	}
	&_transport {
		.h1 {
			&:before {
				.spritePosition(@icon-transport_blue);
			}
		}
	}
	&_car-repair {
		.h1 {
			&:before {
				.spritePosition(@icon-car-repair_blue);
			}
		}
	}
	&_insurance {
		.h1 {
			&:before {
				.spritePosition(@icon-insurance_blue);
			}
		}
	}
}

@media (min-width: @vw-tablet-sm) {
	.section-section-header {
		padding-top: 30px;
		padding-bottom: 20px;
		.h1 {
			display: inline;
			margin-top: 0;
			padding-top: 0;
			vertical-align: top;
			font-size: 36px;
		}
		.btn-main-action {
			//padding: 3px 17px 4px 8px;
			margin: 10px 0 0 10px;
		}
	}
}
@media (max-width: (@vw-iphone-6 - 1)) {
	.section-section-header {
		.h1 {
			font-size: 25px;
		}
	}
}