@media (min-width: @vw-laptop-sm) {
	@tile-height: 90px;

	.section-categories {
		.categories-list {
			font-size: 0;
		}
		.category {
			display: table;
			float: left;
			position: relative;
			width: 25%;
			height: @tile-height;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 15%;
				width: 1px;
				height: 70%;
				background: @color-grey-2;
				transition: background .2s;
			}
			&:hover {
				&:before {
					background: @color-blue-1;
				}
			}
		}
		.category-link {
			display: table-cell;
			position: relative;
			width: 100%;
			height: @tile-height;
			vertical-align: middle;
			font-size: 19px;
			line-height: 1.25em;
			text-align: left;
			font-weight: 300;
			transition: color .2s;
			&, &:visited {
				color: @color-default;
				text-decoration: none;
			}
			&:hover {
				color: @color-blue-1;
				text-decoration: none;
			}
		}
		.category-label {
			display: block;
			padding: 0 25px;
		}
	}
}