@media (min-width: @vw-laptop-sm) {
	.section-section-items {
		.wrap {
			margin: 15px 0 80px;
		}
		.items-list {
			margin: 0;
			padding: 0;
		}
		.item {
			display: block;
			margin: 15px 0;
			padding: 0 20px 0 0;
			a {
				font-size: 18px;
				line-height: 1.2em;
				&, &:visited {
					color: @color-blue-1;
					text-decoration: none;
				}
				&:hover {
					color: @color-red-2;
					text-decoration: none;
				}
			}
		}
	}
}