.section-rating-table {
	.filter {
		max-width: @vw-iphone-5-land;
		margin: 40px auto 0;
	}
}

@media (min-width: @vw-tablet-sm) {
	.section-rating-table {
		.filter {
			padding: 0 15px;
			max-width: none;
		}
	}
	.table-rating-cnt {
		margin: 0 0 50px;
		padding: 0 30px;
	}
}