.section-rating-common {
	margin: 0 0 20px;
	padding: 20px 0 10px;
	background: #fff;
	background: linear-gradient(to bottom, #E9F7F9, #fff);
	box-shadow: 0 1px 21px rgba(0,0,0,.15);
	.h1 {
		margin-top: 0;
		font-size: 35px;
	}
	.more {
		text-align: center;
	}
}

@media (min-width: @vw-iphone-land) {
	.section-about-common {
		.h1 {
			font-size: 44px;
		}
	}
}
@media (max-width: (@vw-android - 1)) {
	.section-rating-common {
		.h1 {
			font-size: 33px;
		}
	}
}
@media (min-width: @vw-tablet-sm) {
	.section-rating-common {
		margin: 0 0 30px;
		padding: 25px 0;
	}
}