.section-reviews {
	border-top: 5px solid #8bc34a;
	background: #fff;
	margin: 0;
	.section-cnt {
		padding: 40px 0;
	}
	.wrap {
		position: relative;
	}
	.title {
		font: 700 60px/1em @font-condensed;
		color: #8bc34a;
		text-align: center;
		text-transform: uppercase;
	}


	.items {
		margin: 30px;
		overflow: hidden;
		z-index: 1;
	}
	.item {
		margin: 0 50px;
		font-size: 0;
		text-align: center;
		//&:nth-of-type(odd) {
		//	background: #fff;
		//}
	}
	.controls {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 0;
	}
	.control {
		position: absolute;
		top: 130px;
		bottom: 0;
		height: 30px;
		margin: auto;
		font-size: 30px;
		line-height: 0;
		color: #fff;
		opacity: .5;
		cursor: pointer;
		transition: opacity .3s;
		&:hover {
			opacity: 1;
		}
	}
	.control-left {
		left: 0;
	}
	.control-right {
		right: 0;
	}
	.control-icon {
		background-color: #8bc34a;
		border-radius: 50%;
		height: 30px;
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		z-index: 2;
	}
	.control-icon-left {
		left: 0;
	}
	.control-icon-right {
		right: 0;
	}
	.icon {
		position: relative;
		right: -2px;
	}

	.video {
		display: inline-block;
		vertical-align: top;
		width: 32%;
		padding: 20px 15px;
		text-align: center;
	}
	.video-wrap {
		background: #ecffd7;
		border-top: 5px solid #8bc34a;
		padding: 20px 0;
	}
	.video-title {
		padding: 0 10px;
		font: 700 22px/1em @font-condensed;
		text-transform: uppercase;
	}
	.video-date {
		font-size: 11px;
		color: #666;
	}
	.video-iframe {
		margin: 20px 0 0;
	}
}