.section-infographic-text-icon {
	background: #fff;
	background: linear-gradient(to bottom, #e7fdff, #fff);
	border-top: 5px solid @color-blue-1;
	.item {
		padding: 80px 0;
	}
	.item-icon {
		text-align: center;
	}
	.svg-icon {
		transform: scale(1.5);
	}
	.item-title {
		margin: 5px 0;
		text-align: center;
		font: 28px/1.5em @font-condensed;
		color: #5f5f5f;
	}
	.item-text {
		text-align: center;
		font-size: 18px;
		line-height: 1.4em;
		color: #787878;
	}
}