@breadcrumbs-height: @top-menu-height;

.breadcrumbs {
	width: 50%;
	overflow: hidden;
	text-align: center;
	z-index: 1005;
}
.breadcrumbs-open-services {
	border-right: 1px solid #fff;
	&.active {
		background: @color-blue-1;
		.icon {
			color: #fff;
		}
	}
}

@media (min-width: @vw-laptop-sm) {
	.breadcrumbs {
		width: 100% !important;
		background: #fff;
		padding-right: 310px;
		z-index: 1020;
	}
}