@breadcrumbs-height: @top-menu-height;

.breadcrumbs {
	width: 50%;
	overflow: hidden;
	text-align: center;
	z-index: 1005;
}
.breadcrumbs-open-services {
	border-right: 1px solid #fff;
	&.active {
		background: @color-blue-1;
		.icon {
			color: #fff;
		}
	}
}