.svg-sprite-sections {
	background: url(sprite.svg) no-repeat;
}

.svg-advertise {
	background-position: 33.333333333333336% 0;
	width: 50px;
	height: 50px;
}

.svg-car {
	background-position: 0 100%;
	width: 50px;
	height: 50px;
}

.svg-car-repair {
	background-position: 0 50%;
	width: 50px;
	height: 50px;
}

.svg-construction {
	background-position: 33.333333333333336% 50%;
	width: 50px;
	height: 50px;
}

.svg-country {
	background-position: 66.66666666666667% 0;
	width: 50px;
	height: 50px;
}

.svg-engineer {
	background-position: 66.66666666666667% 50%;
	width: 50px;
	height: 50px;
}

.svg-expertise {
	background-position: 0 0;
	width: 50px;
	height: 50px;
}

.svg-finance {
	background-position: 33.333333333333336% 100%;
	width: 50px;
	height: 50px;
}

.svg-insurance {
	background-position: 66.66666666666667% 100%;
	width: 50px;
	height: 50px;
}

.svg-polygraphy {
	background-position: 100% 0;
	width: 50px;
	height: 50px;
}

.svg-registry {
	background-position: 100% 50%;
	width: 50px;
	height: 50px;
}

.svg-transport {
	background-position: 100% 100%;
	width: 50px;
	height: 50px;
}

