.svg-sprite-sections {
	background: url(sprite.svg) no-repeat;
}

.svg-icon-advertise {
	background-position: 33.333333333333336% 0;
	width: 50px;
	height: 50px;
}

.svg-icon-car {
	background-position: 0 100%;
	width: 50px;
	height: 50px;
}

.svg-icon-car-repair {
	background-position: 0 50%;
	width: 50px;
	height: 50px;
}

.svg-icon-construction {
	background-position: 33.333333333333336% 50%;
	width: 50px;
	height: 50px;
}

.svg-icon-country {
	background-position: 66.66666666666667% 0;
	width: 50px;
	height: 50px;
}

.svg-icon-engineer {
	background-position: 66.66666666666667% 50%;
	width: 50px;
	height: 50px;
}

.svg-icon-expertise {
	background-position: 0 0;
	width: 50px;
	height: 50px;
}

.svg-icon-finance {
	background-position: 33.333333333333336% 100%;
	width: 50px;
	height: 50px;
}

.svg-icon-insurance {
	background-position: 66.66666666666667% 100%;
	width: 50px;
	height: 50px;
}

.svg-icon-polygraphy {
	background-position: 100% 0;
	width: 50px;
	height: 50px;
}

.svg-icon-registry {
	background-position: 100% 50%;
	width: 50px;
	height: 50px;
}

.svg-icon-transport {
	background-position: 100% 100%;
	width: 50px;
	height: 50px;
}

