.home-intro-cta {
	//background: rgba(0,0,0,.3);
	position: relative;
	&:before {
		content: "";
		display: none;
		width: 50%;
		height: 1px;
		background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
		position: absolute;
		left: 0;
		top: 0;
	}
	&:after {
		content: "";
		display: none;
		width: 100%;
		height: 95px;
		background: url("@{img}rounded_shadow.png") no-repeat center top;
		position: absolute;
		left: 0;
		bottom: -95px;
	}
	.title,
	.subtitle {
		display: none;
	}
	.btn {
		display: inline-block;
		padding: 15px 10px 12px;
		border: 0 none;
		border-radius: 7px;
		font-size: 24px;
		font-weight: 500;
		line-height: 1.2em;
		text-align: left;
		text-transform: uppercase;
		text-shadow: 0 -1px 0 rgba(0,0,0,.4);
		white-space: normal;
		&, &:link, &:visited {
			color: #fff;
			text-decoration: none;
		}
		&:hover {
			color: #fff;
			text-decoration: none;
		}
		> span {
			display: block;
			overflow: hidden;
		}
	}
	.btn-1 {
		padding-left: 50px;
		background: mix(#00dfff, #00a5bd);
		background: linear-gradient(to bottom, #00dfff, #00a5bd);
		border-bottom: 1px solid #00a5bd;
		box-shadow: 0 0 10px #00dfff inset, 0 2px 15px rgba(0,0,0,.2);
		&:hover {
			background: mix(#00dfff, lighten(#00a5bd, 10%));
			background: linear-gradient(to bottom, #00dfff, lighten(#00a5bd, 5%));
		}
		&:active {
			background: mix(#00a5bd, #00dfff);
			background: linear-gradient(to bottom, #00a5bd, #00dfff);
		}
		.icon {
			margin-left: 5px;
			float: right;
			font-size: 45px;
			position: relative;
			right: 20px;
		}
	}
	.btn-2 {
		padding-left: 10px;
		background: mix(#a9ff00, #2db530);
		background: linear-gradient(to bottom, #a9ff00, #2db530);
		border-bottom: 1px solid #2db530;
		box-shadow: 0 0 10px #a9ff00 inset, 0 2px 15px rgba(0,0,0,.2);
		&:hover {
			background: mix(#a9ff00, lighten(#2db530, 10%));
			background: linear-gradient(to bottom, #a9ff00, lighten(#2db530, 8%));
		}
		&:active {
			background: mix(#2db530, #a9ff00);
			background: linear-gradient(to bottom, #2db530, #a9ff00);
		}
		.icon {
			margin-right: 5px;
			float: left;
			font-size: 40px;
		}
	}
}
.slide-content {
	width: @vw-iphone;
	margin: 0 auto;
	padding: 20px 10px 40px;
	text-align: center;
	transition: opacity .1s;
	.buttons {
		width: 280px;
		margin: 0 auto;
	}
	.btn {
		width: 100%;
		&:first-child {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:last-child {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
}

@media (min-width: @vw-tablet-sm) {
	.slide-content {
		width: 100%;
		padding: 0 0 40px;
		.buttons {
			width: 100%;
			.btn {
				width: 280px;
				margin: 0 8px;
				border-radius: 10px;
			}
		}
	}
}
@media (min-width: @vw-laptop-sm) {
	.home-intro-cta {
		background-color: rgba(0,172,187,.5);
		background-image: url("@{img}carousel_bg.png");
		background-position: 46px 0;
		background-repeat: repeat-y;
		&:before, &:after {
			display: block;
		}
		.title {
			display: block;
			margin: 20px 0;
			font-size: 44px;
			line-height: 1.2em;
			font-weight: 500;
			text-align: center;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
			color: #fff;
		}
		.subtitle {
			display: block;
			margin: 30px 0;
			font-size: 18px;
			line-height: 1.2em;
			text-align: center;
			color: #fff;
		}
	}
	.slide-content {
		width: 50%;
		height: 476px;
		margin: 0;
		padding: 135px 0 0;
		.buttons {
			.btn {
				width: 270px;
				margin: 0 10px;
			}
		}
	}
}