.home-intro-cta {
	//background: rgba(0,0,0,.3);
	position: relative;
	&:before {
		content: "";
		display: none;
		width: 50%;
		height: 1px;
		background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
		position: absolute;
		left: 0;
		top: 0;
	}
	&:after {
		content: "";
		display: none;
		width: 100%;
		height: 95px;
		background: url("@{img}rounded_shadow.png") no-repeat center top;
		position: absolute;
		left: 0;
		bottom: -95px;
	}
	.title,
	.subtitle {
		display: none;
	}
	.btn-1 {
		display: inline-block;
		padding: 17px 20px 15px;
		background: mix(#ffaceb, #b54ba7);
		background: linear-gradient(to bottom, #ffaceb, #b54ba7);
		border: 0 none;
		border-bottom: 1px solid #b54ba7;
		box-shadow: 0 0 10px #ffaceb inset, 0 2px 15px rgba(0,0,0,.2);
		border-radius: 7px;
		font-size: 19px;
		font-weight: 700;
		line-height: 1em;
		text-align: center;
		text-transform: uppercase;
		text-shadow: 0 -1px 0 rgba(0,0,0,.4);
		&, &:link, &:visited {
			color: #fff;
			text-decoration: none;
		}
		&:hover {
			background: mix(#ffaceb, lighten(#b54ba7, 10%));
			background: linear-gradient(to bottom, #ffaceb, lighten(#b54ba7, 8%));
			color: #fff;
			text-decoration: none;
		}
		&:active {
			background: mix(#b54ba7, #ffaceb);
			background: linear-gradient(to bottom, #b54ba7, #ffaceb);
		}
		&[disabled] {
			background: mix(@color-grey-2, @color-grey-1);
			background: linear-gradient(to bottom, @color-grey-2, @color-grey-1);
			box-shadow: none;
			border-bottom-color: @color-grey-2;
		}
	}
	.btn-2 {
		display: inline-block;
		padding: 17px 20px 15px;
		background: mix(#a9ff00, #2db530);
		background: linear-gradient(to bottom, #a9ff00, #2db530);
		border: 0 none;
		border-bottom: 1px solid #2db530;
		box-shadow: 0 0 10px #a9ff00 inset, 0 2px 15px rgba(0,0,0,.2);
		border-radius: 7px;
		font-size: 19px;
		font-weight: 700;
		line-height: 1em;
		text-align: center;
		text-transform: uppercase;
		text-shadow: 0 -1px 0 rgba(0,0,0,.4);
		&, &:link, &:visited {
			color: #fff;
			text-decoration: none;
		}
		&:hover {
			background: mix(#a9ff00, lighten(#2db530, 10%));
			background: linear-gradient(to bottom, #a9ff00, lighten(#2db530, 8%));
			color: #fff;
			text-decoration: none;
		}
		&:active {
			background: mix(#2db530, #a9ff00);
			background: linear-gradient(to bottom, #2db530, #a9ff00);
		}
		&[disabled] {
			background: mix(@color-grey-2, @color-grey-1);
			background: linear-gradient(to bottom, @color-grey-2, @color-grey-1);
			box-shadow: none;
			border-bottom-color: @color-grey-2;
		}
	}
}
.slide-content {
	width: @vw-iphone;
	margin: 0 auto;
	padding: 20px 10px 40px;
	text-align: center;
	transition: opacity .1s;
	.buttons {
		width: 280px;
		margin: 0 auto;
	}
	.btn {
		width: 100%;
		&:first-child {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:last-child {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}
}

@media (min-width: @vw-tablet-sm) {
	.slide-content {
		width: 100%;
		padding: 0 0 40px;
		.buttons {
			width: 100%;
			.btn {
				width: 280px;
				margin: 0 8px;
				border-radius: 10px;
			}
		}
	}
}
@media (min-width: @vw-laptop-sm) {
	.home-intro-cta {
		background-color: rgba(0,172,187,.5);
		background-image: url("@{img}carousel_bg.png");
		background-position: 46px 0;
		background-repeat: repeat-y;
		&:before, &:after {
			display: block;
		}
		.title {
			display: block;
			margin: 20px 0;
			font-size: 44px;
			line-height: 1.2em;
			font-weight: 700;
			text-align: center;
			text-transform: uppercase;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
			color: #fff;
		}
		.subtitle {
			display: block;
			margin: 30px 0;
			font-size: 18px;
			line-height: 1.2em;
			text-align: center;
			color: #fff;
		}
	}
	.slide-content {
		width: 50%;
		height: 476px;
		margin: 0;
		padding: 135px 0 0;
		.buttons {
			.btn {
				width: 270px;
				margin: 0 10px;
			}
		}
	}
}