.home-header-mobile {

}

.home-header {
	display: none;
	position: relative;
	padding: 50px 0 0;
	z-index: 1050;
	.clearfix();
	.home-header-left {
		width: 50%;
		margin: 0;
		float: left;
		text-align: left;
		padding: 0 0 0 82px;
		.btn {
			.btn-orange();
			left: 0;
		}
		.h2 {
			width: 450px;
			padding-left: 210px;
		}
	}
	.home-header-right {
		width: 50%;
		margin: 0;
		float: left;
		text-align: right;
		padding: 0 82px 0 0;
		.btn {
			.btn-green();
			right: 0;
		}
		.h2 {
			width: 285px;
			padding-left: 100px;
		}
	}
	.home-header-left, .home-header-right {
		position: relative;
		&:before {
			content: "";
			background: linear-gradient(to right, rgba(255,255,255,0), #fff, rgba(255,255,255,0));
			display: block;
			position: absolute;
			top: 65px;
			width: 90%;
			height: 95px;
		}
	}
	.home-header-left:before {
		left: 0;
	}
	.home-header-right:before {
		right: 0;
	}
	.home-header-center {
		display: block;
		position: absolute;
		width: 100%;
		top: 0;
		&:before {
			content: "";
			display: block;
			background: url("@{img}/bullet.png") no-repeat;
			width: 128px;
			height: 114px;
			position: absolute;
			left: 50%;
			top: 30px;
			z-index: 100;
			transform: none;
			margin-left: -45px;
		}
	}
	.btn {
		margin: 0;
		position: absolute;
		top: 0;
	}
	.h1 {
		font-size: 54px;
		text-shadow: none;
		line-height: 1.2em;
		font-weight: 900;
		text-transform: uppercase;
		color: @color-green-1;
		> a {
			&, &:link, &:visited, &:hover {
				color: currentColor;
				text-decoration: none;
			}
		}
	}
	.h2 {
		margin: 22px 0 30px;
		padding: 0;
		font-weight: 400;
		font-size: 24px;
		line-height: 1.1em;
		text-transform: uppercase;
		color: @color-green-1;
		text-shadow: 0 1px 0 #fff;
		&:first-line {
			font-weight: 900;
		}
	}
	.centered-link {
		display: block;
		margin: 5px 0 20px;
		text-align: center;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 700;
		> a {
			&, &:link, &:visited {
				color: #8dc2bd;
				text-decoration: underline;
			}
			&:hover {
				color: darken(#8dc2bd, 10%);
				text-decoration: none;
			}
		}
	}
}

@media (min-width: @vw-laptop-sm) {
	.home-header {
		display: block;
	}
}