.wrapper {
	background: #f9ffff url("../img/tariff_bg.jpg") no-repeat center bottom;
	background-size: cover;
	background-attachment: fixed;
}

.section-tariff-common {
	.section-cnt {
		padding: 50px 0 0;
	}
	.h1 {
		display: inline-block;
		margin: 0 0 .5em;
		font-size: 60px;
		line-height: 1em;
		font-weight: 300;
	}
	.brief {
		display: inline-block;
	}
}

@media (min-width: @vw-iphone-5-land) {
	.section-tariff-common {

	}
}
@media (min-width: @vw-tablet-sm) {
	.section-tariff-common {

	}
}
@media (min-width: @vw-tablet-lg) {
	.section-tariff-common {

	}
}
@media (min-width: @vw-laptop-sm) {
	.section-tariff-common {
		.h1 {
			margin: 0 0 .5em;
			font-size: 60px;
			line-height: 1em;
			font-weight: 300;
		}
		.brief {

		}
	}
}