.wrapper {
	background: #f9ffff url("../img/tariff_bg.jpg") no-repeat center bottom;
	background-size: 100% auto;
}
.footer {
	background: darken(fade(#556567, 90%), 10%);
}

.section-tariff-common {
	.section-cnt {
		padding: 25px 0 0;
	}
	.block {
		padding: 0 15px;
		text-align: center;
	}
	.h1 {
		margin: 0 0 .2em;
		font-size: 40px;
		line-height: 1em;
		font-weight: 300;
	}
	.brief {
		font-size: 18px;
		line-height: 1.4em;
	}
}

@media (min-width: @vw-iphone-5-land) {
	.section-tariff-common {

	}
}
@media (min-width: @vw-iphone-6p-land) {
	.section-tariff-common {
		.block {
			display: table;
			padding: 0;
			text-align: left;
		}
		.h1 {
			display: table-cell;
			vertical-align: middle;
			padding: 0 1em 0 .5em;
			font-size: 50px;
			line-height: 1em;
			font-weight: 300;
		}
		.brief {
			display: table-cell;
			vertical-align: middle;
			max-width: 700px;
			padding: 5px 15px 0 0;
			font-size: 15px;
		}
	}
}
@media (min-width: @vw-tablet-sm) {
	.section-tariff-common {
		.block {

		}
		.h1 {
			padding: 0 .5em;
		}
		.brief {
			padding: 10px 15px 0;
			font-size: 17px;
		}
	}
}
@media (min-width: @vw-tablet-lg) {
	.section-tariff-common {
		.section-cnt {
			padding: 50px 0 0;
		}
	}
}
@media (min-width: @vw-laptop-sm) {
	body {
		background: #f9ffff url("../img/tariff_bg.jpg") no-repeat center bottom;
		background-size: cover;
		background-attachment: fixed;
	}
	.wrapper {
		background: none;
	}
	.section-tariff-common {
		.h1 {
			margin: 0 0 .5em;
			font-size: 60px;
			line-height: 1em;
			font-weight: 300;
		}
		.brief {
			font-size: 18px;
		}
	}
}