.section-product {
	padding: 20px 0 0;
	.product-header {
		padding: 0 15px;
	}
	.product-header-left {

	}
	.product-header-right {

	}
	.header-h1 {
		display: inline-block;
		vertical-align: top;
		margin: 0 0 .3em;
		font: 25px/1.2em @font-condensed;
		.word-break();
	}
	.header-buttons {
		float: right;
		width: 35%;
		text-align: right;
	}
	.header-rating {
		float: left;
		width: 65%;
		text-align: left;
		.stars {
			display: inline-block;
			vertical-align: top;
			color: @color-orange-1;
			font-size: 16px;
		}
		.count {
			display: inline-block;
			vertical-align: top;
			margin: 0 0 0 5px;
			font-size: 13px;
			> a {
				&, &:visited, &:hover {
					color: @color-grey-2;
					text-decoration: none;
				}
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.header-button-call,
	.header-button-online {
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		&:last-child {
			margin-left: 5px;
		}
		/*a {
			&, &:visited {
				text-decoration: none;
			}
			&:hover {
				text-decoration: underline;
			}
		}*/
		.icon {
			background: @color-blue-1;
			font-size: 16px;
			border-radius: 50%;
			padding: 6px;
			color: #fff;
		}
		.text {
			display: none;
		}
	}
	.header-button-call {}
	.header-button-online {}
	.product-gallery-cnt {
		width: 100%;
		overflow: hidden;
		position: relative;
		margin: 10px 0 40px;
		padding: 0 0 7px;
		background: @color-grey-3;
		box-shadow: 0 0 5px rgba(0,0,0,.1) inset;
	}
	.product-gallery {
		width: 100%;
		height: 100%;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		transform: translateZ(0);
		user-select: none;
		z-index: 1;
	}
	.product-gallery-figure {
		display: block;
		float: left;
		width: 100px;
		height: 100%;
		margin: 0;
	}
	.product-gallery-link {}
	.product-gallery-img {
		display: block;
		max-width: 100%;
		font-size: 0;
	}

	h3, .h3 {
		font: 300 22px/1em @font-condensed;
		text-transform: uppercase;
	}
}