.product-params {
	margin: 20px 0;
	.product-param-group {
		padding: 10px 0 5px;
		border-bottom: 2px solid @color-grey-4;
	}
	.product-param {
		margin: 10px 0;
		padding: 0 15px;
	}
	.product-param-name {
		display: inline-block;
		vertical-align: top;
		max-width: 60%;
		margin: 0 5px 0 0;
		font: 15px/1.2em @font-condensed;
		text-transform: uppercase;
		color: @color-grey-2;
	}
	.product-param-value {
		display: inline;
		vertical-align: super;
		margin: 0;
		font-size: 15px;
		line-height: 1.2em;
		font-weight: 500;
		a {
			&, &:visited {
				text-decoration: none;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.title {
		margin-bottom: 0;
	}
	.product-params-more {
		padding: 0 15px;
	}
	.product-param-value-list {
		margin: 0 0 20px;
		padding: 0;
	}
	.product-param-value-list-item {
		margin: 0 0 0 35px;
		padding: 0;
	}
}

@media (min-width: @vw-iphone-5-land) {
	.product-params {
		.product-param-group {
			padding: 10px 0 30px;
			border-bottom: 0 none;
		}
		.product-param {
			display: table;
			width: 100%;
			margin: 0;
			padding: 0 15px;
			&:nth-of-type(odd) {
				background: @color-grey-3;
			}
		}
		.product-param-name,
		.product-param-value {
			display: table-cell;
			padding: 12px 0;
			vertical-align: middle;
		}
		.product-param-name {
			width: 40%;
			max-width: none;
			margin-right: 10px;
			font-size: 18px;
		}
		.product-param-value {
			font-size: 18px;
		}
		.product-params-more {
			.btn {
				font-size: 18px;
			}
		}
	}
}
@media (min-width: @vw-tablet-sm) {
	.product-params {
		.product-param {
			padding: 0 30px;
		}
		.product-params-more {
			text-align: left;
			.btn {
				display: inline-block;
				padding: .4em 1.3em .35em 2.2em;
			}
		}
	}
}
@media (min-width: @vw-tablet-lg) {
	.product-params {
		display: table;
		width: 100%;
		margin: 0;
	}
	.product-params-left,
	.product-params-right {
		display: table-cell;
		width: 50%;
		vertical-align: top;
	}
	.product-params-left {

	}
	.product-params-right {

	}
}