.section-product {
	.product-header {}
	.header-h1 {
		display: inline-block;
		vertical-align: top;
		margin: 0 20px 10px 0;
		font: 300 37px/1em @font-condensed;
		text-transform: uppercase;
	}
	.header-button-call,
	.header-button-online {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: @color-default;
	}
	.header-button-call {}
	.header-button-online {}
	.header-rating {
		color: @color-orange-1;
	}
}