.product-main {

	.product-main-header {}
	.product-main-header-left {}
	.product-main-header-right {
		.annotation {
			background: @color-grey-5;
			margin-left: -15px;
			margin-right: -15px;
			padding: 10px 15px;
			box-shadow: 0 2px 9px rgba(0,0,0,.25);
			font-style: italic;
			font-size: .9em;
		}
	}
	.product-main-content {
		line-height: 1.7em;
	}
	.product-main-content-detail {
		display: none;
	}
	.product-main-content-more {
		padding: 0 15px;
	}
	.product-main-content-more-btn {

	}
}