.section-about-common {
	padding: 10px 0;
	.video {
		margin: 2em 0;
		text-align: center;
	}
}

@media (min-width: @vw-tablet-lg) {
	.section-about-common {
		padding: 10px 0 60px;
		.video {
			width: 400px;
			float: right;
			margin: 20px 0 50px 50px;
		}
	}
}