@icon-advertise: -81px, 0px, 80px, 80px, 'services.png';
@icon-advertise_blue: 0px, -243px, 80px, 80px, 'services.png';
@icon-car-repair: 0px, -81px, 80px, 80px, 'services.png';
@icon-car-repair_blue: -81px, -81px, 80px, 80px, 'services.png';
@icon-car: -162px, 0px, 80px, 80px, 'services.png';
@icon-car_blue: -162px, -81px, 80px, 80px, 'services.png';
@icon-construction: 0px, -162px, 80px, 80px, 'services.png';
@icon-construction_blue: -81px, -162px, 80px, 80px, 'services.png';
@icon-country: -162px, -162px, 80px, 80px, 'services.png';
@icon-country_blue: -243px, 0px, 80px, 80px, 'services.png';
@icon-engineer: -243px, -81px, 80px, 80px, 'services.png';
@icon-engineer_blue: -243px, -162px, 80px, 80px, 'services.png';
@icon-expertise: 0px, 0px, 80px, 80px, 'services.png';
@icon-expertise_blue: -81px, -243px, 80px, 80px, 'services.png';
@icon-finance: -162px, -243px, 80px, 80px, 'services.png';
@icon-finance_blue: -243px, -243px, 80px, 80px, 'services.png';
@icon-insurance: -324px, 0px, 80px, 80px, 'services.png';
@icon-insurance_blue: -324px, -81px, 80px, 80px, 'services.png';
@icon-polygraphy: -324px, -162px, 80px, 80px, 'services.png';
@icon-polygraphy_blue: -324px, -243px, 80px, 80px, 'services.png';
@icon-registry: 0px, -324px, 80px, 80px, 'services.png';
@icon-registry_blue: -81px, -324px, 80px, 80px, 'services.png';
@icon-transport: -162px, -324px, 80px, 80px, 'services.png';
@icon-transport_blue: -243px, -324px, 80px, 80px, 'services.png';
