.padding-mobile() {
	padding-left: 15px;
	padding-right: 15px;
}
.padding-tablet() {
	padding-left: 30px;
	padding-right: 30px;
}

.section-firm {
	.header-h1 {
		display: inline-block;
		vertical-align: top;
		margin: 0 0 .3em;
		font: 25px/1.2em @font-condensed;
		.word-break();
	}
}

@media (min-width: @vw-iphone-5-land) {
	.section-firm {
		.header-h1 {
			font-size: 32px;
		}
	}
}
@media (min-width: @vw-tablet-sm) {
	.section-firm {

	}
}
@media (min-width: @vw-tablet-lg) {
	.section-firm {

	}
}
@media (min-width: @vw-laptop-sm) {
	.section-firm {
		.header-h1 {
			margin: 0;
			font-size: 42px;
			font-weight: 300;
		}
	}
}