.padding-mobile() {
	padding-left: 15px;
	padding-right: 15px;
}
.padding-tablet() {
	padding-left: 30px;
	padding-right: 30px;
}

.section-product {
	//padding: 20px 0 0;
	.product-header {
		padding: 20px 0 15px;
	}
	.product-header-left {
		.padding-mobile();
	}
	.product-header-right {
		.padding-mobile();
	}
	.header-h1 {
		display: inline-block;
		vertical-align: top;
		margin: 0 0 .3em;
		font: 25px/1.2em @font-condensed;
		.word-break();
	}
	.header-buttons {
		float: right;
		width: 35%;
		text-align: right;
	}
	.header-rating {
		float: left;
		width: 65%;
		padding: 5px 0 0;
		text-align: left;
		white-space: nowrap;
		.stars {
			display: inline-block;
			vertical-align: top;
			color: @color-orange-1;
			font-size: 18px;
		}
		.count {
			display: inline-block;
			vertical-align: top;
			margin: 0 0 0 3px;
			font-size: 14px;
			> a {
				&, &:visited, &:hover {
					color: @color-grey-2;
					text-decoration: none;
				}
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.header-button-call,
	.header-button-online {
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		&:last-child {
			margin-left: 5px;
		}
		.icon {
			background: @color-blue-1;
			font-size: 20px;
			border-radius: 50%;
			padding: 6px;
			color: #fff;
		}
		&:hover {
			.icon {
				background: darken(@color-blue-1, 10%);
			}
		}
		.text {
			display: none;
		}
	}
	.header-button-call {}
	.header-button-online {}
	.product-gallery-cnt {
		width: 100%;
		height: 88px;
		overflow: hidden;
		position: relative;
		margin: 0 0 40px;
		background: #fff;
	}
	.product-gallery {
		width: 100%;
		height: 100%;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		transform: translateZ(0);
		user-select: none;
		z-index: 1;
		font-size: 0;
		text-align: center;
	}
	.product-gallery-figure {
		display: inline-block;
		vertical-align: top;
		width: 107px;
		height: 100%;
		margin: 0;
		border-right: 2px solid #fff;
	}
	.product-gallery-link {
		display: block;
	}
	.product-gallery-img {
		display: block;
		max-width: 100%;
		height: auto;
		object-fit: cover;
		font-size: 0;
		line-height: 0;
	}
	h2, .h2 {
		margin: 1em 0;
		font: 400 23px/1em @font-condensed;
		text-transform: uppercase;
	}
	h3, .h3 {
		margin: 1em 0;
		font: 400 20px/1em @font-condensed;
		text-transform: uppercase;
	}
	.product-price-cnt {
		margin: 50px 0;
	}
	.product-buttons-group {
		.padding-mobile();
		padding-bottom: 50px;
		text-align: center;
		.btn {
			display: block;
			margin: 10px auto;
			max-width: @vw-iphone;
			font-size: 16px;
		}
	}
}

@media (min-width: @vw-iphone-5-land) {
	.section-product {
		.header-h1 {
			font-size: 32px;
		}
		h2, .h2 {
			font-size: 28px;
		}
		h3, .h3 {
			font-size: 24px;
		}
		.header-button-call,
		.header-button-online {
			.icon {
				padding: 8px;
				font-size: 26px;
			}
		}
		.header-rating {
			.stars {
				font-size: 22px;
			}
			.count {
				font-size: 16px;
			}
		}
		.product-buttons-group {
			.btn {
				margin: 12px auto;
				font-size: 18px;
			}
		}
	}
}
@media (min-width: @vw-tablet-sm) {
	.section-product {
		.product-header {
			.padding-tablet();
			padding-top: 30px;
			padding-bottom: 15px;
		}
		.product-header-left,
		.product-header-right {
			padding: 0;
		}
		.product-buttons-group {
			.btn {
				display: inline-block;
				vertical-align: middle;
				margin: 0 15px 0 0;
				font-size: 16px;
			}
		}
		.product-gallery-cnt {
			width: 100%;
			width: ~"calc(100% - 60px)";
			margin: 0 auto 30px;
		}
		.product-gallery {
			text-align: left;
		}
	}
}
@media (min-width: @vw-tablet-lg) {
	.section-product {
		.product-header {
			display: table;
			width: 100%;
			margin: 0;
			.padding-tablet();
			padding-top: 40px;
			padding-bottom: 15px;
		}
		.product-header-left,
		.product-header-right {
			display: table-cell;
			vertical-align: middle;
			padding: 0;
		}
		.product-header-left {
			padding-right: 10px;
		}
		.product-header-right {
			width: 45%;
			text-align: right;
		}
		.header-rating,
		.header-buttons {
			float: none;
			display: inline-block;
			vertical-align: top;
			width: auto;
			text-align: right;
			padding: 0;
		}
		.header-rating {
			margin-left: 15px;
			.count {
				display: none;
			}
		}
		.header-buttons {
			padding-top: 3px;
		}
		.header-button-call,
		.header-button-online {
			font: 16px/1em @font-condensed;
			text-transform: uppercase;
			color: @color-default;
			&:last-child {
				margin-left: 10px;
			}
			.icon {
				background: none;
				font-size: inherit;
				border-radius: 0;
				padding: 0;
				color: inherit;
				position: relative;
				top: 1px;
			}
			&:hover {
				color: #000;
				.icon {
					background: none;
				}
			}
			.text {
				display: inline-block;
			}
			a {
				&:link, &:visited {
					color: @color-default;
					text-decoration: none;
				}
				&:hover {
					color: #000;
					text-decoration: none;
				}
			}
		}
		.product-gallery-cnt {
			width: 100%;
			width: ~"calc(100% - 60px)";
			margin-bottom: 50px;
		}
	}
}
@media (min-width: @vw-laptop-sm) {
	.section-product {
		.product-header {
			padding: 35px 0 20px;
		}
		.header-h1 {
			margin: 0;
			font-size: 42px;
			font-weight: 300;
		}
		.product-header-left {
			padding-right: 20px;
		}
		.header-button-call,
		.header-button-online {

		}
		.product-gallery-cnt {
			width: 100%;
			margin-bottom: 30px;
		}
		.header-rating {
			.stars {
				font-size: 18px;
			}
		}
	}
}