.firm-params {
	margin: 20px 0;
	.firm-param-group {
		padding: 0 0 5px;
		border-bottom: 2px solid @color-grey-4;
	}
	.firm-param {
		margin: 14px 0;
		.padding-mobile();
	}
	.firm-param-name {
		display: inline-block;
		vertical-align: top;
		max-width: 60%;
		margin: 0 5px 0 0;
		font: 15px/1.2em @font-condensed;
		text-transform: uppercase;
		color: @color-grey-2;
	}
	.firm-param-value {
		display: block;
		vertical-align: super;
		margin: 0;
		font-size: 15px;
		line-height: 1.2em;
		font-weight: 500;
		a {
			&, &:visited {
				text-decoration: none;
			}
			&:hover {
				text-decoration: underline;
			}
		}
		.value {
			display: block;
		}
	}
	.title {
		margin: 0 0 10px;
	}
	.firm-params-more {
		.padding-mobile();
	}
	.firm-param-value-list {
		margin: 0 0 20px;
		padding: 0;
	}
	.firm-param-value-list-item {
		margin: 0 0 0 35px;
		padding: 0;
	}
	.firm-params-right {
		padding: 5px 0;
		.title {
			margin-top: 20px;
		}
		.text-block {
			.padding-mobile();
		}
	}
}

@media (min-width: @vw-iphone-5-land) {
	.firm-params {
		.firm-param-group {
			padding: 10px 0 30px;
			border-bottom: 0 none;
		}
		.firm-param {
			display: table;
			width: 100%;
			margin: 0;
			.padding-mobile();
			&:nth-of-type(odd) {
				background: @color-grey-3;
			}
		}
		.firm-param-name,
		.firm-param-value {
			display: table-cell;
			padding: 12px 0;
			vertical-align: middle;
		}
		.firm-param-name {
			width: 40%;
			max-width: none;
			margin-right: 10px;
			font-size: 18px;
		}
		.firm-param-value {
			font-size: 18px;
		}
		.firm-params-more {
			.btn {
				font-size: 18px;
			}
		}
	}
}
@media (min-width: @vw-tablet-sm) {
	.firm-params {
		.firm-param {
			.padding-tablet();
		}
		.firm-params-more {
			text-align: left;
			.btn {
				display: inline-block;
				padding: .4em 1.3em .35em 2.2em;
			}
		}
		.firm-params-right .text-block {
			.padding-tablet();
		}
	}
}
@media (min-width: @vw-tablet-lg) {
	.firm-params {
		margin: 50px 0 0;
		.firm-param-group {
			padding: 0 0 0 40px;
		}
		.firm-params-cnt {
			display: table;
			width: 100%;
		}
		.firm-params-left,
		.firm-params-right {
			display: table-cell;
			vertical-align: top;
			width: auto;
		}
		.firm-params-left {
			padding: 20px 25px 15px;
			background: @color-grey-5;
			box-shadow: 0 0 1px rgba(0,0,0,.3), 0 1px 3px rgba(0,0,0,.2);
			border-radius: 5px;
		}
		.firm-param-group {
			padding: 0;
		}
		.firm-params-right {
			width: 45%;
			padding: 0 2% 0 3%;
			.firm-param-group {
				padding: 0;
			}
			.text-block {
				padding: 0;
			}
		}
		.firm-param {
			display: table;
			margin: 0 0 12px;
			padding: 0;
			&:nth-of-type(odd), &:nth-of-type(even) {
				background: none;
			}
		}
		.firm-param-name,
		.firm-param-value {
			display: table-cell;
			vertical-align: top;
			padding: 0;
		}
		.firm-param-name {
			width: 38%;
			min-width: 200px;
			padding: 0 15px 0 0;
			font-size: 16px;
			line-height: 1.5em;
		}
		.firm-param-value {
			margin: 0 0 0 10px;
			font-size: 16px;
			line-height: 1.5em;
			font-weight: 400;
		}
		.title {
			margin: 0 0 1em;
		}
	}
}
@media (min-width: @vw-laptop-sm) {
	.firm-params {
		.firm-params-right {
			width: 45%;
			padding: 0 0 0 5%;
			.firm-param-group {
				padding: 0;
			}
			.text-block {
				padding: 0;
			}
		}
	}
}