.svg-sprite-landing-firms {
	background: url(sprite.svg) no-repeat;
}

.svg-icon-assistant {
	background-position: 33.333333333333336% 0;
	width: 50px;
	height: 50px;
}

.svg-icon-autograph {
	background-position: 33.333333333333336% 66.66666666666667%;
	width: 50px;
	height: 50px;
}

.svg-icon-clock {
	background-position: 0 33.333333333333336%;
	width: 50px;
	height: 50px;
}

.svg-icon-collect {
	background-position: 33.333333333333336% 33.333333333333336%;
	width: 50px;
	height: 50px;
}

.svg-icon-conference {
	background-position: 66.66666666666667% 0;
	width: 50px;
	height: 50px;
}

.svg-icon-cup {
	background-position: 66.66666666666667% 33.333333333333336%;
	width: 50px;
	height: 50px;
}

.svg-icon-filter {
	background-position: 0 66.66666666666667%;
	width: 50px;
	height: 50px;
}

.svg-icon-money-box {
	background-position: 0 0;
	width: 50px;
	height: 50px;
}

.svg-icon-office-phone {
	background-position: 66.66666666666667% 66.66666666666667%;
	width: 50px;
	height: 50px;
}

.svg-icon-organization {
	background-position: 100% 0;
	width: 50px;
	height: 50px;
}

.svg-icon-registry-editor {
	background-position: 100% 33.333333333333336%;
	width: 50px;
	height: 50px;
}

.svg-icon-speed {
	background-position: 100% 66.66666666666667%;
	width: 50px;
	height: 50px;
}

.svg-icon-thumb-up {
	background-position: 0 100%;
	width: 50px;
	height: 50px;
}

.svg-icon-todo-list {
	background-position: 33.333333333333336% 100%;
	width: 50px;
	height: 50px;
}

.svg-icon-wallet {
	background-position: 66.66666666666667% 100%;
	width: 50px;
	height: 50px;
}

