.home-header-search-form {
	.search-form {
		padding: 0 5%;
	}
	.text-input {
		margin: 0;
		padding: 1em;
		font-size: 20px;
		text-align: center;
		border-radius: 10px 10px 0 0;
		box-shadow: 0 1px 2px rgba(0,0,0,.2) inset;
		min-height: 40px;
		position: relative;
		z-index: 1;
		&:focus {
			box-shadow: 0 1px 2px fade(@color-blue-1, 50%) inset;
		}
	}
	.location-input {
		min-height: 40px;
		background: none;
		border: 0 none;
		border-radius: 0 0 10px 10px;
		box-shadow: 0 1px 2px rgba(0,0,0,.2);
		.dropdown-toggle {
			min-height: 40px;
			border-top: 0 none;
			border-radius: 0 0 10px 10px;
			.filter-option {
				text-align: center !important;
			}
		}
		.clearfix();
	}
	.form-submit-wrapper {
		display: block;
		margin: 10px 0;
		text-align: center;
	}
	.form-submit {
		.icon {
			vertical-align: middle;
		}
	}
	.search-hint {
		display: none;
	}
}

@media (min-width: @vw-iphone-5-land) {
	.home-header-search-form {
		margin: 0 0 30px;
		.form-group {
			display: table;
			width: 100%;
		}
		.text-input-wrapper,
		.location-input-wrapper,
		.form-submit-wrapper {
			display: table-cell !important;
			vertical-align: top;
		}
		.text-input-wrapper {
			min-width: 150px;
			border-right: 1px solid @color-grey-3;
		}
		.location-input-wrapper {
			max-width: 260px;
		}
		.form-submit-wrapper {}
		.form-submit {
			width: 100%;
			height: 100%;
			background: @color-blue-1;
			border: 0 none;
			outline: 0 none;
			color: #fff;
			font-size: 30px;
			min-height: 40px;
			transition: all .2s;
			&:hover {
				background: lighten(@color-blue-1, 8%);
			}
			.label {
				display: none;
			}
		}
		.form-group {
			box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
		}
		.text-input,
		.location-input,
		.location-input .dropdown-toggle {
			background: #fff !important;
			border: 0 none !important;
			border-radius: 0 !important;
			box-shadow: none !important;
		}
		.text-input {
			text-align: left;
			&:focus {
				box-shadow: 0 1px 10px fade(@color-blue-1, 50%) !important;
			}
		}
		.location-input .dropdown-toggle {
			background: @color-grey-5 !important;
		}
		.search-hint {
			display: block;
			margin: 0 20px;
			padding: 0 5%;
			font-size: 16px;
			line-height: 1em;
			color: @color-grey-1;
			text-align: center;
		}
	}
}
@media (min-width: @vw-tablet-sm) {
	.home-header-search-form {
		margin: 0 0 50px;
		.text-input,
		.location-input,
		.location-input .dropdown-toggle,
		.form-submit {
			min-height: 60px;
		}
	}
}
@media (min-width: @vw-laptop-sm) {
	.home-header-search-form {
		padding: 0 0 1px;
		.search-form {
			max-width: 800px;
			margin: 0 auto;
			padding: 0;
		}
		.location-input {
			.dropdown-toggle {
				box-shadow: 0 1px 0 #fff inset !important;
				outline: 0 none !important;
				transition: all .3s;
				&:hover {
					background: @color-grey-3 !important;
				}
				.filter-option {
					font-size: 16px;
					color: lighten(@color-default, 10%);
				}
				.caret {
					border-width: 6px;
					border-top-color: @color-grey-1;
				}
			}
		}
		.search-hint {
			max-width: 760px;
			margin: 0 auto;
			padding: 0;
			text-align: left;
		}
	}
}