.section-product-filter {
	.filter-header {
		margin: 0 0 30px;
		padding: 30px 15px 20px;
		border-bottom: 5px solid @color-grey-3;
		text-align: center;
	}
	.header-h1 {
		display: inline-block;
		vertical-align: top;
		margin: 0 20px 10px 0;
		font: 300 37px/1em @font-condensed;
		text-transform: uppercase;
	}
	.header-count {
		display: inline-block;
		vertical-align: top;
		margin: 0 20px 10px 0;
		font-size: 14px;
		line-height: 1.25em;
	}
	.header-count-item {}
	.header-social {
		display: inline-block;
		vertical-align: bottom;
		margin: 0 20px 10px 0;
	}
	.header-favorites {
		display: inline-block;
		vertical-align: top;
	}
	.header-favorite-button {}
	.filter-main {}
	.filter-more {
		margin: 20px 0;
	}
	.filter-buttons {
		max-width: @vw-iphone-6;
		margin: 20px auto;
		text-align: center;
		.btn {
			width: 235px;
			margin: 0 10px 10px;
			padding: 15px 0 13px !important;
			text-transform: uppercase;
			font-size: 18px !important;
			line-height: 1em !important;
		}
		.btn-advanced {
			.flat-button(@color-blue-1, 16px);
		}
		.btn-submit {
			.btn-green-small();
		}
	}
	.filter-view {
		display: none;
	}
	.filter-output {}
	.output-item {
		margin: 0 0 40px;
		text-align: center;
	}
	.output-item-image {
		position: relative;
	}
	.output-item-image-cnt {
		text-align: center;
		font-size: 0;
		line-height: 0;
		img {
			width: @vw-iphone;
			height: auto;
		}
	}
	.output-item-buttons {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		width: @vw-iphone;
		margin: 0 auto;
		padding: 0;
		background: rgba(0,0,0,.7);
		text-align: center;
		.btn-more {
			display: inline-block;
			vertical-align: top;
			padding: 13px 0 0;
			font-size: 16px;
			line-height: 1em;
			text-transform: uppercase;
			&:link, &:visited, &:hover {
				color: #fff;
				text-decoration: none;
			}
			.icon {
				font-size: 1.2em;
				vertical-align: text-bottom;
			}
		}
		.dropup, .dropdown {
			float: left;
			display: inline-block;
			vertical-align: middle;
		}
		.dropdown-toggle {
			background: #000;
			border: 0 none;
			margin: 0;
			padding: 10px;
			border-radius: 0;
			font-size: 25px;
			line-height: 1em;
			color: #fff;
		}
	}
	.output-item-text {
		padding: 0 10px;
	}
	.output-item-header {
		margin: 10px 0 0;
	}
	.output-item-name {
		display: inline-block;
		font: 30px/1em @font-condensed;
		.word-break();
		a {
			color: @color-default;
			text-decoration: none;
		}
	}
	.output-item-feature {
		display: inline-block;
		margin-left: 5px;
		color: @color-grey-1;
		white-space: nowrap;
		font-size: 16px;
		line-height: 2em;
	}
	.output-item-rating {
		margin: 0 0 10px;
		font-size: 20px;
		color: @color-orange-1;
	}
	.output-item-param {
		font-size: 16px;
	}
	.output-item-param-name {}
	.output-item-param-value {}
	.output-item-price {
		margin: 10px 0;
		font-size: 20px;
		line-height: 1.2em;
	}
	.output-item-modifiers {
		width: @vw-iphone;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		margin: 0 auto;
		text-align: right;
		font-size: 0;
		line-height: 0;
	}
	.output-item-modifier {
		display: inline-block;
		.icon {
			display: block;
			padding: 5px;
			background: @color-orange-1;
			font-size: 30px;
			line-height: 1em;
			color: #000;
			font-weight: 900;
		}
	}
	.output-item-button {
		.btn-main {
			background: #fff;
			font-weight: 500;
			&:active {
				box-shadow: none;
			}
		}
	}
	.filter-view-notes {
		display: none;
	}
	.output-item-menu {
		display: none;
	}
	.dropdown-menu-right {
		left: 0;
	}
}

@media (min-width: @vw-iphone-land) {
	.section-product-filter {
		.filter-view {
			display: block;
			margin: 0 0 20px;
			text-align: center;
			.btn-view {
				width: 40px;
				height: 40px;
				padding: 8px 8px 0 7px;
				border-radius: 50%;
				text-align: center;
				font-size: 23px;
				line-height: 1em;
				box-shadow: none;
				&:link, &:visited, &:hover {
					color: @color-blue-1;
					text-decoration: none;
				}
				&:hover, &.active {
					background: @color-blue-1;
					color: #fff;
				}
			}
		}
		.filter-more {
			margin: 0;
		}
		.filter-buttons {
			max-width: none;
			margin: 0 0 30px;
		}
		.filter-output {
			padding: 0 15px;
			text-align: center;
		}
		.output-item {
			display: inline-block;
			vertical-align: top;
			margin: 0 0 40px;
			padding: 0 12px;
			width: 267px;
			text-align: left;
		}
		.output-item-image {}
		.output-item-image-cnt {
			img {
				max-width: 100%;
				width: auto;
				height: auto;
			}
		}
		.output-item-buttons {
			width: 100%;
		}
		.output-item-text {
			padding: 0 10px;
		}
		.output-item-header {
			margin: 10px 0 0;
		}
		.output-item-name {
			font-size: 20px;
		}
		.output-item-feature {
			font-size: 14px;
		}
		.output-item-price {
			margin: 5px 0 10px;
			font-size: 18px;
		}
		.output-item-modifiers {
			width: 100%;
		}

		.dropdown-menu-right {
			left: auto;
		}

		.filter-output--list {
			.output-item {
				display: block;
				width: 100%;
				margin: 0 0 35px;
				padding: 0;
				position: relative;
				text-align: left;
			}
			.output-item-image {
				display: table-cell;
				vertical-align: top;
				/*width: 35%;*/
				position: static;
			}
			.output-item-text {
				display: table-cell;
				vertical-align: top;
				width: 65%;
				padding: 0 0 0 15px;
			}
			.output-item-buttons {
				width: auto;
				background: none;
				left: auto;
				right: 0;
				top: 0;
				bottom: auto;
				z-index: 1;
				.btn-more {
					display: none;
				}
				.dropdown-toggle {
					background: none;
					padding: 3px;
					color: @color-default;
				}
			}
			.output-item-header {
				margin: 0;
				padding: 0 45px 0 0;
			}
			.output-item-image-cnt {
				padding-top: 3px;
			}
			.output-item-modifiers {
				padding-top: 3px;
				text-align: left;
			}
			.output-item-rating {
				margin: 0 0 5px;
			}
			.output-item-name {
				font-size: 22px;
			}
			.output-item-price {
				margin: 0 0 15px;
				font-size: 16px;
			}
		}
	}
}
@media (min-width: @vw-iphone-5-land) {
	.section-product-filter {
		.filter-output--list {
			.output-item-header {
				padding-right: 60px;
			}
			.output-item-rating {
				margin: 0 0 10px;
			}
			.output-item-name {
				font-size: 26px;
			}
			.output-item-param,
			.output-item-price {
				font-size: 20px;
				line-height: 1.5em;
			}
			.output-item-price {
				margin: 0 0 20px;
			}
			.output-item-buttons {
				.dropdown-toggle {
					font-size: 30px;
				}
			}
		}
	}
}
@media (min-width: @vw-tablet-sm) {
	.section-product-filter {
		.filter-header {
			margin: 0 0 30px;
			padding: 30px 30px 10px;
			text-align: left;
		}
		.filter-header-left {
			width: 50%;
			float: left;
		}
		.filter-header-right {
			width: 50%;
			float: left;
			text-align: right;
		}
		.output-item {
			width: 367px;
			text-align: center;
		}
		.output-item-name {
			font-size: 30px;
		}
		.output-item-feature {
			font-size: 16px;
		}
		.output-item-price {
			margin: 10px 0 15px;
			font-size: 20px;
		}

		.filter-output--list {
			padding: 0;
			.output-item {
				margin: 0;
				padding: 30px;
				border-top: 1px solid @color-grey-4;
				&:nth-of-type(odd) {
					background: @color-grey-5;
				}
			}
			.output-item-text {
				padding-left: 30px;
			}
			.output-item-buttons {
				padding: 25px 20px 0 0;
				.dropdown-toggle {
					padding: 5px 8px;
				}
			}
			.output-item-name {
				font-size: 30px;
			}
			.output-item-modifiers {
				padding: 30px 0 0 30px;
			}
			.output-item-image-cnt {
				padding: 3px;
				border: 1px solid @color-grey-4;
				background: #fff;
				border-radius: 3px;
			}
		}
	}
}
@media (min-width: @vw-tablet-lg) {
	.section-product-filter {
		.filter-header {
			padding: 30px 15px 10px;
		}
		.filter-header-left {
			width: 60%;
		}
		.filter-header-right {
			width: 40%;
		}
		.header-h1 {
			max-width: 70%;
			margin: 0 0 10px;
			padding: 0 20px 0 0;
		}
		.header-count {
			max-width: 30%;
			margin: 0 0 10px;
		}
		.filter-main,
		.filter-more {
			float: left;
		}
		.filter-main {
			width: 43%;
			margin: 0 7% 0 0;
		}
		.filter-more {
			width: 43%;
			margin: 0 0 0 7%;
		}
		.filter-buttons {
			margin: -80px 0 20px;
			.btn {
				width: 192px;
				margin: 0;
				text-transform: uppercase;
			}
			.btn-advanced {
				font-size: 15px !important;
				font-weight: 400 !important;
				border-width: 1px;
			}
			.btn-submit {
				margin-right: 10px;
			}
		}
		.filter-buttons-cnt {
			width: 43%;
			float: right;
		}

		.filter-output--list {
			.output-item-buttons {
				display: none;
			}
			.output-item-image-cnt {
				padding: 5px;
				border-radius: 5px;
			}
			.output-item-image {
				width: 30%;
			}
			.output-item-text {
				width: 45%;
				padding-left: 50px;
			}
			.output-item-menu {
				display: table-cell;
				width: 25%;
				vertical-align: top;
			}
			.output-item-menu-cnt {
				margin: 0;
				padding: 0 0 0 30px;
				> li {
					display: block;
					margin: 0 0 12px;
					padding: 0;
				}
				.btn {
					display: block;
					width: 100%;
					background: #fff;
					border: 0 none;
					border-bottom: 1px solid rgba(255,255,255,.75);
					border-radius: 3px;
					box-shadow: 0 1px 5px rgba(0,0,0,.3);
					padding: 12px 20px 11px;
					font: 17px/1em @font-condensed;
					text-transform: uppercase;
					&:link, &:visited, &:hover {
						color: @color-default;
						text-decoration: none;
					}
					&:hover {
						color: #000;
						box-shadow: 0 1px 5px rgba(0,0,0,.5);
					}
					&.btn-primary {
						background: @color-blue-1;
						&:link, &:visited, &:hover {
							color: #fff;
						}
					}
				}
			}
		}
	}
}
@media (min-width: @vw-laptop-sm) {
	.section-product-filter {
		.filter-header {
			margin: 0 0 20px;
			padding: 40px 10px 10px 0;
		}
		.filter-view {
			text-align: left;
		}
		.filter-output {
			margin: 0 0 50px;
			padding: 0;
		}
		.filter-view-notes {
			display: inline-block;
			float: right;
			background: @color-orange-1;
			padding: 10px;
			border: 2px solid #000;
			color: #000;
			font-size: 14px;
			line-height: 1.1em;
			.icon {
				display: inline-block;
				vertical-align: top;
				margin: 0 10px 0 0;
				padding: 5px 0 0;
				font-size: 30px;
				font-weight: 900;
			}
			.text {
				display: inline-block;
				vertical-align: top;
				margin: 0;
				> b {
					display: block;
				}
			}
		}
		.output-item {
			width: 220px;
			margin: 0 6px;
			padding: 0;
			border-bottom: 1px solid #fff;
			transition: box-shadow .2s;
			&:hover {
				background: #fff;
				box-shadow: 0 2px 10px rgba(0,0,0,.2);
			}
			&:first-child, &:nth-of-type(n+5) {
				margin-left: 0;
			}
			&:nth-of-type(n+4) {
				margin-right: 0;
			}
		}
		.output-item-header {
			margin: 15px 0 0;
		}
		.output-item-name {
			font-size: 19px;
		}
		.output-item-feature {
			font-size: 13px;
			margin-left: 3px;
		}
		.output-item-param {
			font-size: 15px;
		}
		.output-item-price {
			margin: 10px 0 15px;
			font-size: 15px;
		}
		.output-item-text {
			padding: 0 5px;
		}
		.output-item-buttons {
			transition: background .2s, opacity .2s;
			opacity: 0;
		}
		.dropdown-toggle {
			&:hover {
				background: none;
			}
		}
		.output-item-buttons {
			bottom: -1px;
			.btn-more:hover {
				color: @color-grey-4;
			}
		}
		.output-item-button {
			margin: 20px -5px 0;
			.btn-main {
				width: 100%;
				padding: 10px 0;
				border: 0 none;
				background: none;
				border-radius: 0;
				transition: background .2s, color .2s;
				&:hover {
					border: 0 none;
					background: none;
				}
			}
		}
		.output-item {
			&:hover {
				.output-item-buttons {
					opacity: 1;
				}
				.output-item-button {
					.btn-main {
						background: @color-blue-1;
						color: #fff;
						&:hover {
							background: lighten(@color-blue-1, 5%);
						}
					}
				}
			}
		}

		.filter-output--list {
			.output-item-menu-cnt {
				.btn {
					transition: box-shadow .2s, color .2s;
				}
			}
			.output-item-button {
				margin: 15px 0 0;
				.btn-main {
					width: auto;
					padding: 0;
					background: none;
					color: @color-blue-1;
				}
			}
			.output-item:hover {
				.output-item-button {
					.btn-main {
						background: none;
						color: @color-blue-1;
						&:hover {
							color: @color-blue-3;
						}
					}
				}
			}
		}
	}
}