.bootstrap-select.btn-group {
	&.show-tick .dropdown-menu li {
		&.selected a span.check-mark {
			margin-top: 0;
			font: normal normal normal 20px/1 'Material Design Iconic Font';
			speak: none;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			&:before {
				content: "\f299";
			}
		}
	}
}