.auth-block {
	position: absolute;
	right: 20px;
	top: 55px;
	z-index: 1020;
	.login, .reg {
		padding: 0 0 0 10px;
		font: 15px/1em @font-condensed;
		text-transform: uppercase;
		text-shadow: 0 1px 0 #fff;
		&, &:visited {
			color: @color-blue-1;
			text-decoration: none;
		}
		&:hover {
			color: @color-blue-2;
			text-decoration: none;
		}
	}
	.login {}
	.reg {}
}