@breadcrumbs-height: @mobile-top-menu-height;

.breadcrumbs {
	position: fixed;
	left: 0;
	top: @mobile-top-menu-height;
	width: 50%;
	height: @breadcrumbs-height;
	overflow: hidden;
	text-align: center;
	z-index: 1005;
	ul {
		display: none;
	}
}
.breadcrumbs-open-services {
	display: flex;
	align-items: stretch;
	height: @breadcrumbs-height;
	background: #f9f9f9;
	background: linear-gradient(to bottom, #fff, #f0f0f0);
	cursor: pointer;
	border-right: 1px solid #fff;
	&:hover {
		background: linear-gradient(to bottom, #fff, #e4e4e4);
	}
	.icon {
		flex: 1 1 0;
		align-self: center;
		color: @color-blue-1;
		font-family: @font-condensed;
		font-size: 18px;
		line-height: 1em;
		text-transform: uppercase;
		i {
			vertical-align: bottom;
		}
	}
	.icon-close {
		display: none;
	}
	&.active {
		background: @color-blue-1;
		.icon {
			color: #fff;
		}
		.icon-close {
			display: inline-block;
		}
		.icon-normal {
			display: none;
		}
	}
}

@media (min-width: @vw-tablet-sm) {
	.breadcrumbs-open-services {
		.icon {
			font-size: 21px;
		}
	}
}
@media (min-width: @vw-tablet-lg) {
	@breadcrumbs-height: @top-menu-height;
	.breadcrumbs {
		top: @top-menu-height;
	}
}
@media (min-width: @vw-laptop-sm) {
	.breadcrumbs {
		width: 100% !important;
		padding-right: 310px;
		z-index: 1040;
		position: relative;
		left: 0;
		top: 0;
		text-align: left !important;
		ul {
			display: inline-block;
			margin: 0;
			padding: 0;
			overflow: hidden;
			vertical-align: top;
			li {
				display: inline-block;
				margin: 0 0 0 10px;
				a, span {
					display: inline-block;
					padding: 12px 0 0 15px;
					vertical-align: top;
					position: relative;
					&:before {
						.arrow-before(5px, currentColor, left);
						left: 0;
						margin-top: 0;
					}
					&, &:link, &:visited, &:hover {
						color: @color-blue-1;
						text-decoration: none;
					}
					&:hover {
						color: @color-blue-2;
					}
				}
			}
		}
	}
	.breadcrumbs-open-services {
		display: inline-block;
		height: @breadcrumbs-height;
		vertical-align: top;
		.icon {
			padding: 0 20px;
			background: @color-blue-1;
			font-size: 18px;
			color: #fff;
			line-height: @breadcrumbs-height;
			transition: background .2s;
			&:hover {
				background: darken(@color-blue-1, 5%);
			}
			i {
				vertical-align: middle;
				margin-top: -4px;
				font-size: 1.4em;
			}
		}
	}
	.breadcrumbs-cnt {
		white-space: nowrap;
		overflow: hidden;
	}
}