* {
	box-sizing: border-box;
}
body {
	background: #fff;
	font: 16px/1.5em @font-default;
	min-width: @vw-iphone;
}
.section-cnt {
	max-width: @vw-laptop-sm;
	margin: 0 auto;
}
.relative {
	position: relative;
}