* {
	box-sizing: border-box;
}
body {
	background: #fff;
	font: 16px/1.5em @font-default;
	color: @color-default;
	min-width: @vw-iphone;
	-webkit-text-size-adjust: none;
}
.section-cnt {
	max-width: @vw-laptop-sm - 40px;
	margin: 0 auto;
}
.relative {
	position: relative;
}
.fl {
	float: left;
}
.r {
	text-align: right;
}
.l {
	text-align: left;
}
.c {
	text-align: center;
}

.stabfort-logo {
	width: 185px;
	height: 45px;
	> a {
		display: block;
	}
}

@media (min-width: @vw-laptop-sm) {
	html, body {
		height: 100%;
	}
	body {
		display: table;
		width: 100%;
	}
	.wrapper {
		display: table-row-group;
	}
}