@media (min-width: @vw-laptop-sm) {
	.fixed-nav {
		position: fixed;
		left: 0;
		top: @top-menu-height;
		width: 100%;
		height: @breadcrumbs-height;
		background: #fff;
		box-shadow: 0 1px 12px rgba(0,0,0,.3);
		.section-cnt {
			padding: 0 !important;
		}
	}
}