@inputs: ~'[type="text"], [type="search"], [type="email"], [type="tel"], [type="password"]';

label {
	font-weight: inherit;
}
@{inputs}, textarea, select {
	font-family: @font-condensed;
}
label, .form-control {
	width: 100%;
}
textarea {
	resize: vertical;
}
[type="file"] {
	max-width: 100%;
	font-size: .9em;
}
.form-control-static {
	margin: 0;
}