@import (reference) "top-menu.less";

.main {
	padding-top: @mobile-top-menu-height * 2;
}
.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1020;
}
.header-shadow {
	position: fixed;
	width: 100%;
	height: @mobile-top-menu-height * 2;
	left: 0;
	top: 0;
	box-sizing: content-box;
	background: #fff;
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 12px rgba(0,0,0,.3);
	z-index: 1;
}

@media (min-width: @vw-tablet-lg) {
	.main {
		padding-top: @top-menu-height + @breadcrumbs-height;
	}
	.header-shadow {
		height: @top-menu-height + @breadcrumbs-height;
	}
}
@media (min-width: @vw-laptop-sm) {
	.header-shadow {
		display: none;
	}
	.section-cnt {
		padding-right: 310px;
	}
}