.header {

}
.header-cnt {
	position: relative;
	max-width: @vw-laptop-sm;
	margin: 0 auto;
}

.logo {
	width: 185px;
	height: 45px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1010;
	> a {
		display: block;
	}
}