.home-advantages-providers {
	background: @color-blue-1 url(../img/office_bg_blue.jpg) no-repeat center top;
	background-size: auto 100%;
	padding: 40px 0 20px;
	text-align: center;
	color: #fff;
	.section-cnt {

	}
	.title {
		margin: 0 0 1em;
		font-size: 22px;
		line-height: 1.5em;
		font-weight: 500;
		color: #fff;
	}
	.text-cols {
		text-align: center;
		border-bottom: 2px solid #fff;
	}
	.text-col {
		margin: 0 0 20px;
		padding: 0 4%;
		font-size: 15px;
		line-height: 1.5em;
		color: #fff;
	}
	.text {
		margin: 20px 0;
		padding: 0 4%;
		font-size: 18px;
		line-height: 1.5em;
		color: #fff;
	}
	.cols {
		margin: 50px 0 20px;
		padding: 0 4%;
		color: #fff;
		text-align: center;
	}
	.col {
		margin: 0 0 20px;
		padding: 0;
	}
	.col-icon {
		display: block;
		font-size: 100px;
		line-height: 1em;
	}
	.col-title {
		display: block;
		font-size: 24px;
		line-height: 1.5em;
		font-weight: 600;
		text-transform: uppercase;
	}
	.col-text {
		display: block;
		font-size: 18px;
		line-height: 1.5em;
	}
}

@media (min-width: @vw-iphone-land) {
	.home-advantages-providers {

	}
}
@media (min-width: @vw-iphone-5-land) {
	.home-advantages-providers {
		.title {
			margin: 0 0 .5em;
			font-size: 40px;
			line-height: 1.5em;
			font-weight: 900;
		}
		.text-cols {
			padding-bottom: 20px;
		}
		.text-col {
			margin: 0 0 20px;
			padding: 0 4%;
			font-size: 20px;
			line-height: 1.3em;
		}
		.text {
			margin: 30px 0;
			padding: 0 4%;
			font-size: 24px;
			line-height: 1.4em;
		}
		.cols {
			margin: 20px 0;
			padding: 0;
		}
		.col {
			width: 33%;
			float: left;
			margin: 0;
			padding: 0 15px;
		}
		.col-icon {
			font-size: 60px;
			line-height: 1em;
		}
		.col-title {
			margin: 5px 0;
			font-size: 21px;
			line-height: 1.1em;
			font-weight: 600;
		}
		.col-text {
			margin: 10px 0 0;
			font-size: 15px;
			line-height: 1.2em;
		}
	}
}
@media (min-width: @vw-tablet-sm) {
	.home-advantages-providers {
		.title {
			margin: 0 0 .5em;
			font-size: 55px;
			line-height: 1.5em;
			font-weight: 900;
		}
		.text-cols {
			padding-bottom: 40px;
			border-bottom-width: 4px;
		}
		.text-col {
			margin: 0 0 20px;
			padding: 0 4%;
			font-size: 20px;
			line-height: 1.3em;
		}
		.text {
			margin: 50px 0 30px;
			padding: 0 4%;
			font-size: 32px;
			line-height: 1.2em;
			font-weight: 300;
			b {
				font-weight: 900;
			}
		}
		.cols {
			margin: 40px 0 20px;
			padding: 0;
		}
		.col {
			width: 33%;
			float: left;
			margin: 0;
			padding: 0 15px;
		}
		.col-icon {
			font-size: 100px;
			line-height: 1em;
		}
		.col-title {
			margin: 5px 0;
			font-size: 30px;
			line-height: 1.1em;
			font-weight: 900;
		}
		.col-text {
			margin: 10px 0 0;
			font-size: 18px;
			line-height: 1.2em;
		}
	}
}
@media (min-width: @vw-tablet-lg) {
	.home-advantages-providers {
		.title {
			margin: 0 0 .5em;
			font-size: 55px;
			line-height: 1.5em;
			font-weight: 900;
		}
		.text-cols {
			width: @vw-tablet-lg;
			margin: 0 auto 30px;
			padding: 0 0 0 6%;
			border-bottom: 0 none;
		}
		.text-col {
			width: 31%;
			float: left;
			margin: 0;
			padding: 0 20px;
			font-size: 18px;
			line-height: 1.3em;
		}
		.text {
			margin: 30px 0;
			padding: 0;
			font-size: 28px;
			line-height: 1.2em;
			font-weight: 300;
		}
		.cols {
			margin: 40px 0 20px;
			padding: 0;
		}
		.col {
			width: 33%;
			float: left;
			margin: 0;
			padding: 0 15px;
		}
		.col-icon {
			font-size: 140px;
			line-height: 1em;
		}
		.col-title {
			margin: 5px 0;
			font-size: 27px;
			line-height: 1.1em;
		}
		.col-text {
			margin: 10px 0 0;
			font-size: 18px;
			line-height: 1.2em;
		}
	}
}
@media (min-width: @vw-laptop-sm) {
	.home-advantages-providers {
		background-size: cover;
		padding: 60px 0;
		.text {
			margin: 50px 0;
			font-size: 32px;
		}
		.col-title {
			margin: 5px 0;
			font-size: 30px;
			line-height: 1.1em;
		}
		.cols {
			width: @vw-laptop-sm;
			margin: 40px auto 20px;
			padding: 0 50px;
		}
		.col {
			margin: 0;
			padding: 0 25px;
		}
	}
}