.home-carousel {
	background: rgba(0,172,187,.5) repeat-y 46px 0;
	position: relative;
	margin: 50px 0 0;
	&:before {
		content: "";
		display: none;
		width: 50%;
		height: 1px;
		background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
		position: absolute;
		left: 0;
		top: 0;
	}
	&:after {
		content: "";
		display: none;
		width: 100%;
		height: 95px;
		background: url(../img/rounded_shadow.png) no-repeat center top;
		position: absolute;
		left: 0;
		bottom: -95px;
	}
}

.slide-content {
	width: @vw-iphone;
	margin: 0 auto;
	padding: 20px 10px;
	text-align: center;
	height: 322px;
	transition: opacity .1s;
	.btn {
		.btn-luminous-blue();
		width: 100%;
		max-width: 500px;
		padding: .7em .3em;
		font-size: 13px;
		font-weight: 300;
		text-shadow: none;
	}
}

.slide-content-type-1 {
	color: #fff;
	.h1 {
		margin: 0 0 .3em;
		font-size: 25px;
		line-height: 1em;
		font-weight: 700;
		text-shadow: 0 -1px 0 rgba(0,0,0,.1);
		text-transform: uppercase;
		white-space: nowrap;
	}
	.h2 {
		margin: 0 0 1.5em;
		font-size: 16px;
		line-height: 1.3em;
		font-weight: 400;
	}
	.list {
		margin: 0;
		padding: 0;
		> li {
			display: block;
			margin: 0 30px 20px 30px;
			padding: 0 0 0 30px;
			position: relative;
			font-size: 14px;
			line-height: 1.2em;
			text-align: left;
			> i {
				position: absolute;
				left: -.4em;
				top: 0;
				font-size: 30px;
			}
			nobr {
				white-space: normal;
			}
		}
	}
}

.slide-content-type-2 {
	color: #fff;
	.h1 {
		margin: 0 0 1em;
		font-size: 18px;
		line-height: 1.3em;
		font-weight: 300;
		text-shadow: 0 -1px 0 rgba(0,0,0,.1);
		text-transform: uppercase;
		b {
			font-weight: 700;
			font-size: 24px;
		}
	}
	.list {
		margin: 0 0 25px;
		font-size: 0;
		line-height: 0;
		overflow: hidden;
	}
	.list-item {
		display: inline-block;
		margin: 0 2px 2px 0;
		padding: 3px 5px;
		vertical-align: top;
		//background: #fff;
		border: 1px solid #fff;
		color: #fff;
		font-size: 11px;
		line-height: 1em;
		text-transform: uppercase;
		font-weight: 600;
		white-space: nowrap;
	}
}

@media (min-width: @vw-iphone-land) {
	.slide-content {
		width: auto;
		height: 390px;
		max-width: @vw-iphone-5-land;
		padding: 20px 50px;
		.btn {
			font-size: 15px;
		}
	}
	.slide-content-type-1 {
		.h1 {
			font-size: 30px;
			line-height: 1em;
		}
		.h2 {
			font-size: 22px;
			line-height: 1.3em;
		}
		.list > li {
			padding-left: 40px;
			margin-left: 45px;
			font-size: 18px;
			> i {
				font-size: 40px;
			}
		}
	}
	.slide-content-type-2 {
		.h1 {
			margin: 0 0 1.2em;
			font-size: 23px;
			line-height: 1.3em;
			b {
				font-size: 35px;
			}
		}
		.list {
			margin: 0 0 25px;
		}
		.list-item {
			margin: 0 2px 2px 0;
			padding: 3px 5px;
			border: 1px solid #fff;
			color: #fff;
			font-size: 14px;
			line-height: 1em;
			font-weight: 600;
		}
	}
}
@media (min-width: @vw-iphone-5-land) {
	.slide-content {
		max-width: none;
		height: 480px;
		padding: 40px 60px;
		.btn {
			font-size: 18px;
		}
	}
	.slide-content-type-1 {
		.h1 {
			font-size: 36px;
			line-height: 1em;
		}
		.h2 {
			font-size: 26px;
			line-height: 1.3em;
		}
		.list > li {
			padding: 0;
			margin: 0 0 20px;
			text-align: center;
			font-size: 24px;
			font-weight: 300;
			> i {
				font-size: 1em;
				position: static;
			}
		}
	}
	.slide-content-type-2 {
		.h1 {
			margin: 0 0 1.2em;
			font-size: 27px;
			line-height: 1.3em;
			b {
				font-size: 42px;
			}
		}
		.list {
			margin: 0 0 25px;
		}
		.list-item {
			margin: 0 3px 3px 0;
			padding: 3px 5px;
			border: 1px solid #fff;
			color: #fff;
			font-size: 17px;
			line-height: 1em;
			font-weight: 600;
		}
	}
}
@media (min-width: @vw-tablet-sm) {
	.slide-content-type-2 {
		padding-top: 115px;
		text-align: left;
		.h1 {
			margin: 0 0 .3em;
			font-size: 30px;
			line-height: 1.3em;
			b {
				font-size: 48px;
				font-weight: 500;
			}
		}
		.list {
			margin: 0 0 15px;
		}
		.list-item {
			margin: 0 3px 3px 0;
			padding: 3px 5px;
			border: 0 none;
			background: #fff;
			color: #74c9d0;
			font-size: 14px;
			line-height: 1em;
			font-weight: 600;
		}
		.btn {
			width: auto;
			padding-left: 1em;
			padding-right: 1em;
		}
	}
}
@media (min-width: @vw-laptop-sm) {
	.home-carousel {
		background-image: url(../img/carousel_bg.png);
		margin: 0;
		&:before, &:after {
			display: block;
		}
	}
	.slide-content {
		width: 50%;
		height: 476px;
		margin: 0;
		text-align: left;
		.h1 {
			margin: 0;
			font-size: 48px;
			line-height: 1.2em;
		}
		.h2 {
			margin-bottom: 1em;
			font-size: 25px;
			line-height: 1.1em;
		}
		.list > li {
			margin: 0 0 20px 20px;
			padding: 0 50px 0 40px;
			text-align: left;
			font-size: 25px;
			line-height: 1em;
			font-weight: 400;
			> i {
				font-size: 2em;
				position: absolute;
				top: 50%;
				margin-top: -.5em;
				&.md-chat {
					margin-top: -.3em;
				}
			}
			nobr {
				white-space: nowrap;
			}
		}
		.btn {
			.btn-luminous-blue();
			width: auto;
			padding: 10px 20px;
			font-size: 21px;
			font-weight: 500;
			text-shadow: 0 -1px 0 rgba(0,0,0,.25);
		}
	}
	.slide-content-type-1 {
		padding-top: 50px;
	}
	.slide-content-type-1-1 {
		.list > li {
			margin-bottom: 32px;
		}
	}
	.home-carousel {
		.slide {

		}
	}
	.slide-content-type-2 {
		padding-top: 115px;
		text-align: left;
		.h1 {
			margin: 0 0 .3em;
			font-size: 30px;
			line-height: 1.3em;
			b {
				font-size: 48px;
				font-weight: 500;
			}
		}
	}
}