.home-intro {
	background: url("../img/home_bg.jpg") no-repeat 50% 0;
	background-size: auto 500px;
}

/*@media (min-width: @vw-iphone-5-land) {
	.home-intro {
		background-size: cover;
	}
}*/
@media (min-width: @vw-tablet-lg) {
	.home-intro {
		background-size: cover;
	}
}