.home-services {
	.section-cnt {
		padding: 15px 0;
	}
	.services-filter {}
	.services-list {}
	.title {
		background: @color-blue-1;
		margin: 0 auto;
		padding: 10px 0;
		max-width: @vw-iphone-5-land;
		position: relative;
		font-size: 16px;
		line-height: 1em;
		font-weight: 700;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		&:after {
			content: "";
			position: absolute;
			left: 50%;
			bottom: -11px;
			margin-left: -4px;
			.arrow(6px, @color-blue-1, top);
		}
	}
	.home-services-more {
		display: inline-block;
		margin: 10px 0;
		color: @color-blue-1;
		font-size: 18px;
		letter-spacing: 2px;
		text-transform: uppercase;
		cursor: pointer;
		> b {
			font-weight: 500;
			border-bottom: 2px dotted currentColor;
		}
		&:hover {
			> b {
				border-bottom-color: transparent;
			}
		}
		.icon-more, .icon-less {
			font-size: 1.5em;
			vertical-align: text-top;
		}
		.icon-less {
			display: none;
		}
		&.triggered {
			.icon-less {
				display: inline;
			}
			.icon-more {
				display: none;
			}
		}
	}
}

@media (min-width: @vw-iphone-land) {
	.home-services {
		.title {
			padding: 15px 0;
			font-size: 22px;
			letter-spacing: 1px;
			&:after {
				border-width: 9px;
				bottom: -17px;
				margin-left: -6px;
			}
		}
		.home-services-more {
			font-size: 22px;
		}
	}
}
@media (min-width: @vw-tablet-sm) {
	.home-services {
		.section-cnt {
			margin-top: -50px;
			padding: 0 0 30px;
		}
		.title {
			padding: 15px 0;
			font-size: 27px;
			&:after {
				border-width: 10px;
				bottom: -20px;
				margin-left: -8px;
			}
		}
		.home-services-more {
			margin: 30px 0;
		}
	}
}