.home-advantages-customers {
	position: relative;
	background: @color-green-1 url(../img/office_bg.jpg) no-repeat center -300px;
	padding: 60px 0 40px;
	text-align: center;
	color: #fff;
	.section-cnt {
		max-width: 1100px;
	}
	.title {
		margin: 0 0 1em;
		font-size: 40px;
		font-weight: 300;
		line-height: 1.2em;
		text-transform: uppercase;
	}
	.cols {
		margin: 0 0 50px;
	}
	.col {

	}
	.col-icon {
		display: block;
		font-size: 140px;
	}
	.col-title {
		display: block;
		margin: 5px 0 0;
		font-size: 40px;
		line-height: 1em;
		font-weight: 900;
		text-transform: uppercase;
	}
	.col-text {
		display: block;
		margin: 5px 0 0;
		font-size: 18px;
		line-height: 1.2em;
	}
	.text {
		font-size: 30px;
		font-weight: 300;
		line-height: 1.5em;
		b {
			font-weight: 900;
		}
	}
}

@media (min-width: @vw-tablet-lg) {
	.col {
		width: 33%;
		float: left;
		padding: 0 45px;
	}
}