.home-advantages-providers-icons {
	background: #e4fdff;
	color: @color-blue-3;
	.section-cnt {
		padding: 40px 0;
		background: #fff;
		background: linear-gradient(to right, #e4fdff, #fff, #e4fdff);
	}
	.title {
		text-align: center;
		font-size: 16px;
		> b {
			display: block;
			font-size: 24px;
			text-transform: uppercase;
			font-weight: 900;
		}
	}
	.advantages {
		width: @vw-iphone;
		margin: 30px auto;
		padding: 0 15px 0 8px;
	}
	.advantage {
		margin: 0 0 20px;
		padding: 0 0 0 35px;
		position: relative;
	}
	.advantage-icon {
		position: absolute;
		left: 0;
		top: 0;
		font-size: 30px;
	}
	.advantage-title {
		margin: 0 0 5px;
		font-size: 18px;
		line-height: 1em;
		text-transform: uppercase;
		font-weight: 500;
	}
	.advantage-text {
		font-size: 14px;
		line-height: 1.3em;
	}
	.buttons {
		margin: 20px 0 0;
		text-align: center;
	}
	.btn {
		.flat-button(@color-blue-3, 20px);
		display: inline-block;
		margin: 0;
		padding: 10px 20px;
		font-weight: 900;
		text-shadow: none;
		text-transform: uppercase;
	}
}

@media (min-width: @vw-iphone-land) {
	.home-advantages-providers-icons {
		.title {
			text-align: center;
			font-size: 22px;
			font-weight: 300;
			> b {
				display: block;
				font-size: 32px;
				text-transform: uppercase;
				font-weight: 900;
			}
		}
		.advantages {
			width: @vw-android;
			margin: 50px auto 0;
			padding: 0;
		}
		.advantage {
			margin: 0 0 20px;
			padding: 0 0 0 45px;
		}
		.advantage-icon {
			font-size: 34px;
		}
		.advantage-title {
			margin: 0 0 5px;
			font-size: 20px;
			line-height: 1em;
			font-weight: 600;
		}
		.advantage-text {
			font-size: 16px;
			line-height: 1.3em;
		}
	}
}
@media (min-width: @vw-iphone-5-land) {
	.home-advantages-providers-icons {
		.advantages {
			width: 100%;
			margin: 50px auto 0;
			padding: 0 5px 0 15px;
		}
		.advantage {
			width: 50%;
			float: left;
			margin: 0 0 30px;
			padding: 0 15px 0 35px;
			&:nth-of-type(2n+3) {
				clear: both;
			}
		}
		.advantage-icon {
			font-size: 30px;
		}
		.advantage-title {
			margin: 0 0 5px;
			font-size: 18px;
			line-height: 1em;
			font-weight: 600;
		}
		.advantage-text {
			font-size: 14px;
			line-height: 1.3em;
		}
	}
}
@media (min-width: @vw-iphone-6-land) {
	.home-advantages-providers-icons {
		.advantages {
			margin: 50px auto 0;
			padding: 0 10px 0 15px;
		}
		.advantage {
			margin: 0 0 30px;
			padding: 0 20px 0 40px;
		}
		.advantage-icon {
			font-size: 34px;
		}
		.advantage-title {
			margin: 0 0 5px;
			font-size: 20px;
			line-height: 1em;
			font-weight: 600;
		}
		.advantage-text {
			font-size: 16px;
			line-height: 1.3em;
		}
	}
}
@media (min-width: @vw-tablet-sm) {
	.home-advantages-providers-icons {

	}
}
@media (min-width: @vw-tablet-lg) {
	.home-advantages-providers-icons {
		.title {
			font-size: 30px;
			> b {
				font-size: 48px;
				line-height: 1em;
			}
		}
		.advantage {
			width: 33%;
			margin: 0 0 30px;
			padding: 0 20px 0 35px;
			&:nth-of-type(2n+3) {
				clear: none;
			}
			&:nth-of-type(3n+4) {
				clear: both;
			}
		}
		.advantage-icon {
			font-size: 30px;
		}
		.advantage-title {
			margin: 0 0 5px;
			font-size: 20px;
			line-height: 1.2em;
			font-weight: 600;
		}
		.advantage-text {
			font-size: 16px;
			line-height: 1.3em;
		}
	}
}
@media (min-width: @vw-laptop-sm) {
	.home-advantages-providers-icons {
		.section-cnt {
			padding: 60px 0;
		}
		.advantages {
			width: @vw-laptop-sm - 40px;
			padding: 0 35px;
		}
		.advantage {
			margin: 0 0 30px;
			padding: 0 20px 0 50px;
		}
		.advantage-icon {
			font-size: 40px;
			color: @color-blue-2;
		}
		.advantage-title {
			margin: 0 0 5px;
			font-size: 20px;
			line-height: 1.2em;
			font-weight: 700;
			color: @color-blue-2;
		}
		.advantage-text {
			font-size: 18px;
			line-height: 1.4em;
		}
	}
}