.infographic-how-we-work {
	.infographic-cnt {}
	.infographic-title {
		margin: 0 0 20px;
		.title {
			display: inline-block;
			vertical-align: top;
			font: 300 30px/1em @font-condensed;
			text-transform: uppercase;
		}
		.btn {
			display: inline-block;
			vertical-align: top;
			margin: 0 0 0 15px;
			padding: 4px 12px 4px 10px;
			border: 2px solid @color-grey-4;
			border-radius: 3px;
			font-size: 13px;
			line-height: 1.2em;
			text-transform: uppercase;
			font-weight: 600;
			transition: background .2s, color .2s, border-color .2s;
			&:link, &:visited, &:hover {
				color: @color-default;
				text-decoration: none;
			}
			&:hover {
				background: @color-default;
				border-color: @color-default;
				color: #fff;
			}
			.icon {
				color: @color-red-1;
				vertical-align: top;
				font-size: 1.15em;
			}
		}
		.link {
			margin: 0 0 0 15px;
			font-size: 14px;
			&:link, &:visited {
				text-decoration: none;
			}
			&:hover {
				text-decoration: underline;
			}
			.icon {
				margin-right: 3px;
				vertical-align: middle;
			}
		}
	}
	.infographic-content {
		display: table;
		width: 100%;
		border-collapse: collapse;
		border: 1px solid @color-grey-4;
		border-top: 0 none;
		border-radius: 0 0 3px 3px;
		cursor: default;
		box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
		.col {
			display: table-cell;
			width: 25%;
			//padding: 10px 15px 15px;
			vertical-align: middle;
			border-top: 3px solid;
			border-right: 1px solid #f1f1f1;
			text-align: center;
			background: #fff;
			//transition: box-shadow .3s 1s, background .3s 1s;
			&:hover {
				//background: linear-gradient(to bottom, #fff, #f7f6f6);
				/*.col-text {
					color: @color-default;
				}*/
				.arrow {
					color: #fff;
					background: #A3BBBD;
					border-color: #A3BBBD;
				}
			}
			&:first-child {
				border-top-color: #4EDE86;
				/*&:hover {
					box-shadow: 0 2px 10px fade(#4EDE86, 40%);
				}*/
				.col-icon {
					color: #4EDE86;
				}
			}
			&:nth-of-type(2) {
				border-top-color: #7991E4;
				/*&:hover {
					box-shadow: 0 2px 10px fade(#7991E4, 40%);
				}*/
				.col-icon {
					color: #7991E4;
				}
			}
			&:nth-of-type(3) {
				border-top-color: #AE58DC;
				/*&:hover {
					box-shadow: 0 2px 10px fade(#AE58DC, 40%);
				}*/
				.col-icon {
					color: #AE58DC;
				}
			}
			&:last-child {
				border-top-color: #FF7B9B;
				/*&:hover {
					box-shadow: 0 2px 10px fade(#FF7B9B, 40%);
				}*/
				.col-icon {
					color: #FF7B9B;
				}
				border-right: 0 none;
			}
		}
		.block {
			position: relative;
			padding: 10px 18px 15px;
		}
		.arrow {
			display: block;
			position: absolute;
			right: -15px;
			top: 50%;
			margin-top: -14px;
			font-size: 25px;
			color: @color-grey-4;
			padding: 1px 0 0 2px;
			background: #fff;
			border: 1px solid @color-grey-4;
			border-radius: 50%;
			transition: color .3s, background .3s, border-color .3s;
		}
		.col-icon {
			display: block;
			margin: 0 0 5px;
			font-size: 70px;
			color: #A3BBBD;
			//text-shadow: 0 1px 0 #fff;
			//transition: color .3s 5s;
		}
		.col-text {
			display: block;
			font: 19px/1.2em @font-condensed;
			//text-shadow: 0 1px 0 #fff;
			color: #A3BBBD;
			transition: color .3s;
		}
	}
}