.section-infographic-numeric {
	.section-cnt {
		padding-top: 20px;
		padding-bottom: 10px;
	}

	.title {
		font: 700 32px/1.2em @font-condensed;
		text-align: center;
		text-transform: uppercase;
		color: #5a8b92;
		letter-spacing: 2px;
	}
	.subtitle {
		font-weight: 300;
		font-size: 20px;
		line-height: 1.2em;
		text-align: center;
		color: #869a9d;
	}
	.items {
		max-width: 930px;
		position: relative;
		z-index: 1;
		text-align: center;
	}
	.item {
		display: block;
		margin: 10px 0 0;
		padding: 20px 0;
		position: relative;
		text-align: center;
		&:link, &:visited, &:hover {
			color: #383838;
			text-decoration: none;
		}
		&:last-child {
			border-right: none;
		}
		&:hover {
			background: linear-gradient(to bottom, @color-grey-5, @color-grey-3);
		}
		.clearfix();
	}
	.item-icon {
		width: 100%;
		margin: 10px 0;
	}
	.svg-icon {
		transform: scale(2);
	}
	.item-number {
		font: 700 45px/1em @font-condensed;
		small {
			font-size: 20px;
			margin-left: 5px;
		}
	}
	.item-text {
		font: 20px/1em @font-condensed;
		overflow: hidden;
	}
	.btn-cnt {
		padding: 0 15px;
		text-align: center;
	}
	.btn-order {
		display: inline-block;
		padding: 5px 20px 7px;
		white-space: normal;
		opacity: .6;
		background: mix(@color-green-btn-1, @color-green-btn-2);
		background: linear-gradient(to bottom, @color-green-btn-1, @color-green-btn-2);
		border: 0 none;
		border-bottom: 1px solid @color-green-btn-2;
		box-shadow: 0 0 10px @color-green-btn-1 inset;
		border-radius: 7px;
		font-size: 20px;
		font-weight: 400;
		text-transform: none;
		text-shadow: 0 -1px 0 rgba(0,0,0,.4);
		text-align: center;
		&, &:link, &:visited {
			color: #fff;
			text-decoration: none;
		}
		&:hover {
			opacity: 1;
			background: mix(@color-green-btn-1, lighten(@color-green-btn-2, 10%));
			background: linear-gradient(to bottom, @color-green-btn-1, lighten(@color-green-btn-2, 8%));
			color: #fff;
			text-decoration: none;
		}
	}
}

@media (min-width: @vw-iphone-land) {
	.section-infographic-numeric {
		.item {
			display: inline-block;
			vertical-align: top;
			width: 49%;
		}
	}
}
@media (min-width: @vw-tablet-lg) {
	.section-infographic-numeric {
		.section-cnt {
			padding-top: 45px;
			padding-bottom: 10px;
		}
		.items {
			width: 100%;
			display: table;
			table-layout: fixed;
			margin: 0 auto;
			border-spacing: 0;
			box-shadow: 0 1px 3px @color-grey-2;
		}
		.item {
			display: table-cell;
			vertical-align: middle;
			width: 25%;
			padding: 20px 0 20px 12px;
			text-align: left;
		}
		.item-icon {
			width: 60px;
			float: left;
			margin: 10px 12px 0 6px;
			text-align: center;
		}
		.svg-icon {
			transform: scale(1.4);
		}
		.item-number {
			font: 700 45px/1em @font-condensed;
			small {
				font-size: 20px;
				margin-left: 5px;
			}
		}
		.item-text {
			font: 20px/1em @font-condensed;
			overflow: hidden;
		}
		.btn-cnt {
			padding: 0;
		}
		.btn-order {
			border-radius: 0 0 7px 7px;
		}
	}
}