@zindex-modal: 5000;
@zindex-modal-background: @zindex-modal - 10;

.modal {
	z-index: @zindex-modal;
}
.modal-backdrop {
	z-index: @zindex-modal-background;
	background-color: #000;
	&.in {
		.opacity(.9) !important;
	}
}
.modal-close-btn {
	display: none;
	position: absolute;
	right: -60px;
	top: 0;
	color: #fff;
	font-size: 40px;
	cursor: pointer;
	transition: transform .4s;
	&:hover {
		transform: rotate(90deg) scale(1.1);
	}
}

@media (min-width: @vw-tablet-lg) {
	.modal-dialog {
		width: 850px;
	}
	.modal-close-btn {
		display: block;
	}
}