.modal-iconic {
	.col {
		display: table-cell;
		vertical-align: top;
	}
	.col-icon {
		width: 60px;
	}
	.icon {
		display: inline-block;
		margin: 15px 0;
		font-size: 3em;
		vertical-align: top;
		color: @color-green-2;
	}
}

@media (min-width: @vw-iphone-5-land) {
	.modal-iconic {
		.col-icon {
			width: 80px;
		}
		.icon {
			font-size: 3.5em;
		}
	}
}