.product-price {
	.product-price-sort {
		.padding-mobile();
		.title {
			margin-bottom: 5px;
		}
		.rules {}
		.rule {
			cursor: pointer;
			.icon-on {
				display: none;
			}
			&.active {
				.icon-off {
					display: none;
				}
				.icon-on {
					display: inline-block;
				}
			}
			a {
				&, &:visited, &:hover {
					color: @color-blue-1;
					text-decoration: none;
				}
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.product-price-list {
		margin: 20px 0;
		.padding-mobile();
		border-bottom: 1px solid @color-grey-1;
	}
	.product-price-title {
		margin: 0 0 5px;
		font: 22px/1.2em @font-condensed;
		color: @color-green-1;
		.word-break();
		a {
			&, &:visited, &:hover {
				color: inherit;
				text-decoration: none;
			}
			&:hover {
				color: @color-blue-1;
			}
		}
	}
	.product-price-item {
		margin: 0 0 8px;
		padding: 12px 0 5px;
		border-top: 1px solid @color-grey-3;
		&:first-child {
			border-top: 0 none;
		}
	}
	.product-price-item-name {
		padding: 0 0 4px;
		font-size: 16px;
		line-height: 1.2em;
		font-weight: 500;
		color: desaturate(darken(@color-blue-1, 25%), 15%);
		.word-break();
		a {
			&, &:visited, &:hover {
				color: desaturate(darken(@color-blue-1, 25%), 15%);
				text-decoration: none;
			}
			&:hover {
				color: @color-blue-1;
			}
		}
	}
	.product-price-item-price {
		padding: 0 0 10px;
		.integer {
			font-size: 20px;
			font-weight: 600;
		}
		.delimiter {
			font-size: 20px;
			color: @color-grey-2;
		}
		.fraction {
			color: @color-grey-2;
		}
		.currency {
			color: @color-grey-2;
		}
	}
	.product-price-item-btn {
		margin: 0 0 8px;
		a {
			display: inline-block;
			padding: 3px 15px 3px 12px;
			font-size: 13px;
			font-weight: 500;
			text-transform: uppercase;
			background: #fff;
			border-radius: 5px;
			border: 2px solid @color-blue-1;
			white-space: nowrap;
			&, &:visited {
				color: @color-blue-1;
				text-decoration: none;
			}
			&:hover {
				color: #fff;
				text-decoration: none;
				background: @color-blue-1;
			}
		}
		.icon {
			font-size: 1.4em;
			vertical-align: text-top;
		}
		.text {
			font-size: 1em;
		}
	}
}
.product-price-left,
.product-price-right {
	.text-block {
		.padding-mobile();
	}
}

@media (min-width: @vw-iphone-5-land) {
	.product-price {
		.product-price-sort {
			.title {
				margin-right: 10px;
			}
			.title,
			.rules {
				display: inline-block;
			}
			.rule {
				display: inline-block;
				margin-right: 12px;
			}
		}
		.product-price-title {
			margin: 0 0 12px;
			font-size: 26px;
		}
		.product-price-item {
			display: table;
			width: 100%;
			border: 0 none;
			margin: 0;
		}
		.product-price-item-left,
		.product-price-item-right {
			display: table-cell;
			vertical-align: top;
		}
		.product-price-item-left {

		}
		.product-price-item-right {
			width: 42%;
			padding-left: 4%;
		}
		.product-price-item-btn {
			margin: 0 0 15px;
			text-align: right;
			a {
				padding: 2px 12px 2px 4px;
				font-size: 14px;
				font-family: @font-condensed;
			}
		}
	}
}
@media (min-width: @vw-tablet-sm) {
	.product-price {
		.product-price-list {
			margin: 25px 0;
			padding: 0 30px 20px;
		}
		.product-price-sort {
			.padding-tablet();
		}
		.product-price-title {
			font-size: 30px;
		}
		.product-price-item-right {
			width: 35%;
			padding-left: 4%;
		}
		.product-price-item-name {
			padding: 0 0 8px;
			font-size: 20px;
			line-height: 1.4em;
			font-weight: 400;
		}
		.product-price-item-price {
			padding: 0 0 10px;
			.integer {
				font-size: 26px;
			}
			.delimiter {
				font-size: 26px;
			}
		}
		.product-price-item-btn {
			a {
				padding: 3px 15px 3px 5px;
				font-size: 15px;
			}
		}
	}
	.product-price-left,
	.product-price-right {
		.text-block {
			.padding-tablet();
		}
	}
}
@media (min-width: @vw-tablet-lg) {
	.product-price {
		.product-price-item {
			padding: 5px 0;
		}
		.product-price-item-right {
			width: 35%;
			padding-left: 2%;
		}
		.product-price-item-price {
			.integer {
				font-size: 22px;
			}
		}
		.product-price-lists {
			.padding-tablet();
			display: table;
			width: 100%;
			margin: 30px 0;
		}
		.product-price-list {
			display: table-cell;
			vertical-align: top;
			width: 50%;
			margin: 0;
			padding: 0;
			border: 0 none;
			&:nth-of-type(odd) {
				padding-right: 15px;
			}
			&:nth-of-type(even) {
				padding-left: 15px;
			}
		}
		.product-price-title {
			font-size: 24px;
		}
		.product-price-item-btn {
			a {
				padding: 1px 10px 1px 5px;
				border-width: 1px;
				font-size: 12px;
			}
		}
		.product-price-item-name {
			font-size: 16px;
		}
	}
}
@media (min-width: @vw-laptop-sm) {
	.product-price {
		.product-price-sort {
			padding: 0;
		}
		.product-price-lists {
			margin: 20px 0 0;
			padding: 0;
		}
		.product-price-list {
			display: inline-block;
			padding-top: 15px;
			padding-bottom: 10px;
			&:hover {
				background: #fff;
				background: linear-gradient(to bottom, #fff, #fff 80%, @color-grey-6);
				box-shadow: 0 0 1px rgba(0,0,0,.3), 0 1px 4px rgba(0,0,0,.15);
				border-radius: 5px;
			}
			&:nth-of-type(odd) {
				padding-left: 20px;
				margin-left: -20px;
			}
			&:nth-of-type(even) {
				padding-left: 20px;
				padding-right: 15px;
				margin-right: -15px;
			}
		}
	}
	.product-price-left,
	.product-price-right {
		.text-block {
			padding: 0;
		}
	}
}