.request-form {
	margin: 60px 0;
	.request {
		max-width: 720px;
		margin: 0 auto;
	}
	.form {
		margin: 20px 0;
	}
	.title {
		font: 300 30px/1em @font-condensed;
		text-transform: uppercase;
		text-align: center;
	}
	.form-submit {
		margin: 1em 0;
		text-align: center;
	}
	[type="submit"] {
		.btn-green-small();
		display: inline-block;
		padding: 10px;
		width: 100%;
		max-width: @vw-iphone;
		font-size: 18px;
		line-height: 1.5em;
	}
	.form-checkbox {
		text-align: center;
	}
	.notice {
		margin: 0;
		color: @color-grey-2;
		font-size: .8em;
		line-height: 1.1em;
		text-align: center;
	}
}

@media (min-width: @vw-iphone-5-land) {
	.request-form {
		.notice {
			padding: 0 10%;
			font-size: .9em;
		}
	}
}

@media (min-width: @vw-tablet-lg) {
	.request-form {
		.notice {
			padding: 0 10%;
			font-size: .95em;
		}
	}
}

@media (min-width: @vw-laptop-sm) {
	.request-form {
		.request {
			margin: 0 0 0 -30px;
		}
		.form {
			margin: 20px 0;
		}
		.title {
			padding: 0 0 0 30px;
			text-align: left;
		}
		.form-submit {
			margin: 1em 0 0;
			text-align: left;
		}
		[type="submit"] {
			padding: 10px 15px;
			width: auto;
		}
		.form-checkbox {
			text-align: left;
		}
		.notice {
			padding: 0 20% 0 0;
			text-align: left;
		}
	}
}