.services-dialog-content {
	display: none;
}

.services-dialog {

	.services-dialog-content {
		display: block;
	}

	.modal-dialog {}

	.modal-body {
		padding: 0;
	}
	.modal-header,
	.modal-content {
		border-radius: 0;
	}
	//.bootstrap-dialog-title {
	//	color: #fff;
	//	display: inline-block;
	//	font-size: 16px;
	//}
	.bootstrap-dialog-message {
		font-size: 16px;
	}
	//.bootstrap-dialog-button-icon {
	//	margin-right: 3px;
	//}
	//.bootstrap-dialog-close-button {
	//	font-size: 20px;
	//	float: right;
	//	opacity: 0.9;
	//	&:hover {
	//		cursor: pointer;
	//		opacity: 1;
	//	}
	//}

	.services-list {
		margin: 0;
	}
}

@media (max-width: @vw-iphone-land) {
	.services-dialog {
		.modal-dialog {
			margin: 0;
		}
	}
}
@media (min-width: @vw-laptop-sm) {
	.services-dialog {
		.modal-dialog {
			width: 1260px;
		}
	}
}