.services-list-level-2 {
	width: @vw-iphone - 10px;
	min-height: 300px;
	padding: 0 0 55px;
	position: fixed;
	z-index: 1100;
	left: 5px;
	top: 5px;
	background: #fff;
	box-shadow: 0 0 15px rgba(0,0,0,.2);
	transform: translateX(-5000px);
	transition: transform .5s;
	&.active {
		transform: translateX(0);
	}
}
.level-2 {
	padding: @tile-padding;
}
.level-2-header {
	margin: @tile-header-margin;
	padding-right: 25px;
}
.level-2-header-link {
	font-size: 18px;
	font-weight: 700;
	white-space: nowrap;
	overflow: hidden;
	&, &:visited, &:hover {
		color: @color-blue-1;
		text-decoration: none;
	}
}
.level-2-item {
	margin: @tile-list-item-margin;
	padding: @tile-list-item-padding;
	position: relative;
	&:hover {
		background: #effeff;
	}
	&:after {
		content: "";
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -5px;
		opacity: 0;
		.arrow(6px, #fff, right);
	}
}
.level-2-item-link {
	display: block;
	position: relative;
	font-size: 18px;
	line-height: 1.2em;
	/*white-space: nowrap;*/
	&, &:visited {
		color: @color-blue-1;
		text-decoration: none;
	}
	&:hover {
		color: @color-blue-1;
		text-decoration: none;
	}
}
.level-2-item-more {
	display: none;
	margin-top: 3px;
	color: #c2dfe2;
	font-size: 13px;
	line-height: 1em;
	text-transform: uppercase;
}
.level-2-item-more-link {
	display: inline-block;
	margin: 0 10px 0 0;
	&, &:visited {
		color: inherit;
		text-decoration:underline;
	}
	&:hover {
		color: inherit;
		text-decoration: none;
	}
}
.level-2-item.active {
	background: @color-blue-1;
	&:after {
		opacity: 1;
	}
	.level-2-item-more {
		display: block;
	}
	.level-2-item-link {
		&, &:visited, &, &:hover {
			color: #fff;
		}
	}
}

.services-list-level-2-back {
	position: absolute;
	bottom: 0;
	margin: 20px 0 10px;
	padding: 0 0 0 20px;
	font-size: 23px;
	color: @color-blue-1;
	cursor: pointer;
	> i {
		font-size: 1.5em;
		vertical-align: middle;
	}
	&:hover {
		color: lighten(@color-blue-1, 10%);
	}
}

@media (min-width: @vw-iphone-5-land) {
	.services-list-level-2 {
		width: floor(@vw-iphone-5-land/2);
		left: 0;
	}
}
@media (min-width: @vw-iphone-6-land) {
	.services-list-level-2 {
		width: floor(@vw-iphone-6-land/2);
	}
}
@media (min-width: @vw-tablet-sm) {
	.services-list-level-2 {
		min-height: 450px;
	}
}
@media (min-width: @vw-tablet-lg) {
	@container-width: @vw-tablet-lg - 24px;
	.services-list-level-2 {
		width: floor(@container-width/3);
	}
}
@media (min-width: @vw-laptop-sm) {
	@container-width: @vw-laptop-sm - 40px;
	.services-list-level-2 {
		width: floor(@container-width/4);
		position: absolute;
		top: 0;
	}
	.level-2-item {
		margin: 0;
	}
}