.service-selection {
	.section-cnt {}
	.wrap {
		padding: 40px 0;
		//border-top: 2px solid @color-grey-3;
	}
	.title {
		font: 300 30px/1em @font-condensed;
		text-transform: uppercase;
		text-align: center;
	}
	.buttons {
		margin: 30px 0 0;
		text-align: center;
		.btn {
			.flat-button(@color-blue-1, 18px);
			display: inline-block;
			margin: 0;
			padding: 8px 20px;
			font-weight: 900;
			text-shadow: none;
			text-transform: uppercase;
		}
	}
	.selection {
		margin: 15px 0;
	}
	.service-selection-item {
		margin: 0 0 15px;
		padding: 0 5px;
		.clearfix();
	}
	.service-selection-item-link {
		display: block;
		&, &:link, &:visited {
			color: @color-default;
			text-decoration: none;
		}
		&:hover {
			color: @color-default;
			text-decoration: none;
		}
	}
	.service-selection-item-name {
		display: block;
		padding: 5px 5px 10px;
		font-size: 20px;
		line-height: 1.2em;
		font-weight: 300;
		text-align: center;
	}
	.service-selection-item-order,
	.service-selection-item-online {
		float: left;
		width: 50%;
		background: @color-blue-1;
		padding: 10px 0 8px;
		color: #fff;
		font: 300 16px/1em @font-condensed;
		text-align: center;
		white-space: nowrap;
		&:hover {
			background: darken(@color-blue-1, 10%);
		}
		.icon {
			vertical-align: bottom;
		}
	}
	.service-selection-item-order {
		font-weight: 400;
		border-radius: 0 8px 8px 0;
	}
	.service-selection-item-online {
		border-radius: 8px 0 0 8px;
		border-right: 1px solid #fff;
		.icon {
			display: none;
		}
	}
	.service-selection-item-fields {
		display: none;
	}
}
.service-selection-item.full {
	.service-selection-item-fields {
		display: block;
		margin: 8px 0;
		text-align: center;
		&:empty {
			display: none;
		}
	}
	.service-selection-item-name {
		padding-bottom: 0;
	}
	.service-selection-item-term,
	.service-selection-item-price {
		display: inline-block;
		font-size: 18px;
		line-height: 1em;
		font-weight: 500;
		white-space: nowrap;
		overflow: hidden;
		.icon {
			vertical-align: top;
		}
	}
	.service-selection-item-term {
		padding: 0 10px 0 0;
	}
	.service-selection-item-price {
		padding: 0 0 0 10px;
	}
}

@media (min-width: @vw-iphone-land) {
	.service-selection {
		.service-selection-item-online {
			.icon {
				display: inline-block;
			}
		}
	}
}
@media (min-width: @vw-iphone-land) and (max-width: (@vw-tablet-sm - 1)) {
	.service-selection {
		.service-selection-item-order,
		.service-selection-item-online {
			font-size: 20px;
		}
	}
}
@media (min-width: @vw-iphone-5-land) {
	.service-selection {
		.title {
			font-size: 37px;
		}
	}
}
@media (min-width: @vw-iphone-5-land) and (max-width: (@vw-tablet-sm - 1)) {
	.service-selection {
		.title {
			font-size: 37px;
		}
		.buttons {
			.btn {
				font-size: 23px;
			}
		}
		.service-selection-item {
			padding: 0 15px 26px;
			border-bottom: 1px solid @color-grey-4;
		}
		.service-selection-item-link {
			text-align: center;
		}
		.service-selection-item-name {
			font-size: 24px;
		}
		.service-selection-item-order,
		.service-selection-item-online {
			display: inline-block;
			float: none;
			width: 250px;
			color: @color-blue-1;
			background: #fff;
			border: 1px solid transparent;
			padding: 12px 0 10px;
			border-radius: 10px;
			font: 400 18px/1em;
		}
		.service-selection-item-order {
			border-color: currentColor;
			&:hover {
				background: @color-blue-1;
				color: #fff;
			}
		}
		.service-selection-item-online {
			&:hover {
				background: lighten(@color-blue-1, 38%);
				border-color: lighten(@color-blue-1, 30%);
			}
		}
	}
}
@media (min-width: @vw-tablet-sm) {
	.service-selection {
		.title, .company-common-header-title {
			margin-bottom: .5em;
		}
		.selection {
			padding: 0 15px;
		}
		.service-selection-item {
			margin: 0 0 5px;
			padding: 5px 15px 0;
			background-color: @color-grey-5;
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
			transition: all .2s;
			&:hover {
				background-color: #fffbe8;
			}
		}
		.service-selection-item-link {
			text-align: center;
		}
		.service-selection-item-name {
			margin: 0 0 5px;
			padding: 0;
			font-size: 20px;
			font-weight: 400;
		}
		.service-selection-item-order,
		.service-selection-item-online {
			display: inline-block;
			float: none;
			width: auto;
			background: none;
			border: 0 none;
			border-bottom: 2px solid transparent;
			padding: 6px;
			color: @color-blue-1;
			font: 300 18px/1em @font-condensed;
			text-align: center;
			border-radius: 0;
			&:hover {
				background: none;
				color: @color-blue-1;
				border-bottom-color: @color-blue-1;
				.icon {
					color: inherit;
				}
			}
			.icon {
				vertical-align: middle;
				color: inherit;
			}
		}
		.service-selection-item-online {
			margin-right: 15px;
		}
	}
	.service-selection-item.full {
		.service-selection-item-fields {
			margin: 12px 0 5px;
		}
		.service-selection-item-name {
			padding-bottom: 0;
		}
		.service-selection-item-term,
		.service-selection-item-price {
			color: lighten(@color-default, 20%);
			font-weight: 400;
		}
	}
}
@media (min-width: @vw-tablet-lg) {
	.service-selection {
		.service-selection-item {
			padding: 0;
		}
		.service-selection-item-link {
			text-align: left;
			font-size: 0;
		}
		.service-selection-item-name {
			display: inline-block;
			margin: 0;
			padding: 15px 5px 15px 20px !important;
			width: 61%;
			font-size: 19px;
			line-height: 1em;
			vertical-align: middle;
			text-align: left;
		}
		.service-selection-item-order,
		.service-selection-item-online {
			display: inline-block;
			width: 22%;
			margin: 0;
			padding: 15px 0;
			border: 0 none;
			font-size: 18px;
			font-weight: 400;
			line-height: 1em;
			text-align: left;
			vertical-align: middle;
			color: lighten(@color-default, 10%);
			&:hover {
				color: #000;
				.icon {
					color: inherit;
				}
			}
		}
		.service-selection-item-order {
			width: 17%;
		}
		.service-selection-item-online {
			width: 22%;
		}
	}
	.service-selection-item.full {
		.service-selection-item-name {
			width: 36%;
			font: 400 21px/1.3em @font-condensed;
		}
		.service-selection-item-fields {
			width: 25%;
			display: inline-block;
			margin: 0;
			padding: 15px 0;
			vertical-align: middle;
			font-size: 18px;
			line-height: 1em;
		}
		.service-selection-item-term,
		.service-selection-item-price {
			font-family: @font-condensed;
			color: lighten(@color-default, 30%);
		}
		.service-selection-item-term {
			padding: 0 5px 0 0;
		}
		.service-selection-item-price {
			padding: 0 0 0 5px;
		}
	}
}
@media (min-width: @vw-laptop-sm) {
	.service-selection {
		.selection {
			padding: 0;
		}
	}
}