@tile-padding: 15px 0;
@tile-header-margin: 0 0 12px 20px;
@tile-list-item-margin: 4px 0 2px;
@tile-list-item-padding: 6px 10px 6px 20px;

.services-dialog {
	font-family: @font-condensed;

	&.services-dialog-level-1 {
		~ .modal-backdrop {
			display: none;
		}
	}

	.services-list {
		z-index: 1000;
		padding: 20px 0;

		.tiles {

		}
		.tile {
			width: @vw-iphone - 10px;
			margin: 0 auto;
			padding: @tile-padding;
			position: relative;
			cursor: pointer;
		}
		.tile-header {
			margin: @tile-header-margin;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.tile-header-link,
		.tile-header-label {
			position: relative;
			font-size: 17px;
			font-weight: 700;
			white-space: nowrap;
		}
		.tile-header-link {
			border-bottom: 1px solid @color-blue-1;
			&:after {
				.arrow-after(6px, currentColor, top);
				margin-top: -1px;
			}
			&, &:link, &:visited {
				color: @color-blue-1;
				text-decoration: none;
			}
			&:hover {
				border-bottom-color: @color-red-2;
				color: @color-red-2;
				text-decoration: none;
			}
		}
		.tile-header-label {
			color: @color-blue-1;
		}
		.tile-body {}
		.tile-list-item {
			margin: @tile-list-item-margin;
			padding: @tile-list-item-padding;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.tile-list-link {
			position: relative;
			font-size: 18px;
			line-height: 1.2em;
			&, &:link, &:visited {
				color: lighten(@color-default, 15%);
				text-decoration: none;
			}
			&:hover {
				color: @color-red-2;
				text-decoration: none;
			}
			&--more {
				font-size: 13px;
				font-weight: 500;
				text-transform: uppercase;
				&, &:link, &:visited {
					color: lighten(@color-default, 40%);
				}
				&:after {
					content: "";
					display: inline-block;
					margin-left: 6px;
					.arrow(4px, currentColor, left);
				}
			}
		}
		.level-header {
			margin: 0 0 20px 15px;
			padding: 0;
			color: @color-grey-1;
			font-size: 30px;
			line-height: 1.3em;
			font-weight: 300;
			.icon {
				margin: 0 5px 0 0;
			}
			.label {
				cursor: pointer;
			}
			&:hover {
				color: @color-red-2;
			}
		}
	}
}

@media (min-width: @vw-iphone-5-land) {
	.services-dialog {
		.services-list {
			width: @vw-iphone-5-land;
			margin: 0 auto;
			.tiles {
				.clearfix();
			}
			.tile {
				float: left;
				width: floor(@vw-iphone-5-land/2);
				margin: 0;
				border: 1px solid transparent;
				&:nth-of-type(2n+3) {
					clear: both;
				}
			}
		}
	}
}
@media (min-width: @vw-iphone-6-land) {
	.services-dialog {
		.services-list {
			width: @vw-iphone-6-land;
			.tile {
				width: floor(@vw-iphone-6-land/2);
			}
			.tile-header-link,
			.tile-header-label {
				font-size: 19px;
			}
		}
	}
}
@media (min-width: @vw-tablet-lg) {
	@container-width: @vw-tablet-lg - 24px;
	.services-dialog {
		.services-list {
			width: @container-width;
			.tile {
				width: floor(@container-width/3);
				&:nth-of-type(2n+3) {
					clear: none;
				}
				&:nth-of-type(3n+4) {
					clear: both;
				}
			}
		}
	}
}
@media (min-width: @vw-laptop-sm) {
	@container-width: @vw-laptop-sm - 40px;
	.services-dialog {
		.services-list {
			width: @container-width;
			.tile {
				width: floor(@container-width/4);
				transition: background-color .3s, border-color .3s;
				border-left: 1px solid transparent;
				&:nth-of-type(2n+3) {
					clear: none;
				}
				&:nth-of-type(3n+4) {
					clear: none;
				}
				&:nth-of-type(4n+5) {
					clear: both;
				}
			}
			.tile-list-item {
				margin: 0;
			}
			&.level-1 {
				.tile {
					&:hover {
						background-color: #EEFBFB;
						border-left-color: #D7F1F1;
						.tile-list-link--more {
							&, &:link, &:visited {
								color: lighten(@color-default, 30%);
							}
							&:hover {
								color: @color-red-2;
							}
						}
					}
				}
			}
		}
	}
}