.services-popup {
	display: none;
	position: relative;
	top: @top-menu-height * 2;
	left: 0;
	width: 100%;
	background: #fff;
}

.services-popup-less {
	display: inline-block;
	margin: 10px 0;
	color: @color-blue-1;
	font-size: 18px;
	letter-spacing: 2px;
	text-transform: uppercase;
	cursor: pointer;
	> b {
		font-weight: 500;
		border-bottom: 2px dotted currentColor;
	}
	&:hover {
		> b {
			border-bottom-color: transparent;
		}
	}
	.icon-less {
		font-size: 1.5em;
		vertical-align: text-top;
	}
}

@media (min-width: @vw-laptop-sm) {
	.services-popup {
		position: fixed;
		background: none;
	}
	.services-popup-cnt {
		max-width: @vw-laptop-sm - 40px;
		margin: 0 auto;
		background: #fff;
		box-shadow: 0 0 20px rgba(0,0,0,.5);
	}
	.services-filter {
		margin: 0;
		padding: 10px 20px;
	}
}