.services-dialog-content {
	display: none;
}
.services-dialog-wrapper {
	padding: 20px 0;
}

.services-dialog {
	.services-dialog-content {
		display: block;
	}
	.modal-dialog {}

	.modal-body {
		padding: 0;
	}
	.modal-header,
	.modal-content {
		border: 0 none !important;
		border-radius: 0 !important;
		box-shadow: none !important;
	}
	&.services-dialog-level-1 {
		.modal-content {
			background: none !important;
		}
	}
	.bootstrap-dialog-message {
		font-size: 16px;
	}
	.services-list {
		margin: 0;
	}
	.btn-close {
		position: absolute;
		right: -45px;
		top: 0;
		padding: 0;
		font-size: 34px;
		color: #fff;
		transition: transform .4s;
		border: 0 none !important;
		background: none !important;
		box-shadow: none !important;
		&:hover {
			transform: rotate(90deg);
		}
	}
}

@media (max-width: @vw-iphone-land) {
	.services-dialog {
		.modal-dialog {
			margin: 0;
		}
	}
}
@media (min-width: @vw-laptop-sm) {
	.services-dialog {
		.modal-dialog {
			width: 1260px;
		}
	}
}