.table-tariff {
	display: none;
	width: 100%;
	margin: 40px 0 0;
	table-layout: fixed;
	.word-break();
	.tariff-header {
		padding: 0 0 15px;
		font-size: 20px;
		line-height: 1em;
		font-weight: 400;
		border-bottom: 1px solid rgba(0,0,0,.05);
		background-clip: padding-box;
		vertical-align: middle;
	}
	.advantage,
	.tariff-advantage {
		text-align: center;
		background-clip: padding-box;
		vertical-align: middle;
		background-color: rgba(255, 255, 255, .8);
		border-right: 1px solid rgba(255, 255, 255, .1);
	}
	.advantage {
		background-color: rgba(0,0,0,.5);
		border-right: 1px solid transparent;
		border-bottom: 1px solid transparent;
		color: #fff;
		padding: 10px 5px;
		font-size: 18px;
		line-height: 1.3em;
		font-family: @font-condensed;
	}
	.tariff-advantage {
		padding: 0 5px;
		text-align: center;
		font-size: 16px;
		line-height: 1em;
		font-family: @font-condensed;
	}
	.tariff-advantage-check {
		font-size: 22px;
		color: @color-green-3;
	}
	tr:hover {

	}
	.table-tariff-col-1 {
		width: 35%;
	}
	.table-tariff-col-2 {}
	.table-tariff-col-3 {}
	.table-tariff-col-4 {}
	.tariff-select {
		padding: 20px 5px;
		text-align: center;
		font-family: @font-condensed;
		b {
			white-space: nowrap;
		}
		.btn {
			padding: .5em 10px;
		}
	}
}

@media (min-width: @vw-iphone-5-land) {
	.table-tariff {
		display: table;
	}
}
@media (min-width: @vw-iphone-6p-land) {
	.table-tariff {

	}
}
@media (min-width: @vw-tablet-lg) {
	.table-tariff {
		.tariff-header {
			padding: 0 0 20px;
			font-size: 36px;
			font-weight: 300;
		}
		.advantage,
		.tariff-advantage,
		.tariff-advantage-check {
			font-family: @font-default;
		}
		.advantage {
			padding: 15px 30px;
			font-size: 25px;
		}
		.tariff-advantage {
			font-size: 18px;
		}
		.tariff-advantage-check {
			font-size: 38px;
		}
		.btn {
			font-size: 20px;
		}
	}
}