.table-tariff-mobile {
	margin: 30px 0 0;
	.tariff-selector {
		display: table;
		width: 100%;
		table-layout: fixed;
		background: rgb(74, 76, 76);
	}
	.tariff-header {
		display: table-cell;
		vertical-align: top;
		font: 18px/1em @font-condensed;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		> div {
			padding: 15px 0 12px;
			border-bottom: 3px solid transparent;
			cursor: pointer;
		}
		&.active {
			> div {
				background: rgb(66, 68, 68);
				border-bottom-color: @color-orange-1;
			}
		}
	}
	.tariffs {}
	.tariff {
		display: none;
		padding: 0 0 1px;
		&.active {
			display: block;
		}
	}
	.advantage {
		padding: 12px 0;
		background: rgba(0,0,0,.5);
		border-bottom: 1px solid transparent;
		background-clip: padding-box;
	}
	.advantage-name {
		padding: 0 15px;
		font: 18px/1.4em @font-condensed;
		color: #C3C3C3;
		text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
		text-transform: uppercase;
		&:last-child {
			color: #fff;
		}
	}
	.advantage-value {
		padding: 0 15px;
		font-size: 22px;
		line-height: 1.4em;
		color: #fff;
	}
	.md-check {
		color: @color-green-2;
		font-size: 1.5em;
		vertical-align: bottom;
	}
}

@media (min-width: @vw-iphone-5-land) {
	.table-tariff-mobile {
		display: none;
	}
}