.top-menu {
	.top-menu-bg {
		background: rgba(0,0,0,.25);
		box-shadow: none;
		border-bottom: 0 none;
	}
	ul {
		li {
			border-bottom: 0 none;
			&.active a, a:hover {
				background: none;
				border-top-color: #fff;
				color: #fff;
				text-decoration: none;
				background-color: rgba(0,0,0,.2);
			}
		}
	}
}