.fl {
	float: left;
}
.r {
	text-align: right;
}
.l {
	text-align: left;
}
.c {
	text-align: center;
}
:link, :visited {
	color: @color-blue-1;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

.typography {
	padding: 0 15px;
	font-size: 16px;
	line-height: 1.6em;

	&.no-padding {
		padding: 0;
	}

	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
		margin: 30px 0 20px;
	}
	h1, .h1 {
		font-size: 30px;
		line-height: 1em;
		font-weight: 300;
		.word-break();
	}
	h2, .h2 {
		font-size: 26px;
		line-height: 1em;
		font-weight: 400;
	}
	h3, .h3 {
		font-size: 20px;
		line-height: 1em;
		font-weight: 400;
		color: lighten(@color-default, 10%);
	}
	h4, .h4 {
		font-size: 18px;
		line-height: 1em;
		font-weight: 500;
		color: lighten(@color-default, 10%);
	}
	h5, .h5 {
		font-size: 16px;
		line-height: 1em;
		font-weight: 500;
		color: @color-default;
	}
	h6, .h6 {
		font-size: 16px;
		line-height: 1em;
		font-weight: 400;
		color: @color-default;
	}
	p {
		margin: 20px 0;
	}
	ul, ol {}
	table {}
	td, th {
		padding: 5px;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	blockquote {
		margin: 1.8em 0;
		padding: 0 0 0 1.5em;
		font-style: italic;
		border-left: 10px solid fade(@color-blue-1, 70%);
	}
	time,
	.parent-link {
		display: block;
	}
	time,
	.parent-link,
	.parent-link,
	.author-link,
	.company-link {
		font-size: .85em;
	}
	time {
		margin-right: 10px;
		color: @color-grey-2;
	}
	.parent-link {
		line-height: 1em;
	}
	.parent-link,
	.author-link,
	.company-link,
	.next-link {
		line-height: 1em;
		.icon {
			margin-right: 4px;
		}
		&:link {
			text-decoration: none;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	.author-link {
		margin-right: 10px;
	}
	img,
	iframe,
	object {
		max-width: 100%;
	}
	q {
		font-style: italic;
		&:before, &:after {
			content: ' ';
		}
	}
	small {
		line-height: 1.2em;
	}
	.text-embed {
		max-width: 100%;
		overflow: hidden;
	}
	.align-left,
	.align-right {
		margin: 2em 0;
	}
}

.table-bordered {
	border: 1px solid @table-border-color;
	td, th {
		padding: 5px;
		border: 1px solid @table-border-color;
	}
}
.table-responsive {
	overflow-x: auto;
	min-height: 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)

	@media screen and (max-width: @screen-xs-max) {
		width: 100%;
		margin-bottom: (@line-height-computed * 0.75);
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: 1px solid @table-border-color;

		// Tighten up spacing
		> .table {
			margin-bottom: 0;

			// Ensure the content doesn't wrap
			> thead,
			> tbody,
			> tfoot {
				> tr {
					> th,
					> td {
						white-space: nowrap;
					}
				}
			}
		}

		// Special overrides for the bordered tables
		> .table-bordered {
			border: 0;

			// Nuke the appropriate borders so that the parent can handle them
			> thead,
			> tbody,
			> tfoot {
				> tr {
					> th:first-child,
					> td:first-child {
						border-left: 0;
					}
					> th:last-child,
					> td:last-child {
						border-right: 0;
					}
				}
			}

			// Only nuke the last row's bottom-border in `tbody` and `tfoot` since
			// chances are there will be only one `tr` in a `thead` and that would
			// remove the border altogether.
			> tbody,
			> tfoot {
				> tr:last-child {
					> th,
					> td {
						border-bottom: 0;
					}
				}
			}

		}
	}
}

.list-content {
	margin: -.5em 0 2.5em;
	padding: 0 0 0 25px;
	color: lighten(@color-default, 10%);
	font-size: .9em;
	a {
		border-bottom: 1px dashed currentColor;
		&:link, &:visited, &:hover {
			text-decoration: none;
		}
		&:hover {
			border-bottom-color: transparent;
		}
	}
}

@media (max-width: (@vw-iphone-land - 1)) {
	.typography {
		.text-embed--img {
			width: 100%;
			float: none;
		}
	}
}
@media (min-width: @vw-iphone-land) {
	.typography {
		font-size: 18px;
		h1, .h1 {
			font-size: 36px;
			line-height: 1.2em;
		}
		h2, .h2 {
			font-size: 30px;
		}
		h3, .h3 {
			font-size: 26px;
		}
		h4, .h4 {
			font-size: 24px;
		}
		h5, .h5 {
			font-size: 20px;
		}
		h6, .h6 {
			font-size: 18px;
		}
		.align-left {
			float: left;
			margin: 0 20px 10px 0;
		}
		.align-right {
			float: right;
			margin: 0 0 10px 20px;
		}
	}
}
@media (min-width: @vw-iphone-6-land) {
	.typography {
		padding: 0 30px;

		&.no-padding {
			padding: 0;
		}

		time,
		.parent-link {
			display: inline;
		}

		td, th {
			padding: 10px 15px;
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
		.table-bordered {
			td, th {
				padding: 10px 15px;
			}
		}
	}
}
@media (min-width: @vw-tablet-lg) {
	.typography {
		padding: 0 40px;
		&.no-padding {
			padding: 0;
		}
	}
}
@media (min-width: @vw-laptop-sm) {
	.typography {
		padding: 0;
	}
}

.bg-primary,
.bg-success,
.bg-info,
.bg-warning ,
.bg-danger,
.bg-text,
.bg-hint {
	padding: .85em 30px;
	border-radius: 5px;
	min-height: 3.5em;
}
.bg-primary {
	color: #fff;
	background: @color-blue-2;
}
.bg-success {
	background: lighten(@color-green-3, 40%);
}
.bg-info {
	background: lighten(@color-blue-1, 36%);
}
.bg-warning {
	background: lighten(@color-orange-1, 35%);
}
.bg-danger {
	background: lighten(@color-red-1, 37%);
}
.bg-hint {
	background: lighten(@color-blue-1, 39%);
	border: 1px solid lighten(@color-blue-1, 34%);
	//box-shadow: 0 1px 0 rgba(0,0,0,.1);
}
.bg-text {
	background: @color-grey-6;
	border: 1px solid @color-grey-4;
}

.color-grey {
	color: @color-grey-2;
}
.color-blue {
	color: @color-blue-3;
}
.color-red {
	color: @color-red-2;
}
.color-green {
	color: @color-green-3;
}
.color-orange {
	color: @color-orange-1;
}