.bg-primary,
.bg-success,
.bg-info ,
.bg-warning ,
.bg-danger {
	padding: 10px 15px;
	border-radius: 5px;
}
.bg-primary {
	color: #fff;
	background: @color-blue-2;
}
.bg-success {
	background: lighten(@color-green-3, 40%);
}
.bg-info {
	background: lighten(@color-blue-1, 36%);
}
.bg-warning {
	background: lighten(@color-orange-1, 35%);
}
.bg-danger {
	background: lighten(@color-red-1, 37%);
}