@font-default: Roboto, Arial, 'Open Sans', sans-serif;
@font-condensed: 'Roboto Condensed', Tahoma, sans-serif;

@color-default: #555;
@color-blue-1: #63bdc5;
@color-blue-2: #00a5bd;
@color-blue-3: #4fb2c1;
@color-green-1: #48a4a0;
@color-green-2: #00d069;
@color-green-3: #34b530;
@color-grey-1: #a7a7a7;
@color-grey-2: #b6b6b6;
@color-grey-3: #f2f2f2;
@color-grey-4: #e0e0e0;
@color-grey-5: #fcfcfc;
@color-grey-6: #f8f8f8;
@color-cyan-1: #82f5ff;
@color-orange-1: #fbc02d;
@color-red-1: #fb3500;
@color-red-2: #F16D38;
@color-yellow-1: #fdffca;

@color-orange-btn-1: #ffea00;
@color-orange-btn-2: #b5631a;
@color-green-btn-1: #00ff2a;
@color-green-btn-2: #00a70c;

@vw-iphone: 320px;
@vw-android: 360px;
@vw-iphone-6: 375px;
@vw-iphone-6p: 414px;
@vw-iphone-land: 480px;
@vw-iphone-5-land: 568px;
@vw-iphone-6-land: 667px;
@vw-iphone-6p-land: 736px;

@vw-tablet-sm: 768px;
@vw-tablet-lg: 1024px;

@vw-laptop-sm: 1280px;
@vw-laptop-md: 1366px;
@vw-laptop-lg: 1440px;

@vw-desktop-sm: 1600px;
@vw-desktop-md: 1920px;
@vw-desktop-lg: 2560px;

@input-border-focus: @color-blue-1;

@img: '../img/';
@less: '../less/stabfort/';
@svg: '@{img}svg/';