.widget-padding() {
	padding-left: 15px;
	padding-right: 15px;
}

.widget-news {
	margin: 40px 0;
	p {
		margin: 0;
		padding: 0;
	}
	.title {
		font: 300 30px/1em @font-condensed;
		text-transform: uppercase;
	}
	.open-icon {
		font-size: .8em;
		color: @color-grey-2;
		&:hover {
			color: @color-grey-1;
		}
	}
	.news {
		.widget-padding();
	}
	.news-item {
		margin: 20px 0;
		.clearfix();
	}
	.news-item-img {
		display: table-cell;
		width: 115px;
		vertical-align: top;
		padding: 5px 15px 0 0;
		img {
			width: 100%;
			height: auto;
		}
	}
	.news-item-title {
		display: table-cell;
		vertical-align: top;
		font-size: 15px;
		line-height: 1.2em;
		font-weight: 500;
		a {
			&, &:link, &:visited {
				color: @color-blue-1;
				text-decoration: none;
			}
			&:hover {
				color: @color-blue-1;
				text-decoration: none;
			}
		}
	}
	.news-item-preview {
		margin: .5em 0;
		font-size: 15px;
		line-height: 1.2em;
		p {
			margin-bottom: .5em;
		}
	}
	.news-item-date {
		margin: 0 0 .5em;
		color: @color-grey-2;
		font-size: 14px;
		line-height: 1em;
	}
	.detail-link {
		&, &:link, &:visited {
			color: @color-blue-1;
			text-decoration: underline;
		}
		&:hover {
			color: @color-blue-1;
			text-decoration: none;
		}
		&:after {
			content: "";
			.arrow(4px, currentColor, left, block);
			margin-left: 5px;
		}
	}
	.date {
		margin: 0 0 0 5px;
	}
	.more {
		font: 22px/1.4em @font-condensed;
		a {
			position: relative;
			&, &:link, &:visited {
				color: @color-grey-2;
				text-decoration: underline;
			}
			&:hover {
				color: @color-grey-2;
				text-decoration: none;
			}
			&:after {
				content: "";
				.arrow(6px, currentColor, left, block);
				margin-left: 8px;
			}
		}
	}
}

@media (min-width: @vw-iphone-land) {
	.widget-news {
		.news-item-img {
			width: 215px;
		}
		.news-item-title {
			font-size: 20px;
			line-height: 1.4em;
		}
		.news-item-preview {
			font-size: 17px;
			line-height: 1.2em;
		}
	}
}
@media (min-width: @vw-iphone-5-land) {
	.widget-news {
		.news-item-title {
			font-size: 24px;
			line-height: 1.4em;
			font-weight: 400;
		}
	}
}
@media (min-width: @vw-tablet-sm) {
	.widget-padding() {
		padding-left: 20px;
		padding-right: 20px;
	}
	.widget-news {
		.news {
			.widget-padding();
		}
		.title {
			margin-left: 235px;
			padding-bottom: 5px;
			font-size: 40px;
			border-bottom: 2px solid @color-grey-4;
		}
		&.widget-news-full-width {
			.title {
				margin-left: 0;
			}
		}
		.news-item {
			margin: 30px 0;
			&:last-child {
				margin-bottom: 10px;
			}
		}
		.news-item-img {
			display: block;
			float: left;
			margin: 0 20px 10px 0;
		}
		.news-item-title {
			display: block;
			font-size: 25px;
			line-height: 1.2em;
			a {
				&, &:link, &:visited {
					color: @color-default;
					text-decoration: none;
				}
				&:hover {
					color: @color-blue-1;
					text-decoration: none;
				}
			}
		}
		.news-item-preview {
			margin: .8em 0;
			font-size: 16px;
			line-height: 1.2em;
			color: @color-grey-1;
			overflow: hidden;
		}
	}
}
@media (min-width: @vw-laptop-sm) {
	.widget-news {
		.news {
			padding: 0;
		}
	}
}