.svg-common() {
	background: url(svg/sprite.view.svg) no-repeat;
}

.svg-archive {
	.svg-common();
	background-position: 0 0;
}

.svg-archive-dims {
	width: 50px;
	height: 50px;
}

.svg-clerc {
	.svg-common();
	background-position: 50% 0;
}

.svg-clerc-dims {
	width: 50px;
	height: 50px;
}

.svg-document {
	.svg-common();
	background-position: 0 50%;
}

.svg-document-dims {
	width: 50px;
	height: 50px;
}

.svg-excel {
	.svg-common();
	background-position: 50% 50%;
}

.svg-excel-dims {
	width: 50px;
	height: 50px;
}

.svg-manager {
	.svg-common();
	background-position: 100% 0;
}

.svg-manager-dims {
	width: 50px;
	height: 50px;
}

.svg-pdf {
	.svg-common();
	background-position: 100% 50%;
}

.svg-pdf-dims {
	width: 50px;
	height: 50px;
}

.svg-word {
	.svg-common();
	background-position: 0 100%;
}

.svg-word-dims {
	width: 50px;
	height: 50px;
}

.svg-worker {
	.svg-common();
	background-position: 50% 100%;
}

.svg-worker-dims {
	width: 50px;
	height: 50px;
}

