.svg-common() {
	background: url(svg/sprite.view.svg) no-repeat;
}

.svg-advertise {
	.svg-common();
	background-position: 33.333333333333336% 0;
}

.svg-advertise-dims {
	width: 50px;
	height: 50px;
}

.svg-car {
	.svg-common();
	background-position: 0 100%;
}

.svg-car-dims {
	width: 50px;
	height: 50px;
}

.svg-car-repair {
	.svg-common();
	background-position: 0 50%;
}

.svg-car-repair-dims {
	width: 50px;
	height: 50px;
}

.svg-construction {
	.svg-common();
	background-position: 33.333333333333336% 50%;
}

.svg-construction-dims {
	width: 50px;
	height: 50px;
}

.svg-country {
	.svg-common();
	background-position: 66.66666666666667% 0;
}

.svg-country-dims {
	width: 50px;
	height: 50px;
}

.svg-engineer {
	.svg-common();
	background-position: 66.66666666666667% 50%;
}

.svg-engineer-dims {
	width: 50px;
	height: 50px;
}

.svg-expertise {
	.svg-common();
	background-position: 0 0;
}

.svg-expertise-dims {
	width: 50px;
	height: 50px;
}

.svg-finance {
	.svg-common();
	background-position: 33.333333333333336% 100%;
}

.svg-finance-dims {
	width: 50px;
	height: 50px;
}

.svg-insurance {
	.svg-common();
	background-position: 66.66666666666667% 100%;
}

.svg-insurance-dims {
	width: 50px;
	height: 50px;
}

.svg-polygraphy {
	.svg-common();
	background-position: 100% 0;
}

.svg-polygraphy-dims {
	width: 50px;
	height: 50px;
}

.svg-registry {
	.svg-common();
	background-position: 100% 50%;
}

.svg-registry-dims {
	width: 50px;
	height: 50px;
}

.svg-transport {
	.svg-common();
	background-position: 100% 100%;
}

.svg-transport-dims {
	width: 50px;
	height: 50px;
}

